// Utilities
// -------------------------

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}


// Modular media queries. It keeps media query styles near the styles they override.
// You need to define some variables that contains 

// @author Louis Lazaris
// @link http://www.impressivewebs.com/modular-css-media-queries-sass/

// Media queries breakpoints
// --------------------------------------------------
$mq-media:                    screen !default;
$mq-feature-min-width:        min-width !default;
$mq-feature-max-width:        max-width !default;

// Medium screen / desktop / tablet
$screen-md-min:               1004px !default;

// Small screen / mobile / tablet
$screen-sm-min:               1003px !default;

@mixin modular-mq($breakpoint) {
  @if $breakpoint == md {
    @media #{$mq-media} and ($mq-feature-min-width: $screen-md-min) { @content; }
  }
  @else if $breakpoint == sm {
    @media #{$mq-media} and ($mq-feature-max-width: $screen-sm-min) { @content; }
  }
}


// Strip units !important for rem
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Parse integers !important for rem
@function parseInt($n) { /* 2 */
  @return $n / ($n * 0 + 1);
}

// Mixin to convert units to rems
@mixin rem($property, $values) {
  $px : ();
  $rem: ();
  
  @each $value in $values {
   
    @if $value == 0 or $value == auto { 
      $px : append($px , $value);
      $rem: append($rem, $value);
    }
    
    @else { 
      $unit: unit($value);
      $val: parseInt($value);
      
      @if $unit == "px" {  
        $px : append($px,  $value);
        $rem: append($rem, ($val / 16 + rem));
      }
      
      @if $unit == "rem" { 
        $px : append($px,  ($val * 16 + px));
        $rem: append($rem, $value);
      }
    }
  }
  
  @if $px == $rem {     
    #{$property}: $px;  
  } @else {
    #{$property}: $px;  
    #{$property}: $rem; 
  }
}

// Generate a modifiers for css3 rules
//
// @author Alberto Córcoles
//
@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}


// Cross browser opacity
// This mixin ensures cross browser opacity all the way down to Internet Explorer 5.
// Though if you have to optomize for IE5, you have a lot bigger problems than opacity, godspeed my friend.
// url: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin icono($width, $height, $background-x, $background-y) {
  width:$width;
  height:$height;
  background-image: url(../img/sp-layout.png);
  background-repeat: no-repeat;
  background-position: $background-x $background-y;   
}

@mixin icono2x($width, $height, $background-x, $background-y) {
  width:$width;
  height:$height;
  background-image: url(../img/sp-layout-mobile.png);
  background-repeat: no-repeat;
  background-size: 130px 1500px;
  background-position: $background-x $background-y;
}

@mixin iconoGame($width, $height, $background-x, $background-y) {
  width:$width;
  height:$height;
  background-image: url(../img/sp-dinamica.png);
  background-repeat: no-repeat;
  background-position: $background-x $background-y;
}

@mixin iconoGame2x($width, $height, $background-x, $background-y) {
  width:$width;
  height:$height;
  background-image: url(../img/sp-dinamica-mobile.png);
  background-repeat: no-repeat;
  background-size: 130px 500px;
  background-position: $background-x $background-y;
}


