.clearfix {
	*zoom: 1;
}

.modal-open {
	overflow: hidden;
}

.row-double-gutter {
	@media (max-width: 1003px) {
		margin-left: -25px;
		margin-right: -25px;
	}

	@media (min-width: 1004px) {
		margin-left: -20px;
		margin-right: -20px;
	}
}

.text-center {
	text-align: center;
}

.custom-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grey-background {
	background-color: $background-body;
}

.small-margin-bottom {
	@media (max-width: 1003px) {
		margin-bottom: 0;
	}

	@media (min-width: 1004px) {
		margin-bottom: 25px;
	}	
}

@media (max-width: 1003px) {
	.rounded-corner-box-4-mobile {
		padding: 4px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			border: 1px solid $tabs-border-color;
			z-index: 0;
		}

		> .rounded-corner-left-top, > .rounded-corner-right-top, > .rounded-corner-left-bottom, > .rounded-corner-right-bottom  {
			position: absolute;
			display: block;
			z-index: 1;
		}

		> .rounded-corner-left-top  {
			left: 0;
			top: 0;
			@include icono(4px, 4px, -40px, -1852px);
		}

		> .rounded-corner-right-top  {
			right: 0;
			top: 0;
			@include icono(4px, 4px, -86px, -1852px);
		}

		> .rounded-corner-left-bottom  {
			left: 0;
			bottom: 0;
			@include icono(4px, 4px, -40px, -1856px);
		}

		> .rounded-corner-right-bottom  {
			right: 0;
			bottom: 0;
			@include icono(4px, 4px, -86px, -1856px);
		}
	}
}

@media (min-width: 1004px) {
	.rounded-corner-box-4-desktop {
		padding: 4px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			border: 1px solid $tabs-border-color;
			z-index: 0;
		}

		> .rounded-corner-left-top, > .rounded-corner-right-top, > .rounded-corner-left-bottom, > .rounded-corner-right-bottom  {
			position: absolute;
			display: block;
			z-index: 1;
		}

		> .rounded-corner-left-top  {
			left: 0;
			top: 0;
			@include icono(4px, 4px, -40px, -1852px);
		}

		> .rounded-corner-right-top  {
			right: 0;
			top: 0;
			@include icono(4px, 4px, -86px, -1852px);
		}

		> .rounded-corner-left-bottom  {
			left: 0;
			bottom: 0;
			@include icono(4px, 4px, -40px, -1856px);
		}

		> .rounded-corner-right-bottom  {
			right: 0;
			bottom: 0;
			@include icono(4px, 4px, -86px, -1856px);
		}
	}
}

@media (max-width: 1003px) {
	.rounded-corner-filled-box-11-mobile {
		padding: 11px;
		background-color: $background-tags;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			border: 1px solid $background-tags;
			z-index: 0;
		}

		> .rounded-corner-left-top, > .rounded-corner-right-top, > .rounded-corner-left-bottom, > .rounded-corner-right-bottom  {
			position: absolute;
			display: block;
			z-index: 1;
		}

		> .rounded-corner-left-top  {
			left: 0;
			top: 0;
			@include icono(11px, 11px, -40px, -2082px);
		}

		> .rounded-corner-right-top  {
			right: 0;
			top: 0;
			@include icono(11px, 11px, -79px, -2082px);
		}

		> .rounded-corner-left-bottom  {
			left: 0;
			bottom: 0;
			@include icono(11px, 11px, -40px, -2093px);
		}

		> .rounded-corner-right-bottom  {
			right: 0;
			bottom: 0;
			@include icono(11px, 11px, -79px, -2093px);
		}
	}
}

@media (min-width: 1004px) {
	.rounded-corner-filled-box-11-desktop {
		padding: 11px;
		background-color: $background-tags;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: block;
			border: 1px solid $background-tags;
			z-index: 0;
		}

		> .rounded-corner-left-top, > .rounded-corner-right-top, > .rounded-corner-left-bottom, > .rounded-corner-right-bottom  {
			position: absolute;
			display: block;
			z-index: 1;
		}

		> .rounded-corner-left-top  {
			left: 0;
			top: 0;
			@include icono(11px, 11px, -40px, -2082px);
		}

		> .rounded-corner-right-top  {
			right: 0;
			top: 0;
			@include icono(11px, 11px, -79px, -2082px);
		}

		> .rounded-corner-left-bottom  {
			left: 0;
			bottom: 0;
			@include icono(11px, 11px, -40px, -2093px);
		}

		> .rounded-corner-right-bottom  {
			right: 0;
			bottom: 0;
			@include icono(11px, 11px, -79px, -2093px);
		}
	}
}