/* ======================================================================
  Colors
======================================================================== */
$primary-brand-color:#0082ca; // Process Blue
$secondary-brand-color:#000;
$terciary-brand-color:#fff;
$button-blue-dark:#0d77ad;
$button-grey-dark:#868686;
$button-green:#5aad46;
$forms-gray-color:#bbbbbb;
$forms-light-gray-color:#ccc;
$primary-color-text:#000;
$secondary-color-text:#777;
$terciary-color-text:#fff;
$dark-color-text:#090a08;
$crono-steps-active-text:#1d1d1b;
$crono-steps-inactive-text:#b1b1b1;
$crono-steps-guide-color:#c6c6c5;
$error-color-text:#cc0000;
$background-body:#f4f4f5;
$background-footer:#ececec;
$tabs-gray-color:#d9d9d9;
$tabs-border-color:#e6e6e6;
$dinamica-gray-color:#220808;
$background-comments-block:#f8f8f8;
$background-tags:#444444;
$game-answer-selected: #0082ca;
$game-answer-selected-green: #48ae56; // Green
$game-answer-selected-blue: #223781; // Blue
$game-answer-selected-fucsia: #d8127d; // Fucsia
$game-answer-selected-orange: #eb8c3e; // Orange
$game-answer-selected-yellow: #f9c723; // Yellow
$alert-success-bg: #dff1ff; // Sky blue
$exclusive-font-title-detail: #787878;
$exclusive-user-border-detail: #979797;
$exclusive-coments-bg-detail: #FBFBFB;



/* ======================================================================
  Typography
======================================================================== */
$font-family-base:  'Helvetica','Arial', sans-serif;


/* ======================================================================
  Sprites
======================================================================== */
$sprite-layout: url('../img/sp-layout.png') no-repeat;
$sprite-layout-mobile: url('../img/sp-layout-mobile.png') no-repeat;
$sprite-dinamica-bg: url('../img/dinamica-bg.png') repeat;
$sprite-dinamica-bg-mobile: url('../img/dinamica-bg-mobile.png');


/* ======================================================================
  Dimensions
======================================================================== */
$mainHeight: 565px; // Altura Container Block Single Page
$dinamicaHeight: 480px; // Altura Container Block Dinamica Desktop
