/* ======================================================================
	Añade una nueva vivencia Impulso de Uso
======================================================================== */

$top-bar-height: 52px;
$top-bar-height-mobile: auto;

.add-new-practica {
	background-color: $background-body;
	position: relative;

	@media (max-width: 1003px) {
		float: left;
		display: inline-block;
		width: 100%;
		margin-top: 35px;

		&:after {
			top: 70px;
		}
	}

	@media (min-width: 1004px) {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: $top-bar-height - 1;
			width: 100%;
			height: 1px;
			background-color: $tabs-border-color;
			z-index: 0;
		}
	}

	.top-bar {
		height: $top-bar-height;
		@media (max-width: 1003px) {
			height: $top-bar-height-mobile;
			padding: 15px 15px 0 15px;
		}
		position: relative;
		z-index: 1;
	}

	.btn-add {
		position: relative;

		@media (max-width: 1003px) {
			display: block;
			width: 100%;
			height: 50px;
			padding: 0 44px 0 15px;
			margin-bottom: 15px;
			background-color: $primary-brand-color;
			color: $terciary-brand-color;
			@include rem(font-size, 16px);
			font-weight: 400;
			line-height: 50px;
			white-space: no-wrap;
			border-top: 1px solid $primary-brand-color;
			border-left: 1px solid $primary-brand-color;
			border-right: 1px solid $primary-brand-color;

			&:after {
				content: '';
				position: absolute;
				right: 15px;
				top: 18px;
				@include icono2x(14px, 14px, -58px, -1022px);
			}

			&.closer {
				height: 65px;
				margin-bottom: 0;
				padding-bottom: 15px;
				border-color: $tabs-border-color;
				background-color: $terciary-brand-color;
				color: $secondary-brand-color;

				&:after  {
					top: 20px;
					@include icono2x(10px, 10px, -60px, -1047px);
				}
			}
		}
		@media (min-width: 1004px) {
			float: right;
			width: auto;
			height: $top-bar-height;
			background-color: $primary-brand-color;
			color: $terciary-brand-color;
			@include rem(font-size, 16px);
			line-height: $top-bar-height;
			white-space: no-wrap;
			padding: 0 42px 0 15px;
			border-top: 1px solid $tabs-border-color;
			border-left: 1px solid $tabs-border-color;
			border-right: 1px solid $tabs-border-color;

			&:after {
				content: '';
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -7px;
				@include icono(14px, 14px, -58px, -2119px);
			}

			&.closer {
				background-color: $terciary-brand-color;
				color: $secondary-brand-color;

				&:after  {
					margin-top: -5.5px;
					@include icono(11px, 11px, -72px, -2144px);
				}
			}
		}
	}

	.new-practica-form {
		display: none;
		padding: 32px 50px;
		background-color: $terciary-brand-color;
		margin-top: -1px;
		border: 1px solid $tabs-border-color;

		.profile-block {
			padding-top: 0;
			padding-bottom: 30px;

			@media (max-width: 1003px) {
				padding-bottom: 0;
			}
		}

		h1 {
			@include rem(font-size, 14px);
			font-weight: 300;
			margin: 21px 0 18px 0;

			@media(max-width: 1003px) {
				display: inline-block;
			}

			@media (min-width: 1004px) {
				float: left;
			}
		}

		span.file-name {
			display: none;
			color: #adadad;
			@include rem(font-size, 14px);
			font-style: italic;
			line-height: 1.1;
			position: relative;

			@media(max-width: 1003px) {
				width: 100%;
				padding: 0 16px 0 38px;
				position: absolute;
				left: 0;
				bottom: -19px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&:before {
					content: '';
					position: absolute;
					left: 16px;
					top: 0;
					@include icono2x(14px, 13px, -59px, -1090px);
				}
			}

			@media (min-width: 1004px) {
				float: right;
				margin: 21px 0 18px 0;
				padding-left: 23px;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					@include icono(14px, 13px, -57px, -2186px);
				}
			}
		}

		form fieldset {
			label {
				line-height: 0;
				display: block;
			}

			label.browse-label {
				display: inline-block;
				font-weight: 400;
				@include rem(font-size, 14px);

				@media(max-width: 1003px) {
					line-height: 48px;
					margin-top: 9px;
				    span {
				    	@include rem(font-size, 12px);
				    	@include opacity(0.4);
				    }
				}

				@media (min-width: 1004px) {
					float: right;
					height: 32px;
				    line-height: 1.1;

				    span {
				    	display: block;
				    	@include rem(font-size, 12px);
				    	@include opacity(0.4);
				    }
				}
			}

			.jquery-filestyle {
				label {
					> i {
						display: none;
					}
				}

				span {
					display: inline-block;
					width: 100%;
					background-color: $terciary-brand-color;
					border: 1px solid $primary-brand-color;
					@include rem(font-size, 16px);
					font-weight: 400;
					color: $primary-brand-color;

					@media(max-width: 1003px) {
						line-height: 40px;
						height: 40px;
					}

					@media (min-width: 1004px) {
						float: right;
						padding: 0 30px;

					}
				}
			}

			.form-group {
				@media (max-width: 1003px) {
					margin-bottom: 9px;
				}

				&.category-select {
					@media (max-width: 1003px) {
						margin-bottom: 24px;
					}

					@media (min-width: 1004px) {
						margin-bottom: 20px;
					}
				}

				&.lastchild {
					margin-top: 41px;

					@media (max-width: 1003px) {
						margin-top: 24px;
					}
				}
			}

			label.error {
				@media (max-width: 1003px) {
					display: inline-block;
					line-height: 1.4;
				}

				@media (min-width: 1004px) {
					position: absolute;
					left: 0;
					bottom: -25px;
					line-height: 32px;
					margin-left: 2px;
				}
			}
		}
	}

	.validated-msg {
		@media (max-width: 1003px) {
			margin: 15px 0 0 0;
			border-top: 1px solid $tabs-border-color;
		}

		@media (min-width: 1004px) {
			margin-top: 25px;
		}
	}
}
