/* ======================================================================
  Global
======================================================================== */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: $font-family-base;
	@include rem(font-size, 14px);
  color: $secondary-brand-color;
  background-color: $terciary-brand-color;
}

a:focus {
  text-decoration: none;
}

ul, ol, li {
  list-style:none;
}

a img{
	border:0;
}

section {
  float: left;
  display: inline-block;
  width: 100%;

  &.with-margin {
    margin: 50px 0;
  }
}

strong, .strong {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.table-block {
  display: table;
  width: 100%;

  .cell-block {
    display: table-cell;
    width: 100%;
    height: 100%;

    @media (max-width: 1003px) {
      &.valignTop {
        vertical-align: top;
      }

      &.valignMiddle {
        vertical-align: middle;
      }
      &.valignBottom {
        vertical-align: bottom;
      }      
    }
    @media (min-width: 1004px) {
      &.valignTop {
        vertical-align: middle;
      }

      &.valignMiddle {
        vertical-align: middle;
      }
      &.valignBottom {
        vertical-align: bottom;
      }      
    }
  }

  &.table-block-custom {
    .cell-block {
      display: table-cell;
      width: auto;
      height: auto;
    }
  }  
}

.full-block {
  float: left;
  display: inline-block;
  width: 100%;
}

.page-content {
  @media (max-width: 1003px) {
    margin-top: 70px;
    margin-bottom: 15px;
  }
  @media (min-width: 1004px) {
    margin-top: 70px;
    margin-bottom: 42px;
  }
}

h1.page-title {  
  @media (max-width: 1003px) {
    @include rem(font-size, 30px);

    & + h3.page-title-detail {
      margin-top: 7px;
    }  
  }
  @media (min-width: 1004px) {
    @include rem(font-size, 36px);
    margin-bottom: 22px;

    & + h3.page-title-detail {
      margin-top: -15px;
    }
  }
}

h2.page-subtitle {
  @media (max-width: 1003px) {
    @include rem(font-size, 25px);
    margin: 32px 0 28px 0;
  }
  @media (min-width: 1004px) {
    @include rem(font-size, 28px);
    margin: 46px 0 28px 0;
  }
}

h3.page-title-detail {
  @media (max-width: 1003px) {
    @include rem(font-size, 15px);
  }
  @media (min-width: 1004px) {
    @include rem(font-size, 18px);
    margin-top: 0;
    margin-bottom: 25px;
  }
}

p.detail-page-text {
  @media (max-width: 1003px) {
    @include rem(font-size, 16px);
    margin: 0 0 30px;
  }
  @media (min-width: 1004px) {    
    @include rem(font-size, 14px);
    margin: 0 0 20px;
  }
}

h1.with-icon {
  width: 100%;
  display: inline-block;
  position: relative;

  @media (max-width: 1003px) {

  }
  @media (min-width: 1004px) {    
    padding-right: 47px;
  }  

  > a {
    position: absolute;
    top: 0;
    display: block;

    @media (max-width: 1003px) {
      display: none;
    }
    @media (min-width: 1004px) {    
      right: 0;
    }

    i {
      display: block;
    }
  }
}

a.show-more {
  color: $secondary-brand-color;
}

p {
  &.with-margin-bottom {
    margin-bottom: 30px;
  }
}
