/* ======================================================================
	Bloque	
======================================================================== */

%bloque{
  position: relative;	
}


.col-home .bloque{
 	@extend %bloque;
  padding-bottom: 20px; 
}

.bloque{
	
  @extend %bloque;

	.tit-bloque, .tit-categoria, .txt-parrafo, .meta-box, .tit-calendario{
		padding-left: 10px;
  	padding-right: 10px;
	}

	video, img{
		width:100%;
		max-width:100%;
		margin-bottom:5px;
	}

	.tit-bloque{
	  margin: 0 0 8px;
	   
	}

	.tit-categoria{
		margin: 0 0 3px;
  }

	.txt-parrafo{
		margin-bottom: 10px;
  }

	.meta-box{
  	position: absolute;
  	bottom: 5px;
  	width: 100%;
  	color: $secondary-color-text;

 		span{
  		display: inline-block;
  	}
  }

  .bloque-inner{
  		margin-left:10px;
  		margin-right:10px;
  	
  		.meta-box{
  			position:relative;
  			padding:0;
  		}

  		.date{
  			display:inline-block;
  			margin-right:6px;
        @include rem(font-size,11px);
  		}

      .hour{
        @include rem(font-size,11px);
      }
  }
}

