/* ======================================================================
	Breadcrumbs	
======================================================================== */

section#breadcrumbs {  
  color: $secondary-brand-color;
  overflow: visible;
  z-index: 1; // Floated above main container
  
  @media (max-width: 1003px) {
    display: none;
    @include rem(font-size, 12px);
    position: relative;
    width: 100%;
    height: auto;

    .breadcrumbs-block {
      margin-top: 15px;

      > a {
        display: inline-block;
        font-weight: 400;
        position: relative;
        height: 15px;
        line-height: 1.3;
        padding-right: 23px;

        &:after {
          content: '>';
          display: inline-block;
          position: absolute;
          right: 0;
          top: 0;
          width: 22px;
          height: 100%;
          text-align: center;
          color: $secondary-brand-color;
        }
      }
    }    
  }
  @media (min-width: 1004px) {
    @include rem(font-size, 12px);
    /*position: absolute;
    left: 0;
    top: 146px;
    height: 60px;*/
    width: 100%;
    margin: 25px 0 40px;

    .breadcrumbs-block {
      > a {
        display: inline-block;
        font-weight: 400;
        position: relative;
        height: 15px;
        line-height: 1.3;
        padding-right: 23px;

        &:after {
          content: '>';
          display: inline-block;
          position: absolute;
          right: 0;
          top: 0;
          width: 22px;
          height: 100%;
          text-align: center;
          color: $secondary-brand-color;
        }
      }

      span {
        height: 15px;
        line-height: 1.3;
      }
    }
  }
}
