/* ======================================================================
  Botones
======================================================================== */
%btn {
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: $terciary-brand-color;
	font-weight: 700;
	background-color: $primary-brand-color;
	margin: 0;
	padding: 0;
	outline: none;
	border: 0;
	@include css3( border-radius, 0 );
	overflow: hidden;
	@include css3( transition, all 0.3s linear );

	@media (max-width: 1003px) {
		width: 200px;
		@include rem(font-size, 17px);
		-webkit-appearance: none; // Evitem customització nativa de iOS
	}

	@media (min-width: 1004px) {
		width: auto;
		height: 32px;
		padding: 0 30px;
		@include rem(font-size, 14px);
		line-height: 32px;
		white-space: no-wrap;
	}

	&:hover {
		background-color: $secondary-brand-color;
		color: $terciary-brand-color;
	}

	&:active, &:focus {
		background-color: $primary-brand-color;
		color: $terciary-brand-color;
	}

	&:visited {
		background-color: $primary-brand-color;
		color: $terciary-brand-color;
	}

	&.active, &.active:hover, &.active:active, &.active:focus {
		background-color: $button-green;
	}

	&.disabled, &.disabled:hover, &.disabled:active, &.disabled:focus {
		background-color: $forms-gray-color;
	}
}

.btn-submit {
	@extend %btn;

	@media (max-width: 1003px) {
		width: 100%;
		height: 50px;
		@include rem(font-size, 22px);
		line-height: 50px;
	}
	@media (min-width: 1004px) {

	}
}

.jquery-filestyle span, button.btn-action {
	@extend %btn;

	@media (max-width: 1003px) {
		width: 100%;
		height: 50px;
		@include rem(font-size, 22px);
		line-height: 50px;
	}
	@media (min-width: 1004px) {
		width: 121px;
		padding: 0;
	}
}

.btn-play {
	@extend %btn;

	@media (max-width: 1003px) {
		height: 50px;
		padding: 0;
		line-height: 50px;
	}
	@media (min-width: 1004px) {

	}

	&.dark-theme {
		&:hover {
			background-color: $button-grey-dark;
			color: $terciary-brand-color;
		}

		&:active, &:focus {
			background-color: $primary-brand-color;
			color: $terciary-brand-color;
		}
	}
}

.btn {
	@extend %btn;

	@media (max-width: 1003px) {
		height: 50px;
		padding: 0;
		line-height: 50px;
	}
	@media (min-width: 1004px) {

	}
}

.btn-link {
	@extend %btn;

	@media (max-width: 1003px) {
		height: 50px;
		padding: 0;
		line-height: 50px;
	}
	@media (min-width: 1004px) {
		width: 100%;
		height: auto;
		padding: 12px 32px;
		line-height: 1.3;
	}
}

.btn-share {
	@extend %btn;

	@media (max-width: 1003px) {
		height: 50px;
		padding: 0;
		line-height: 50px;
	}
	@media (min-width: 1004px) {
		display: block;
		width: 100%;
		padding: 0;
	}
}

.btn-next {
	@extend %btn;

	@media (max-width: 1003px) {
		height: 50px;
		line-height: 50px;
	}
	@media (min-width: 1004px) {

	}
}

.btn-resolve {
	@extend %btn;

	@media (max-width: 1003px) {
		height: 50px;
		padding: 0;
		line-height: 50px;
	}
	@media (min-width: 1004px) {
		width: 100%;
		padding: 0;
	}
}

.btn-follow {
	@extend %btn;

	&:hover, &:active, &:focus {
		background-color: $primary-brand-color;
		color: $terciary-brand-color;
	}

	@media (max-width: 1003px) {
		width: 100%;
		height: 50px;
		line-height: 50px;
	}
	@media (min-width: 1004px) {
		display: block;
		width: 100%;
		padding: 0;
	}
}

.btn-go {
	@extend %btn;

	@media (max-width: 1003px) {
		height: auto;
		padding: 15px 0;
		line-height: 1.2;
	}
	@media (min-width: 1004px) {
		width: 100%;
		padding: 0;
	}
}

button.show-more {
    background: none;
    border: none;
    font-weight: bold;

	@media (max-width: 1003px) {
		@include rem(font-size, 16px);
		padding: 19px 0;
	}
	@media (min-width: 1004px) {
		@include rem(font-size, 16px);
	    background: none;
	    border: none;
	    padding: 0;
	    font-weight: bold;
	}
}

.box-profile-anchor {
	position: absolute;
	display: block;

	@media (max-width: 1003px) {
		bottom: -12px;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 24px;
		width: 24px;
		background-color: $secondary-brand-color;
		border-radius: 50%;
		line-height: 24px;
		text-indent: -9999px;

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 24%;
			bottom: 24%;
			width: 1px;
			height: 52%;
			margin-left: 0;
			background-color: $terciary-brand-color;
		}

		&:after {
			content: '';
			position: absolute;
			left: 24%;
			right: 24%;
			top: 50%;
			height: 1px;
			width: 52%;
			margin-top: 0;
			background-color: $terciary-brand-color;
		}
	}
	@media (min-width: 1004px) {
		bottom: -15px;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 30px;
		width: 30px;
		background-color: $secondary-brand-color;
		border-radius: 50%;
		line-height: 30px;
		text-indent: -9999px;

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 20%;
			bottom: 20%;
			width: 2px;
			height: 60%;
			margin-left: -1px;
			background-color: $terciary-brand-color;
		}

		&:after {
			content: '';
			position: absolute;
			left: 20%;
			right: 20%;
			top: 50%;
			height: 2px;
			width: 60%;
			margin-top: -1px;
			background-color: $terciary-brand-color;
		}
	}
}

.hide-anchor {
	position: absolute;
	display: block;

	@media (max-width: 1003px) {
		bottom: -14px;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 28px;
		width: 28px;
		border: 1px solid $tabs-border-color;
		background-color: $terciary-brand-color;
		border-radius: 50%;
	}
}

.btn-tool-with-icon {
	display: table-cell;
	height: 100%;
	text-indent: -9999px;
	position: relative;

	> i {
		position: absolute;
		left: 50%;
		top: 50%;
	}

	@media (max-width: 1003px) {
		width: 54px;

		&.download-icon {
			> i {
				margin-left: -13px;
				margin-top: -20px;
				@include icono2x(26px, 40px, -34px, -520px);
			}
		}

		&.watch-icon {
			> i {
				margin-left: -20.5px;
				margin-top: -13.5px;
				@include icono2x(41px, 27px, -45px, -962px);
			}
		}

		&.share-icon {
			> i {
				margin-left: -13.5px;
				margin-top: -20px;
				@include icono2x(27px, 40px, -70px, -520px);
			}
		}
	}
	@media (min-width: 1004px) {
		width: 32px;

		&.download-icon {
			> i {
				margin-left: -7.5px;
				margin-top: -12px;
				@include icono(15px, 24px, -58px, -1640px);
			}
		}

		&.watch-icon {
			> i {
				margin-left: -14.5px;
				margin-top: -9.5px;
				@include icono(29px, 19px, -18px, -1642px);
			}
		}

		&.share-icon {
			> i {
				margin-left: -8px;
				margin-top: -12px;
				@include icono(16px, 24px, -57px, -1748px);
			}
		}
	}
}
