/* ======================================================================
  Comments Block (2 displayed + Add new Form)
======================================================================== */

.comments-full-block {
	@media (max-width: 1003px) {
        background-color: $background-body;
    	margin-left: -15px;
    	margin-right: -15px;
    	padding: 18px 15px 15px 15px;
    	position: relative;

		.comment-block {
			img {
				display: block;
				max-width: 100%;
			}

			p.text {
				a {
					font-weight: 300;
				}
			}
		}
	}

	@media (min-width: 1004px) {
		.comment-block {
			img {
				display: block;
				max-width: 100%;
				margin: 12px 0 0 0;
			}

			p.text {
				margin: 12px 0 13px 0;

				a {
					font-weight: 300;
				}
			}
		}
	}

	> h1 {
		@media (max-width: 1003px) {
		 	@include rem(font-size, 17px);
		}

		@media (min-width: 1004px) {
		 	@include rem(font-size, 16px);
		}
	}

	.comments {
		width: 100%;

		@media (max-width: 1003px) {
		 	margin-top: 3px;
		}

		@media (min-width: 1004px) {
		 	margin-top: 4px;
		}
	}

	.comment-block {
		display: inline-block;
		width: 100%;
		position: relative;
		border-bottom: 1px solid $tabs-border-color;

		@media (max-width: 1003px) {
		 	padding: 23px 0 14px 0;

		 	.perfil-username {

		 	}

			img {
				margin: 26px 0 0 0;
			}

			p.text {
				@include rem(font-size, 16px);
				line-height: 1.3;
				color: $dark-color-text;
				margin: 26px 0 15px 0;

				& + p.text {
					margin: 0 0 15px 0;
				}
			}

			.widgets {
				position: static;
				width: 100%;
				padding: 0;
			}

			.link {
				float: left;
			 	@include rem(font-size, 14px);
			 	margin-right: 20px;
			}

			&.add-new {
				border-bottom: none;
			 	padding: 7px 0 0 0;

			 	> h1 {
			 		padding-left: 45px;
			 	}

				.form-add-comment, .form-exclusive-add-comment {
					@media (max-width: 1003px) {
					 	margin: 30px 0 0 0;

					 	.form-group {
					 		margin-bottom: 0;

					 		&:last-child, &.lastchild {
					 			margin:0;
					 			float: right;
					 			margin-top: 32px;
					 		}

							label.error {
								padding: 1px 8px;
							}
					 	}
					}

					@media (min-width: 1004px) {
					 	padding: 0 0 0 54px;

					 	.form-group {

					 		&:last-child, &.lastchild {
					 			margin: 20px 0 0 0;
					 			text-align: right;
					 		}

							label.error {
								position: absolute;
								left: 0;
								width: 100%;
								bottom: -20px;
								padding: 0 17px;
							}
					 	}
					}
				}
			}
		}

		@media (min-width: 1004px) {
		 	padding: 24px 0 18px 0;

		 	.perfil-username {

		 	}

			p.text {
				@include rem(font-size, 14px);
				line-height: 1.3;
				color: $dark-color-text;
			}

			.widgets {
				float: none;
				width: 100%;
				padding: 2px 18px 0 0;

				.widget {
					margin-left: 0;
					margin-right: 12px;
				}
			}

			.link {
				float: left;
			 	@include rem(font-size, 14px);
			 	margin-right: 20px;
			}

			&.add-new {
				padding-bottom: 0;
				border-bottom: none;

				.form-add-comment, .form-exclusive-add-comment {
				 	padding: 0;
				 	margin: 14px 0 0 0;

				 	.form-group {

				 		&:last-child, &.lastchild {
				 			margin: 30px 0 0 0;
				 			text-align: right;
				 		}

						label.error {
							position: absolute;
							left: 0;
							width: 100%;
							bottom: -20px;
							padding: 0 17px;
						}
				 	}
				}
			}
		}
	}

	.expand {
		display: inline-block;
		width: 100%;

		@media (max-width: 1003px) {
		 	padding: 27px 0 15px 0;
		}

		@media (min-width: 1004px) {
		 	padding: 23px 0 0 0;
		 	margin-bottom: -8px;
		}

		.link {
			float: left;

			@media (max-width: 1003px) {
			 	@include rem(font-size, 16px);
			}

			@media (min-width: 1004px) {
			 	@include rem(font-size, 14px);
			}
		}
	}
}
