/* ======================================================================
	Pasos Cronologia	
======================================================================== */

section#cronologia {
  @include rem(font-size, 12px);
  color: $crono-steps-inactive-text;
  background-color: $background-body;
  overflow: visible;
  z-index: 1; // Floated above main container
  
  @media (max-width: 1003px) {
    position: relative;
    height: auto;
    left: 0;
    top: 0;
    margin-top: -1px;
  }
  @media (min-width: 1004px) {  
    float: left;
    display: inline-block;
    width: 100%;
    height: 60px;
    margin-top: -1px;
    position: relative;
    z-index: 1;
  }

  ul.pasos {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;

    li.paso {
      float: left;
      display: inline-block;
      width: 14.28%;
      height: 100%;
      position: relative;

      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 21px;
        width: 50%;
        height: 1px;
        z-index: 0;
        background-color: $crono-steps-guide-color;
        z-index: 1;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 21px;
        width: 50%;
        height: 1px;
        z-index: 0;
        background-color: $crono-steps-guide-color;
        z-index: 1;
      }

      &:first-child, &.first-child {
        &:before {
          display: none;
        }
      }

      &:last-child, &.last-child {
        &:after {
          display: none;
        }
      }

      > a {
          display: inline-block;
          width: 100%;
          height: 100%;
          padding-top: 35px;
          font-weight: 300;
          color: $crono-steps-inactive-text;
          //letter-spacing: -0.05px;/*Fins a -0.2px*/
          text-align: center;
          position: relative;
          overflow: hidden;
          cursor: default;
          z-index: 2;

          &:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 14px;
            width: 14px;
            height: 14px;
            margin-left: -7px;
            z-index: 1;
            @include icono(14px, 14px, -58px, -203px);
          }
      }

      &.active {
        &:before {
          width: 100%;
          left: -50%;
          background-color: $secondary-brand-color;
        }

        > a {
            cursor: pointer;
            color: $crono-steps-active-text;

            &:before {
              @include icono(14px, 14px, -58px, -173px);
            }
        }
      }

      &.current {
        > a {
            &:before {
              @include icono(14px, 14px, -58px, -143px);
            }        
        }
      }
    }    
  }

  .pasos-mobile {
    width: 100%;
    height: 66px;
    overflow: hidden;

    .paso-slide {
      &:before {
        content: '';
        display: inline-block;
        position: absolute;
        left: 0;
        top: 26.5px;
        width: 50%;
        height: 1px;
        z-index: 0;
        background-color: $crono-steps-guide-color;
        z-index: 0;
      }

      &:after {
        content: '';
        display: inline-block;
        position: absolute;
        right: 0;
        top: 26.5px;
        width: 50%;
        height: 1px;
        z-index: 0;
        background-color: $crono-steps-guide-color;
        z-index: 0;
      }

      &:first-child, &.first-child {
        &:before {
          display: none;
        }
      }

      &:last-child, &.last-child {
        &:after {
          display: none;
        }
      }      

      > a {
          display: inline-block;
          width: 100%;
          padding-top: 41px;
          color: $crono-steps-inactive-text;
          font-weight: 300;
          text-align: center;
          position: relative;
          cursor: default;
          z-index: 3;

          &:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 50%;
            top: 18px;
            margin-left: -9px;
            z-index: 4;
            @include icono2x(18px, 18px, -56px, -96px);
          }  
      }

      &.active {
        &:before {
          width: 100%;
          left: -50%;
          background-color: $secondary-brand-color;
        }

        > a {
          color: $crono-steps-active-text;

          &:before {
            @include icono2x(18px, 18px, -56px, -66px);
            z-index: 4;
          }
/*
          &:after {
            content: '';
            display: inline-block;
            position: absolute;
            top: 18px;
            left: -50%;
            @include icono2x(18px, 18px, -56px, -66px);
            margin-left: -9px;
            z-index: 4;
          }
*/          
        }

        &:first-child > a:after {
          display: none;
        }
      }    

      &.active.current {
        > a {
          &:before {
            @include icono2x(18px, 18px, -56px, -36px);
            z-index: 5;
          }         
        }
      } 
    }
  }

  #dropdown-label {
    cursor: pointer;

    @media (max-width: 1003px) {
      position: absolute;
      display: block;    
      left: 50%;
      bottom: -35px;
      width: 113px;
      height: 35px;
      margin-left: -57px;
      @include icono2x(113px, 35px, -8px, -121px);
    }
    @media (min-width: 1004px) {
      position: absolute;
      display: block;    
      left: 8px;
      bottom: -37px;
      width: 121px;
      height: 37px;
      @include icono(121px, 37px, -4px, -240px);
    }
      

    > span {
        display: inline-block;
        width: 100%;
        color: $crono-steps-active-text;
        font-weight: 700;
        text-align: center;

        @media (max-width: 1003px) {
          margin-top: 3px;
          @include rem(font-size, 12px);
        }

        @media (min-width: 1004px) {
          margin-top: 5px;
          @include rem(font-size, 14px);
        }        
    }
  }
}