.buttons {
	@media (max-width: 1003px) {
		padding-top: 34px;

		.buttons-group {
			text-align: center;
			margin-top: 20px;
		}
	}

	@media (min-width: 1004px) {
		float: left;
		display: inline-block;
		width: 410px;
	}
}

.widgets {
	display: inline-block;
	margin: 0;
	padding: 0;

	@media (max-width: 1003px) {
		position: absolute;
		left: 0;
		top: 10px;
		width: 100%;
		height: 34px;
	}

	@media (min-width: 1004px) {
		float: right;
		width: auto;
		height: 32px;
	}

	.widget {
		float: left;
		display: inline-block;
		height: 100%;

		@media (max-width: 1003px) {
			margin-left: 0;
			margin-right: 70px;
		}

		@media (min-width: 1004px) {
			margin-left: 12px;
			margin-right: 35px;
		}

		.field {
			display: inline-block;
			@include rem(font-size, 14px);
			color: $secondary-brand-color;
			font-weight: 400;
			position: relative;

			@media (max-width: 1003px) {
				padding-left: 23px;
				line-height: 34px;
			}

			@media (min-width: 1004px) {
				padding-left: 28px;
				line-height: 32px;
			}
		}

		a:hover {
			.field {
				color: $primary-brand-color;

				i.icono-widget-like {
				      @media (max-width: 1003px) {
				      	@include icono2x(18px, 16px, -68px, -667px);
				      }
				      @media (min-width: 1004px) {
				        @include icono(20px, 17px, -67px, -861px);
				      }
				}

				i.icono-widget-like-medium {
					@media (max-width: 1003px) {

					}
					@media (min-width: 1004px) {
						@include icono(17px, 15px, -67px, -881px);
					}
				}

				i.icono-widget-like-small {
					@media (max-width: 1003px) {
						@include icono2x(11px, 9px, -51px, -651px);
					}
					@media (min-width: 1004px) {
						@include icono(13px, 10px, -49px, -900px);
					}
				}

				i.icono-widget-comment {
				      @media (max-width: 1003px) {
				      	@include icono2x(16px, 16px, -68px, -697px);
				      }
				      @media (min-width: 1004px) {
				        @include icono(20px, 18px, -68px, -921px);
				      }
				}
			}
		}

		&.widget-likes {
			@media (max-width: 1003px) {
				.field {
					width: 55px;
				}
			}

			@media (min-width: 1004px) {
				.field {
					width: 62px;
				}
			}
		}

		&.widget-comments {
			@media (max-width: 1003px) {
				.field {
					width: 48px;
				}
			}

			@media (min-width: 1004px) {
				.field {
					width: 55px;
				}
			}
		}

		&.widget-invitations {
			@media (max-width: 1003px) {
				.field {
					padding-left: 22px;
					width: 48px;
				}
			}

			@media (min-width: 1004px) {
				.field {
					padding-left: 22px;
					width: 52px;
				}
			}
		}
	}

	.add-comment {

		float: right;
		background: none;
		border: none;
		padding: 0;
		@include rem(font-size, 12px);
		font-weight: 700;
		line-height: 32px;
		color: $secondary-brand-color;

		&:hover {
			color: $primary-brand-color;
		}
	}
}
