/* ======================================================================
  Dinamica
======================================================================== */

section.dinamica {

	.dinamica-block {
		width: 100%;
		position: relative;		
		overflow: hidden;

		@media (max-width: 1003px) {
		 	height: auto;
		 	margin: 0 -15px 0 -15px;
			background-image: $sprite-dinamica-bg-mobile;
			background-repeat: repeat;
			background-size: 13.5px 15.5px;

			.gaming-toggle {
				display: none;
				padding: 0 15px;
				height: 100%;
				@include opacity(0);
				@include css3( transition, opacity 0.1s linear );

				&.gaming-intro, &.gaming-resolved-answers, &.gaming-score {
					text-align: center;
				}

				&.current {
					display: block;
				}

				&.gaming-intro.current {
					@include opacity(1);
				}			
			}

			.moving-modal {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;			
		        visibility: visible;
		        position: absolute;
		        display: block;
		        overflow: hidden;
		        z-index: 99;

		        &:before {
		            content: '';
		            position: absolute;
		            left: 0;
		            top: 0;
		            width: 100%;
		            height: 100%;
		            background-color: $terciary-brand-color;
		            background-color: $tabs-border-color;
		            opacity: 0.95;
		            @include css3( transition, opacity 0.8s linear );
		        }

		        &.fixed {
		        	.moving-modal-block {
		        		border: none;
		        		background-color: transparent;
		        	}

		        	.hide-anchor {
		        		display: none;
		        	}

		        	&:before {
		        		opacity: 0;
		        	}
		        }

		        .moving-modal-block {
		        	display: block;
		        	padding: 34px 15px;
		        	border-top: 1px solid $tabs-border-color;
		        	border-bottom: 1px solid $tabs-border-color;
		        	background-color: $terciary-brand-color;
		        	position: relative;
		        	top: 0;	        	

					h1.placeholder {
						@include rem(font-size, 19px);
						margin-bottom:  20px;
					}

					p.question {
						@include rem(font-size, 16px);
						font-weight: 700;
						text-align: left;

						span.pag {
							margin-right: 8px;
						}
					}

					&.bonus {
						padding-top: 64px;

						p.question {

							span.pag {
								display: none;
							}
						}
					}									
		        }
			}

			.pull-bottom {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			}

			.table-block {
				height: auto;
			}

			.bonus-highlight {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				padding-left: 15px;
				height: 26px;
				background-color: $game-answer-selected-orange;
				@include rem(font-size, 16px);
				font-weight: 700;
				color: $terciary-brand-color;
				text-align: left;
				line-height: 26px;
				z-index: 100;

		        &:after {
					content: '';
					position: absolute;
					left: 15px;
					top: 26px;
					width: 0;
					height: 0;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-top: 8px solid $game-answer-selected-orange;
					z-index: 100;
					display: block;
		        }
			}

			.gaming-block-answers-mobile {
				.table-block {
					padding-top: 103px;
					padding-bottom: 110px;

					&.bonus {
						padding-top: 105px;
					}
				}
			}			

			p.intro {
				@include rem(font-size, 16px);
				margin: 0 0 32px 0;

				&.bonus {
					font-weight: 500;
					margin: 32px 0 0 0;

					br {
						display: none;
					}
				}				
			}

			.resume {
				position: relative;
				background-color: $terciary-brand-color;
				padding: 15px;
				@include rem(font-size, 16px);
				z-index: 0;

				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					border: 3px solid $secondary-brand-color;
					z-index: -1;
				}

				.game-score {
					margin-bottom: 11px;
				}

				.global-score {
					display: inline-block;
					padding: 10px 2px;
					border-top: 1px solid $secondary-brand-color;
					border-bottom: 1px solid $secondary-brand-color;
					width: 100%;
				}

				.complete-desc {
					margin: 24px 0 7px 0;
				}					
			}

			img {
				max-width: 100%;
			}

			p.complete-resume {
				@include rem(font-size, 20px);
				font-weight: 700;
			}

			p.global-score {
				@include rem(font-size, 25px);
				font-weight: 700;
				margin: 20px 0 22px 0;
				width: 100%;
			}

			p.under {
				@include rem(font-size, 14px);
				margin: 0 0 13px 0;
			}

			p.complete-desc {
				@include rem(font-size, 16px);
			}

			h1 {
				@include rem(font-size, 20px);
				line-height: 1.3;
			}

			.btn-resolve-block, .btn-next-block  {
				width: 100%;
				margin-bottom: 30px;
				text-align: center;
			}

			.btn-next {
				margin: 30px 0 0 0;
			}

			.btn-game.btn-resolve {
				margin: 30px 0 0 0;

				&.disabled {
					cursor: default;
					position: relative;

				}
			}

			.pagination {
				@include rem(font-size, 15px);
				font-weight: 700;
				text-align: center;
				padding: 0 25px;
				margin-bottom: 24px;
				width: 100%;
			}

			.thumbnails {
				text-align: center;
				padding: 0 25px;
				margin: 20px auto 0 auto;
				width: 100%;
				max-width: 200px;
				position: relative;
				height: 0;
				padding-bottom: 20%;

				ul {
					display: inline-block;
					width: 100%;
					height: 100%;
					padding: 0;
					margin: 0;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;

					li {
						float: left;
						display: table;
						width: 20%;
						height: 100%;
						position: relative;

						span {
							display: table-cell;
							text-align: center;
							vertical-align: middle;

							img {
								display: inline-block;
								width: 80%;
							}
						}
					}
				}
			}			

			.answers-swiper {
				padding: 0 25px;
				margin-bottom: 0;
				position: relative;

				&.swiper-container-vertical {
					padding: 0;
					margin: 40px 0;
					overflow: hidden;
				}
			}

			.answer-block {
				position: relative;
				width: 100%;
				height: 0;
				background-color: $terciary-brand-color;
				@include css3( transition, opacity 0.5s ease-in-out );

				.label-block {
					display: table;
					border-collapse: collapse;
					width: 100%;
					height: 100%;
					min-height: 100%;
					z-index: 1;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;

					input.answer-checkbox {
						position: absolute;
						visibility: hidden;
					}

					label {
						display: table-cell;
						height: 100%;
						text-align: center;
						vertical-align: middle;
						@include rem(font-size, 16px);
						color: $secondary-brand-color;
						font-weight: 300;						
						position: relative;
						overflow: hidden;

						&:after {
							content: attr(data-title);
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 20px;
							@include rem(font-size, 11px);
							color: $secondary-brand-color;
							font-weight: 700;
							z-index: 1;
						}

						span {
							float: left;
							display: inline-block;
							padding: 0 20px;							
							text-align: left;

							&.title {
								float: none;
								font-weight: 700;
								line-height: 1.2;
								text-align: center;
							}
						}

						img {
							display: block;
							margin: 0 auto;
							width: 80%;

							&.toggle {
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								@include opacity(0);
								visibility: hidden;
								@include css3( transition, opacity 0.8s ease-in-out );

								&.active {
									@include opacity(1);
									visibility: visible;
								}
							}
						}
					}
				}

				.rel-block {
					display: none;
					position: absolute;
					left: -13px;
					top: 50%;
					bottom: auto;
					margin-top: -5.5px;
					@include iconoGame2x(7px, 11px, -61px, -200px);
				}			

				&.respBox100by100 {
					padding-bottom: 100%;
				}

				&.respBox140by91 {
					padding-bottom: 65%;
				}

				&.respBox220by121 {
					padding-bottom: 55%;
				}

				&.respBox100by30 {
					padding-bottom: 30%;
				}				

				&.respBox100by38 {
					padding-bottom: 38%;
				}

				&.respBox100by45 {
					padding-bottom: 45%;
				}		

				&.margin-top-20 {
					margin-top: 20px;
				}

				&.disabled:before {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 100%;
					background-color: $terciary-brand-color;
					z-index: 2;
					@include opacity(0.70);
				}				

				&.with-checkbox-block {
					cursor: default;
				}

				&.checkbox-block {
					display: table;
					background-color: transparent;
				    width: 44px;
				    height: 44px;

				    &.left {
				    	left: 50%;
				    	margin-top: 22px;
				    	margin-left: -55px; 
				    }

				    &.right {
				    	left: 50%;
				    	top: -44px;
				    	margin-left: 11px; 
				    }

					&:after { 
						display: none;
					}				    
			
					.label-block {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						position: static;
					}

					label {
						display: inline-block;
						width: 100%;
						height: 0;
						padding-bottom: 100%;
						position: relative;
						z-index: 1;
						background-color: $secondary-brand-color;
						@include css3( transition, opacity 0.5s ease-in-out );

						i.icono-true {
							position: absolute;
							left: 50%;
							top: 50%;
							@include iconoGame2x(30px, 24px, -55px, -123px);
							margin-top: -12px;
							margin-left: -15px;
						}

						i.icono-false {
							position: absolute;
							left: 50%;
							top: 50%;						
							@include iconoGame2x(26px, 26px, -53px, -158px);
							margin-top: -13px;
							margin-left: -13px;
						}
					}

					&.hover, &.selected {
						label {
							background-color: $primary-brand-color;
						}
					}					
				}				

				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					border: 4px solid $secondary-brand-color;
					z-index: 1;
				}

				&.hover, &.selected {
					&:after {
						border-color: $primary-brand-color;
					}
				}

				&.selected-to-pair {
					&:after {
						border-color: $game-answer-selected;
					}
				}

				&.paired {
					&.green:after {
						border-color: $game-answer-selected-green;
					}

					&.blue:after {
						border-color: $game-answer-selected-blue;
					}

					&.fucsia:after {
						border-color: $game-answer-selected-fucsia;
					}

					&.orange:after {
						border-color: $game-answer-selected-orange;
					}

					&.yellow:after {
						border-color: $game-answer-selected-yellow;
					}
				}

				&.readonly {
					&:after {
						border-color: $game-answer-selected;
					}

					&.orange:after {
						border-color: $game-answer-selected-orange;
					}					
				}				
			}			

			.solution-block-toggle {
				display: none;
				width: 100%;

				&.active {
					display: inline-block;
				}

				p {
					@include rem(font-size, 16px);

					&.is-correct {
						@include rem(font-size, 25px);
						font-weight: 700;
						margin: 0 0 6px 0;						
					}
				}

				i.icono-correct-answer {
					@include iconoGame2x(30px, 20px, -53px, -95px);
				}

				i.icono-incorrect-answer {
					@include iconoGame2x(23px, 23px, -53px, -64px);
				}

				.answer-block.selected, .answer-block.readonly {
					cursor: default;	
				}

				.answer-block.rel {
					.label-block {
						label {
							overflow: visible;

							&:after {
								content: '';
								position: absolute;
								right: -14px;
								left: auto;
								top: 50%;
								bottom: auto;
								margin-top: -5.5px;
								@include iconoGame2x(7px, 11px, -61px, -200px);
							}
						}
					}
				}

				.answer-checkbox-table {
					.cell-block {
						&.answer-cell {
							padding-right: 10px;
						}

						&.checkbox-cell {
							width: 44px;
						}
					}
				}

				.checkbox-block.left, .checkbox-block.right {
					left: -10px;
					margin-left: 0;
					top: 50%;
					margin-top: -22px;
				}

				.hide-desktop > .table-block {
					padding-top: 33px;
					padding-bottom: 110px;

					> .cell-block > .row:first-child {
						margin-bottom: 40px;
					}
				}
			}

			.margin-top-50 {
				margin-top: 25px;
			}

			.margin-bottom-10 {
				margin-bottom: 10px;
			}				

			.margin-bottom-18 {
				margin-bottom: 18px;
			}

			.margin-bottom-20 {
				margin-bottom: 20px;
			}

			.margin-top-minus-4 {
				margin-top: -4px;
			}

			.margin-top-mobile {
				margin-top: 20px;
			}			
		}

		@media (min-width: 1004px) {
			background: $sprite-dinamica-bg;
		 	height: $dinamicaHeight;

			.gaming-toggle {			
				display: none;
				margin: 34px 0;
				@include opacity(0);
				@include css3( transition, opacity 0.1s linear );				

				&.gaming-intro, &.gaming-resolved-answers, &.gaming-score {
					margin: 0;
					text-align: center;
				}

				&.current {
					display: block;
				}

				&.gaming-intro.current {
					@include opacity(1);
				}

				&:after {
					content: attr(data-order);
					position: absolute;
					left: 0;
					top: 34px;
					width: 76px;
					@include rem(font-size, 24px);
					font-weight: 700;
					color: $secondary-brand-color;
					text-align: center;
					line-height: 26px;
					z-index: 1;
				}				

				&.bonus {
					&:before {
						content: attr(data-bonus);
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 25px;
						padding-left: 8.33333%;
						background-color: $game-answer-selected-orange;
						@include rem(font-size, 16px);
						font-weight: 700;
						color: $terciary-brand-color;
						text-align: left;
						line-height: 25px;
						z-index: 1;
					}					
			        &:after {
						content: '';
						position: absolute;
						left: 8.33333%;
						top: 25px;
						width: 0;
						height: 0;
						border-left: 8px solid transparent;
						border-right: 8px solid transparent;
						border-top: 8px solid $game-answer-selected-orange;
						z-index: 99;
						display: block;
			        }
				}
			}

			.table-block {
				height: $dinamicaHeight;
			}

			p.intro {
				@include rem(font-size, 18px);
				margin: 0 0 34px 0;

				&.bonus {
					@include rem(font-size, 24px);
					font-weight: 500;
					margin: 34px 0;
				}
			}

			.resume {
				position: relative;
				background-color: $terciary-brand-color;
				padding: 20px 25px;
				@include rem(font-size, 18px);
				z-index: 0;

				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					border: 3px solid $secondary-brand-color;
					z-index: -1;
				}

				.game-score {					
					margin-bottom: 20px;
				}

				.global-score {
					display: inline-block;
					padding: 10px 2px;
					border-top: 1px solid $secondary-brand-color;
					border-bottom: 1px solid $secondary-brand-color;
				}

				.complete-desc {
					margin: 29px 0 10px 0;
				}					
			}

			p.complete-resume {
				@include rem(font-size, 20px);
				font-weight: 700;

				br {
					display: none;
				}
			}

			p.global-score {
				@include rem(font-size, 30px);
				font-weight: 700;
				margin: 11px 0 13px 0;
			}

			p.under {
				@include rem(font-size, 16px);
				margin: 0 0 13px 0;
			}			

			p.complete-desc {
				@include rem(font-size, 18px);
			}

			h1 {
				@include rem(font-size, 28px);

				&.placeholder {
					@include rem(font-size, 24px);
				}
			}

			.btn-next {
				margin: 22px 0 0 0;
			}

			.btn-game.btn-resolve {
				margin: 40px 0 0 0;

				&.disabled {
					cursor: default;
					position: relative;

				}
			}			

			p.question {
				@include rem(font-size, 20px);
				font-weight: 700;
				margin: 38px 0 18px 0;				
			}

			.answer-block {
				position: relative;
				float: left;
				width: 100%;
				height: 0;
				background-color: $terciary-brand-color;
				@include css3( transition, opacity 0.5s ease-in-out );
				cursor: pointer;

				.label-block {
					display: table;
					width: 100%;
					height: 100%;
					z-index: 1;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;

					input.answer-checkbox {
						position: absolute;
						visibility: hidden;
					}

					label {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						@include rem(font-size, 14px);
						color: $secondary-brand-color;
						font-weight: 300;						
						position: relative;

						&:after {
							content: attr(data-title);
							position: absolute;
							left: 0;
							bottom: 0;
							width: 100%;
							height: 27px;
							color: $secondary-brand-color;
							font-weight: 700;
							z-index: 1;
						}

						span {
							display: inline-block;
							float: left;
							padding: 0 20px;
						}

						img {
							display: inline-block;

							&.toggle {
								position: absolute;
								left: 0;
								top: 0;
								width: 100%;
								@include opacity(0);
								visibility: hidden;
								@include css3( transition, opacity 0.8s ease-in-out );

								&.active {
									@include opacity(1);
									visibility: visible;
								}
							}
						}
					}
				}

				.placeholder-block {
					display: none;
					position: absolute;
					left: 3px;
					top: 3px;
					bottom: 3px;
					right: 3px;
					background-color: $terciary-brand-color;
					@include opacity(0.7);
					z-index: 2;
				}

				.rel-block {
					display: none;
					position: absolute;
					left: 50%;
					top: -13px;
					@include iconoGame(10px, 7px, -60px, -263px);					
				}				

				&.fixedHeightBox53 {
					height: 53px;
				}

				&.fixedHeightBox85 {
					height: 85px;
				}				

				&.respBox100by100 {
					padding-bottom: 100%;
				}

				&.respBox140by91 {
					padding-bottom: 65%;
				}

				&.respBox220by121 {
					padding-bottom: 55%;
				}				

				&.disabled {
					cursor: default;

					&:before {
						content: '';
						position: absolute;
						left: 0;
						bottom: 0;
						width: 100%;
						height: 100%;
						background-color: $terciary-brand-color;
						z-index: 2;
						@include opacity(0.84);
					}
				}

				&.with-checkbox-block {
					cursor: default;
				}

				&.checkbox-block {
					position: absolute;
					display: table;
					background-color: transparent;
				    width: 32%;

				    &.left {
				    	left: 10px; 
				    }

				    &.right {
				    	right: 10px;
				    }

					&:after { 
						display: none;
					}				    
			
					.label-block {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						position: static;
					}

					label {
						display: inline-block;
						cursor: pointer;
						width: 100%;
						height: 0;
						padding-bottom: 100%;
						position: relative;
						z-index: 1;
						background-color: $secondary-brand-color;
						@include css3( transition, opacity 0.5s ease-in-out );

						i.icono-true {
							position: absolute;
							left: 50%;
							top: 50%;
							@include iconoGame(19px, 14px, -55px, -203px);
							margin-top: -7px;
							margin-left: -9.5px;
						}

						i.icono-false {
							position: absolute;
							left: 50%;
							top: 50%;						
							@include iconoGame(16px, 15px, -57px, -142px);
							margin-top: -8px;
							margin-left: -8.5px;
						}
					}

					&.hover, &.selected {
						label {
							background-color: $primary-brand-color;
						}
					}					
				}

				&:after {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					border: 3px solid $secondary-brand-color;
					z-index: 1;
				}				

				&.hover, &.selected {
					&:after {
						border-color: $game-answer-selected;
					}
				}

				&.selected-to-pair {
					&:after {
						border-color: $game-answer-selected;
					}
				}

				&.paired {
					&:after {
						border-color: $game-answer-selected;
					}

					&.green:after {
						border-color: $game-answer-selected-green;
					}

					&.blue:after {
						border-color: $game-answer-selected-blue;
					}

					&.fucsia:after {
						border-color: $game-answer-selected-fucsia;
					}

					&.orange:after {
						border-color: $game-answer-selected-orange;
					}

					&.yellow:after {
						border-color: $game-answer-selected-yellow;
					}					
				}				

				&.paired, &.selected-to-pair {
					cursor: default;
				}

				&.readonly {
					&:after {
						border-color: $game-answer-selected;
					}

					&.orange:after {
						border-color: $game-answer-selected-orange;
					}
				}				

				&.paired, &.selected-to-pair {
					cursor: default;
				}				
			}

			.solution-block-toggle {
				display: none;
				width: 100%;

				&.active {
					display: inline-block;
				}

				p {
					@include rem(font-size, 18px);

					&.is-correct {
						@include rem(font-size, 32px);
						font-weight: 700;
						margin: 0 0 6px 0;						
					}
				}

				i.icono-correct-answer {
					@include iconoGame(39px, 27px, -49px, -77px);
				}

				i.icono-incorrect-answer {
					@include iconoGame(29px, 29px, -50px, -15px);
					margin-top: 34px;
				}

				.answer-block.selected, .answer-block.readonly {
					cursor: default;

					label {
						cursor: default;
					}
				}

				.answer-block.rel {
					.label-block {
						label {
							&:after {
								content: '';
								position: absolute;
								bottom: -14px;
								left: 50%;
								margin-left: -5px;
								@include iconoGame(10px, 7px, -60px, -263px);
							}
						}
					}
				}							
			}

			.margin-top-20-desktop {
				margin-top: 20px;
			}

			.margin-top-50-desktop {
				margin-top: 50px;
			}

			.margin-bottom-18-desktop {
				margin-bottom: 18px;
			}		
		}	
	}
}