/* ======================================================================
	Exclusivo Embajadores Panel
======================================================================== */

$top-bar-height: 52px;
$top-bar-height-mobile: auto;

.exclusive-panel {
	background-color: $background-body;
	position: relative;

	@media (max-width: 1003px) {
		float: left;
		display: inline-block;
		width: 100%;
		margin-top: 35px;

		&:after {
			top: 70px;
		}
	}

	@media (min-width: 1004px) {
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: $top-bar-height - 1;
			width: 100%;
			height: 1px;
			background-color: $tabs-border-color;
			z-index: 0;
		}
	}

	.top-bar {
		@media (max-width: 1003px) {
			float: left;
			width: 100%;
			height: $top-bar-height-mobile;
			padding: 15px 15px 0 15px;
		}
		@media (min-width: 1004px) {
			height: $top-bar-height;
			position: relative;
			z-index: 1;
		}
	}

	.right-panel {
		@media (max-width: 1003px) {
			float: none;
		}
		@media (min-width: 1004px) {
			float: right;
		}
	}

	.filters-menu {
		@media (max-width: 1003px) {
			float: left;
			margin: 0;
			padding: 0;
			width: 100%;
			li {
				float: left;
				display: inline-block;
				width: 50%;
				@include rem(font-size, 16px);
				line-height: 50px;
				white-space: nowrap;
				margin:  0 0 15px 0;
				border: 1px solid $background-body;
				border-radius: 5px;
				a {
					color: $secondary-brand-color;
					font-weight: 400;
					padding: 0 15px 0 53px;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						left: 15px;
						top: 50%;
						background-repeat: no-repeat;
					}
					&.filter-all {
						&:after {
							background-image: url(../img/all-icon-sp@2x.png);
							background-size: 56px 28px;
							width: 28px;
							height: 28px;
							margin-top: -14px;
						}
					}
					&.filter-fancied {
						&:after {
							background-image: url(../img/fancied-icon-sp@2x.png);
							background-size: 40px 28px;
							width: 20px;
							height: 28px;
							margin-top: -14px;
						}
					}
				}
				&.current, &:hover {
					border-color: $primary-brand-color;
					a {
						color: $primary-brand-color;
						&.filter-all {
							&:after {
								background-position: -28px;
							}
						}
						&.filter-fancied {
							&:after {
								background-position: -20px;
							}
						}
					}
	            }
			}
		}
		@media (min-width: 1004px) {
			float: left;
			margin: 0;
			padding: 0;
			width: auto;
			li {
				float: left;
				display: inline-block;
				@include rem(font-size, 15px);
				line-height: 36px;
				white-space: nowrap;
				margin: 7px 10px 7px 0;
				border: 1px solid $background-body;
				border-radius: 5px;
				a {
					color: $secondary-brand-color;
					font-weight: 400;
					padding: 10px 10px 10px 32px;
					position: relative;
					&:after {
						content: '';
						position: absolute;
						left: 8px;
						top: 50%;
						background-repeat: no-repeat;
					}
					&.filter-all {
						&:after {
							background-image: url(../img/all-icon-sp.png);
							width: 17px;
							height: 17px;
							margin-top: -8.5px;
						}
					}
					&.filter-fancied {
						&:after {
							background-image: url(../img/fancied-icon-sp.png);
							width: 12px;
							height: 17px;
							margin-top: -8.5px;
						}
					}
				}
				&.current, &:hover {
					border-color: $primary-brand-color;
					a {
						color: $primary-brand-color;
						&.filter-all {
							&:after {
								background-position: -17px;
							}
						}
						&.filter-fancied {
							&:after {
								background-position: -12px;
							}
						}
					}
	            }
			}
		}
	}

	.filters-menu-with-nav {
		@media (max-width: 1003px) {
			display: none;
		}
		@media (min-width: 1004px) {
	        float: left;
			.filters-menu-display {
				float: left;
				margin: 0;
				padding: 0;
				width: 184px;
				li {
		            width: auto;
		            height: 52px;
		            padding: 0;
		            border: none;
		            display: none;
		            &.current {
		                display: inline-block;
		                &:after {
		                    display: none;
		                }
		            }
		        }
		        span {
		            @include rem(font-size, 24px);
		            font-weight: 400;
		            line-height: 52px;
		        }
				& ~ .filters-menu-nav {
		            float: left;
					li {
						margin: 0;
						border: none;
						a {
							padding: 0;
							&:after {
								display: none;
							}
						}
					}
		            .filters-menu-nav-prev, .filters-menu-nav-next {
		                float: left;
		                width: 26px;
		                height: 36px;
		                margin-top: 8px;
		                > i {
		                    margin: 11px 9px;
		                }
						&.inactive {
							opacity: 0.2;
							z-index: -1;
						}
		            }
		        }
			}
		}
    }

	.btn-add {
		position: relative;
		@media (max-width: 1003px) {
			float: left;
			width: 100%;
			height: 50px;
			padding: 0 44px 0 15px;
			margin-bottom: 15px;
			background-color: $primary-brand-color;
			color: $terciary-brand-color;
			@include rem(font-size, 16px);
			font-weight: 400;
			line-height: 50px;
			white-space: nowrap;
			border-top: 1px solid $primary-brand-color;
			border-left: 1px solid $primary-brand-color;
			border-right: 1px solid $primary-brand-color;

			&:after {
				content: '';
				position: absolute;
				right: 15px;
				top: 18px;
				@include icono2x(14px, 14px, -58px, -1022px);
			}

			&.closer {
				height: 65px;
				margin-bottom: 0;
				padding-bottom: 15px;
				border-color: $tabs-border-color;
				background-color: $terciary-brand-color;
				color: $secondary-brand-color;

				&:after  {
					top: 20px;
					@include icono2x(10px, 10px, -60px, -1047px);
				}
			}
		}
		@media (min-width: 1004px) {
			float: left;
			width: auto;
			height: $top-bar-height;
			background-color: $primary-brand-color;
			color: $terciary-brand-color;
			@include rem(font-size, 16px);
			line-height: $top-bar-height;
			white-space: nowrap;
			margin-left: 10px;
			padding: 0 42px 0 15px;
			border-top: 1px solid $tabs-border-color;
			border-left: 1px solid $tabs-border-color;
			border-right: 1px solid $tabs-border-color;

			&:after {
				content: '';
				position: absolute;
				right: 15px;
				top: 50%;
				margin-top: -7px;
				@include icono(14px, 14px, -58px, -2119px);
			}

			&.closer {
				background-color: $terciary-brand-color;
				color: $secondary-brand-color;

				&:after  {
					margin-top: -5.5px;
					@include icono(11px, 11px, -72px, -2144px);
				}
			}
		}
	}

	.new-practica-form {
		display: none;
		padding: 32px 50px;
		background-color: $terciary-brand-color;
		margin-top: -1px;
		border: 1px solid $tabs-border-color;

		.profile-block {
			padding-top: 0;
			padding-bottom: 30px;

			@media (max-width: 1003px) {
				padding-bottom: 0;
			}
		}

		h1 {
			@include rem(font-size, 14px);
			font-weight: 300;
			margin: 21px 0 18px 0;

			@media(max-width: 1003px) {
				display: inline-block;
			}

			@media (min-width: 1004px) {
				float: left;
			}
		}

		span.file-name {
			display: none;
			color: #adadad;
			@include rem(font-size, 14px);
			font-style: italic;
			line-height: 1.1;
			position: relative;

			@media(max-width: 1003px) {
				width: 100%;
				padding: 0 16px 0 38px;
				position: absolute;
				left: 0;
				bottom: -19px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;

				&:before {
					content: '';
					position: absolute;
					left: 16px;
					top: 0;
					@include icono2x(14px, 13px, -59px, -1090px);
				}
			}

			@media (min-width: 1004px) {
				float: right;
				margin: 21px 0 18px 0;
				padding-left: 23px;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					@include icono(14px, 13px, -57px, -2186px);
				}
			}
		}

		ul.invite-users {
			margin: 0 -6px;
			padding: 0;
			li.user {
				float: left;
				display: inline-block;
				@include rem(font-size, 12px);
				color: $dinamica-gray-color;
				line-height: 24px;
				white-space: nowrap;
				padding: 0 0 0 12px;
				margin: 15px 6px 0px 6px;
				border: 1px solid $background-tags;
				border-radius: 5px;
				.remover {
					display: inline-block;
					width: 35px;
					height: 100%;
					text-align: center;
					cursor: pointer;
					position: relative;
					> i {
						position: relative;
						top: 1px;
					}
				}
			}
		}

		form fieldset {
			label {
				display: block;
			}

			label.browse-label {
				display: inline-block;
				font-weight: 400;
				@include rem(font-size, 14px);

				@media(max-width: 1003px) {
					line-height: 48px;
					margin-top: 9px;
				    span {
				    	@include rem(font-size, 12px);
				    	@include opacity(0.4);
				    }
				}

				@media (min-width: 1004px) {
					float: right;
					height: 32px;
				    line-height: 1.1;

				    span {
				    	display: block;
				    	@include rem(font-size, 12px);
				    	@include opacity(0.4);
				    }
				}
			}

			.jquery-filestyle {
				label {
					> i {
						display: none;
					}
				}

				span {
					display: inline-block;
					width: 100%;
					background-color: $terciary-brand-color;
					border: 1px solid $primary-brand-color;
					@include rem(font-size, 16px);
					font-weight: 400;
					color: $primary-brand-color;

					@media(max-width: 1003px) {
						line-height: 40px;
						height: 40px;
					}

					@media (min-width: 1004px) {
						float: right;
						padding: 0 30px;

					}
				}
			}

			.users-invited-value {
				@media(max-width: 1003px) {
					position: absolute;
				}
				visibility: hidden;
				opacity: 0;
			}

			.btn-action {
				display: inline-block;
				width: 100%;
				background-color: $terciary-brand-color;
				border: 1px solid $primary-brand-color;
				@include rem(font-size, 16px);
				font-weight: 400;
				color: $primary-brand-color;

				@media (max-width: 1003px) {
					line-height: 40px;
					height: 40px;
				}
				@media (min-width: 1004px) {
					padding: 0 30px;
				}

				&:active, &:focus, &:visited {
					-webkit-tap-highlight-color: $terciary-brand-color;
				}
			}

			.form-group {
				@media (max-width: 1003px) {
					margin-bottom: 24px;
				}

				&.title-browse, &.date-time-location {
					@media (max-width: 1003px) {
						margin-bottom: 24px;
					}

					@media (min-width: 1004px) {
						margin-bottom: 20px;
					}
				}

				&.date-time-location {
					@media (max-width: 1003px) {
						> div {
							margin-bottom: 24px;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
				}

				&.invitation {
					@media (max-width: 1003px) {
						//margin-top: 24px;
					}

					@media (min-width: 1004px) {
						//margin-top: 20px;
					}
				}

				&.typeformcontrol {
					@media (max-width: 1003px) {
						margin-bottom: 24px;
					}
				}

				&.lastchild {
					margin-top: 41px;

					@media (max-width: 1003px) {
						margin-top: 24px;
					}
				}
			}

			label.error-alert {
				display: inline-block;
				width: 100%;
				font-weight: 700;
				color: $error-color-text;
				line-height: 1.4;
				z-index: 1;

				@media (max-width: 1003px) {
					@include rem(font-size,14px);
					padding: 0 7px;
				}
				@media (min-width: 1004px) {
					@include rem(font-size,11px);
					padding: 0 8px;
				}
			}

			label.error, label.error-alert {
				@media (max-width: 1003px) {
					display: inline-block;
					line-height: 1.4;
				}

				@media (min-width: 1004px) {
					position: absolute;
					left: 0;
					bottom: -25px;
					line-height: 32px;
					margin-left: 2px;
				}
			}
		}

		@media (max-width: 1003px) {
			&.active {
				float: left;
			}
		}
	}

	.validated-msg {
		@media (max-width: 1003px) {
			margin: 15px 0 0 0;
			border-top: 1px solid $tabs-border-color;
		}

		@media (min-width: 1004px) {
			margin-top: 25px;
		}
	}
}
