/* ======================================================================
	Filtros
======================================================================== */

@media (max-width: 1003px) {
  ul.filtros {
    display: none;
  }

  .filtros-mobile {
    height: 60px;
    padding: 0 25px;
    position: relative;

    .filtro-slide {
      > span {
        display: table;
        width: 100%;
        height: 60px;

        > a {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          @include rem(font-size, 20px);
          color: $secondary-brand-color;
          line-height: 1.2;
          cursor: default;
        }
      }

      &.disabled {
        > span > a {
          @include opacity(0.2);
        }
      }

      &.current {
        > span > a {
          color: $primary-brand-color;
        }
      }
    }

    > a {
      position: absolute;
      top: 0;
      display: block;
      width: 40px;
      height: 100%;
      padding: 10px 0;
      background-color: $terciary-brand-color;
      z-index: 1;

      &.filtro-nav-prev {
        left: 0;
        margin-left: -15px;

        i {
          margin-left: 15px;
          margin-top: 14px;
        }
      }

      &.filtro-nav-next {
        right: 0;
        margin-right: -15px;

        i {
          margin-left: 17px;
          margin-top: 14px;
        }
      }

      &.disabled {
        @include opacity(0.2);
        cursor: default;
      }
    }
  }
}

@media (min-width: 1004px) {
  ul.filtros {
    width: auto;
    height: 68px;
    margin: -14px 0 0 0;
    padding: 0;

    li {
      height: 48px;
      padding: 0 19px;
      border: none;

      > a {
          padding: 0;
          @include rem(font-size, 16px);

          &:hover {
            color: $primary-brand-color;
          }
      }

      &.current {
        border-bottom: none;

        > a {
          color: $primary-brand-color;
        }
      }

      &.disabled {
        cursor: default;

        > a {
          @include opacity(0.2);
          cursor: default;

          &:hover {
            color: $secondary-brand-color;
          }
        }
      }

      &.first-child, &:first-child {
        padding: 0 19px 0 0;
      }
    }

    &.abc {
      li {
        height: 48px;
        padding: 0 10px;

        > a {
          @include rem(font-size, 20px);
        }

        &.first-child, &:first-child {
          padding: 0 10px 0 0;
        }
      }
    }

  }

  .filtros-mobile {
    display: none;
  }
}
