/* ======================================================================
  Fonts
======================================================================== */

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  color: $primary-color-text;
  line-height: 1.4;
  @include rem(font-size, 16px);
  font-weight: 300;
}

p {
  margin: 0;
  font-family: $font-family-base;
  color: $primary-color-text;
  font-weight: 300;
  line-height: 1.4;
}

a {
  margin: 0;
  text-decoration: none;
  font-weight:700;
  color:$primary-brand-color;

  &:hover{
    color:$secondary-brand-color;
  }
}

h1 {
  margin: 0;
  font-family: $font-family-base;
  color: $primary-color-text;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin: 0;
  font-family: $font-family-base;
  color: $primary-color-text;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  color: $primary-color-text;
}

.link {
  color: $secondary-brand-color;
  font-weight: 700;
  @include css3( transition, all 0.3s linear );

  &:hover {
    color: $primary-brand-color;
  }
}

.link-sp {
  color: $primary-brand-color;
  font-weight: 700;
  text-decoration: underline;
  @include css3( transition, all 0.3s linear );

  &:hover {
    cursor: pointer;
    color: $secondary-brand-color;
  }
}

.underline {
    text-decoration: underline;
}
