/* ======================================================================
	footer	
======================================================================== */

footer {
  float: left;
  display: inline-block;
  width: 100%;

  .attributes-container ~ .anchors-full-block {
    @media (max-width: 1003px) {
      margin-top: -42px;
    }
    @media (min-width: 1004px) {
      margin-top: -58px;
    }
  }

  .anchors-full-block {
    float: left;
    display: inline-block;
    width: 100%;
    text-align: center;
    
    &.scrolltop {
      position: relative;
      z-index: 1;
      margin-top: 32px;
    }
  }  

  .anchors {
    display: table;
    width: 100%;

    @media (max-width: 1003px) {
      height: 49px;
    }
    @media (min-width: 1004px) {
      height: 58px;
    }     
    
    .anchor-block {
      display: table-cell;
      height: 100%;

      @media (max-width: 1003px) {
        @include rem(font-size, 14px);

        a.anchor-label {
          display: inline-block;
          width: 65px;
          height: 49px;
          font-weight: 700;
          color: $crono-steps-active-text;
          padding-top: 6px;
          position: relative;
          cursor: pointer;
        }        
      }      

      @media (min-width: 1004px) {
        @include rem(font-size, 16px);

        a.anchor-label {
          display: inline-block;
          width: 92px;
          height: 58px;
          font-weight: 700;
          color: $crono-steps-active-text;
          padding-top: 8px;
          position: relative;
          cursor: pointer;
        }        
      }
    }
  }

  .attributes-container {
    background-color: $background-footer;
    position: relative;
    z-index: 1;

    @media (max-width: 479px) {
      padding: 23px 0 47px 0;

      h1 {
        @include rem(font-size, 25px);
        margin: 0 0 18px 0;      
      }

      p {
        @include rem(font-size, 16px);
      }      

      .value-attr-block {
        display: inline-block;
        width: 100%;
        height: auto;
        text-align: center;
        position: relative;
        margin: 47px 0 10px 0;

        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }        

        p {
          @include rem(font-size, 16px);
          font-weight: 300;
          text-align: left;
          line-height: 1.3;
          padding: 0 0 0 92px;
          margin: 0 0 0 0;
        }

        .go-link {
          margin-top: 30px;

          .btn-link {
            max-width: 100%;
          }

        }        

        &.presentate {
          left: 0;

          &:before {
            width: 65px;
            height: 68px;
            @include icono2x(65px, 68px, -32px, -313px);
          }

        }

        &.participa {

          &:before {
            width: 71px;
            height: 68px;
            @include icono2x(71px, 68px, -30px, -442px);        
          }
        }

        &.descubre {
          left: 0;

          &:before {
            width: 52px;
            height: 68px;
            @include icono2x(52px, 68px, -39px, -568px);          
          }
        }                
      }      
    }
    @media (min-width: 480px) and (max-width: 1003px) {
      padding: 23px 0 47px 0;

      h1 {
        @include rem(font-size, 25px);
        margin: 0 0 18px 0;      
      }

      p {
        @include rem(font-size, 16px);
      }

      .value-attr-block {
        display: inline-block;
        width: 100%;
        height: 300px;
        text-align: center;
        position: relative;
        padding: 93px 0 56px 0;
        margin: 47px 0 10px 0;

        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 0;
          z-index: 1;
        }

        p {
          @include rem(font-size, 14px);
          font-weight: 300;
          line-height: 1.3;
          margin: 0 0 0 0;
        }

        .go-link {
          position: static;
          margin-top: 30px;

          .btn-link {
            max-width: 100%;
          }

        }        

        &.presentate {

          &:before {
            width: 65px;
            height: 68px;
            margin-left: -33px;
            @include icono2x(65px, 68px, -32px, -313px);
          }

        }

        &.participa {

          &:before {
            width: 71px;
            height: 68px;
            margin-left: -36px;
            @include icono2x(71px, 68px, -30px, -442px);        
          }

        }

        &.descubre {

          &:before {
            width: 52px;
            height: 68px;
            margin-left: -26px;
            @include icono2x(52px, 68px, -39px, -568px);          
          }

        }                
      }
    }    
    @media (min-width: 1004px) {
      padding: 40px 0 74px 0;

      h1 {
        @include rem(font-size, 28px);
        margin: 0 0 16p 0;
      }

      p {
        @include rem(font-size, 16px);
        margin: 0 0 70px 0;    
      }

      .value-attr-block {
        display: inline-block;
        width: 70%;
        height: 300px;
        text-align: center;
        position: relative;
        padding: 138px 0 56px 0;
        position: relative;
        left: 50%;
        margin-left: -35%;

        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 50%;
          top: 0;
          z-index: 1;
        }        

        p {
          @include rem(font-size, 14px);
          font-weight: 300;
          line-height: 1.3;
          margin: 0 0 0 0;
        }

        .go-link {

          .btn-link {
            max-width: 100%;
          }

        }        

        &.presentate {
          left: 30%;
          margin: 0;

          &:before {
            width: 90px;
            height: 94px;
            margin-left: -45px;
            @include icono(90px, 94px, -20px, -535px);          
          }

        }

        &.participa:before {
          width: 97px;
          height: 93px;
          margin-left: -48px;
          @include icono(97px, 93px, -16px, -643px);        
        }

        &.descubre {
          left: 0;
          margin: 0;

          &:before {
            width: 69px;
            height: 92px;
            margin-left: -35px;
            @include icono(69px, 92px, -30px, -748px);          
          }
        }                
      }
    }
  }  
}