/* ======================================================================
  Formulario
======================================================================== */
form {
	width: 100%;

	fieldset {
		width: 100%;
		margin: 0;
		padding: 0;
		border: none;

		.form-group {
			position: relative;

			@include modular-mq( md ) {
				margin-bottom: 0;

				&:last-child, &.lastchild {
					margin-bottom: 0;
				}
			}

			@include modular-mq( sm ) {
				margin-bottom: 24px;

				&:last-child, &.lastchild {
					margin-top: 8px;
					margin-bottom: 0;
				}
			}
		}

		label {

			@include modular-mq( md ) {
				@include rem( font-size, 14px );
				line-height: 50px;
				font-weight: 700;
			}

			@include modular-mq( sm ) {
				@include rem( font-size, 16px );
				line-height: 48px;
				font-weight: 700;
			}

		}

		input.form-control, .jquery-filestyle input[type=text] {
			float: left;
			@include rem( font-size, 14px );
			color: $secondary-brand-color;
			font-weight: 300;
			line-height: 32px;
			border: 1px solid $secondary-brand-color;
			@include css3( border-radius, 0 );
			background: $terciary-brand-color;
			box-shadow: none;
			width: 100%;
			height: 32px;
			margin: 0;
			padding: 0 7px;
			background:#fff;
			overflow: hidden;
			display: block;
			position: relative;
			z-index: 1;

			&.with-icon {
				padding-right: 32px;
				position: relative;
				background: transparent;
				~ i {
					position: absolute;
					right: 22px;
					top: 50%;
					z-index: 0;
				}
			}

			@include modular-mq( sm ) {
				@include rem( font-size, 20px );
				height: 50px;
				line-height: 50px;

				&.with-icon {
					padding-right: 50px;
					~ i {
						position: absolute;
						right: 23px;
						top: 50%;
						z-index: 0;
					}
				}
			}

			/* WebKit browsers */
			&::-webkit-input-placeholder {
				color: $forms-gray-color;
				font-weight: 300;
			}

			/* Mozilla Firefox 4 to 18 */
			&:-moz-placeholder {
				color: $forms-gray-color;
				font-weight: 300;
			}

			/* Mozilla Firefox 19+ */
			&::-moz-placeholder {
				color: $forms-gray-color;
				font-weight: 300;
			}

			/* Internet Explorer 10+ */
			&:-ms-input-placeholder {
				color: $forms-gray-color;
				font-weight: 300;
			}

			&:focus {
				border-color: $secondary-brand-color;
				outline: none; // Eliminem l'efecte hightlight en Focus que fa per defecte el Chrome
			}

			&[disabled], &.disabled {
				border-color: $forms-light-gray-color;
				&::-webkit-input-placeholder {
					color: $tabs-border-color;
				}
			}
		}

		textarea.form-control {
			float: left;
			@include rem( font-size, 14px );
			color: $secondary-brand-color;
			font-weight: 300;
			line-height: 1.4;
			border: 1px solid $secondary-brand-color;
			@include css3( border-radius, 0 );
			background: $terciary-brand-color;
			box-shadow: none;
			width: 100%;
			height: 132px;
			margin: 0;
			padding: 7px;
			background:#fff;
			overflow: hidden;
			display: block;
			position: relative;
			z-index: 1;
			resize: vertical;

			@include modular-mq( sm ) {
				@include rem( font-size, 16px );
				height: 175px;
			}

			/* WebKit browsers */
			&::-webkit-input-placeholder {
				color: $forms-gray-color;
				font-weight: 300;
			}

			/* Mozilla Firefox 4 to 18 */
			&:-moz-placeholder {
				color: $forms-gray-color;
				font-weight: 300;
			}

			/* Mozilla Firefox 19+ */
			&::-moz-placeholder {
				color: $forms-gray-color;
				font-weight: 300;
			}

			/* Internet Explorer 10+ */
			&:-ms-input-placeholder {
				color: $forms-gray-color;
				font-weight: 300;
			}

			&:focus {
				border-color: $secondary-brand-color;
				outline: none; // Eliminem l'efecte hightlight en Focus que fa per defecte el Chrome
			}
		}

		input[type=text], input[type=email], textarea, .jquery-filestyle input[type=text] { // Eliminem l'ombra interior de la caixeta input de forms per defecte de iOS
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		}

		.browse {
			display: none;
		}

		.checkbox-label-control {
			input[type=checkbox] {
				position: absolute;
				visibility: hidden;
			}
			label {
				position: relative;
				@include rem( font-size, 14px );
				font-weight: 700;
				i.icono-check {
					position: absolute;
					visibility: hidden;
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					border: 1px solid $secondary-brand-color;
				}
				@include modular-mq( sm ) {
					line-height: 48px;
					padding-left: 24px;
					i.icono-check {
						left: 0;
						top: 15px;
					}
					&:before {
						top: 17px;
						width: 12px;
						height: 12px;
					}
				}
				@include modular-mq( md ) {
					line-height: 50px;
					padding-left: 23px;
					i.icono-check {
						left: 0;
						top: 16px;
					}
					&:before {
						top: 18px;
						width: 12px;
						height: 12px;
					}
				}
				&.checked i.icono-check {
					visibility: visible;
				}
			}
		}

		.typeformcontrol, .invitationcontrol {
			label {
				@include modular-mq( sm ) {
					@include rem( font-size, 14px );
					line-height: 1.2;
					margin-bottom: 11px;
				}
				@include modular-mq( md ) {
					line-height: 50px;
				}
			}
		}

		label.error {
			display: inline-block;
			width: 100%;
			font-weight: 300;
			color: $error-color-text;
			line-height: 1.4;
			z-index: 1;

			@media (max-width: 1003px) {
				@include rem(font-size,14px);
				padding: 0 7px;
			}
			@media (min-width: 1004px) {
				@include rem(font-size,11px);
				padding: 0 8px;
			}
		}

		label.error-global {
			display: inline-block;
			width: 100%;
			font-weight: 300;
			color: $error-color-text;
			line-height: 1.4;

			@media (max-width: 1003px) {
				position: absolute;
				left: 0;
				bottom: -18px;
				@include rem(font-size,14px);
				padding: 0 17px;
			}
			@media (min-width: 1004px) {
				@include rem(font-size,11px);
				padding: 0 8px;
			}
		}

		select.form-control {
			position: absolute;
			visibility: hidden;
		}
	}
}
