/* ======================================================================
	Header
======================================================================== */

header {
  float: left;
  display: inline-block;
  width: 100%;
  background-color: $primary-brand-color;
  position: relative;
  z-index: 2; // Floated above all

  @media (max-width: 1003px) {
    height: 41px;
  }
  @media (min-width: 1004px) {
    height: 60px;
  }

  .logo {

    @media (max-width: 1003px) {
      height: 21px;
      width: 30px;
      display: block;
      margin-top: 10px;
      position: relative;
      z-index: 1;
    }
    @media (min-width: 1004px) {
      height: 24px;
      width: 123px;
      display: block;
      margin-top: 18px;
      float: left;
    }

    img {
      max-width: 100%;
    }

  }

  .navegacion {
    float: right;

    ul {
      padding:0;
      margin:0;
    }

    @media (max-width: 1003px) {

      .primer-nivel {
        float: left;
        display: inline-block;
        color: $terciary-brand-color;
        padding: 0 13px;
        height: 41px;
        line-height: 41px;
        position: relative;
        @include rem(font-size, 12px);

        &:before {
          width: 1px;
          height: 20px;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -10px;
          background-color: $terciary-brand-color;
          content: "";
          display: block;
        }

        &.link-mailto {
          padding-right: 0;

          &:before{
            display:none;
          }
        }

        &.link-menu {

        }

        > a {
          cursor: pointer;
        }
      }

      .link-primer-nivel {
        display: block;
        height: 100%;
        color: $terciary-brand-color;
        line-height: 41px;
        position: relative;

        .thumb-username {
          float: left;
          display: inline-block;
          width: auto;
          height: 100%;
          padding-left: 33px;
          font-weight: 300;
          position: relative;
          z-index: 1;

          &.no-photo:after {
              content: attr(data-name);
              display: inline-block;
              position: absolute;
              left: 0;
              top: 50%;
              width: 24px;
              height: 24px;
              margin-top: -12px;
              font-size: 11px;
              line-height: 25px;
              text-align: center;
              z-index: 1;
          }

          &.photo > .thumb {
              display: block;
              position: absolute;
              left: 0;
              top: 9px;
              width: 24px;
              height: 24px;
              border-radius: 12px;
              overflow: hidden;
              z-index: 1;

              > span {
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
              }
          }

          .username {
            font-weight: 700;
          }
        }
      }
    }

    @media (min-width: 1004px) {

      .primer-nivel {
        float: left;
        display: inline-block;
        color: $terciary-brand-color;
        padding: 0 17px;
        height: 60px;
        line-height: 60px;
        position: relative;
        @include rem(font-size, 14px);

        &:before{
          width: 1px;
          height: 20px;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -10px;
          background-color: $terciary-brand-color;
          content: "";
          display: block;
        }

        &.link-mailto {
          padding-right: 0;

          &:before{
            display:none;
          }
        }

        &.link-menu {
          cursor: pointer;

          &:hover {
             .drop-menu {
               display: block;
            }
          }
        }

        &.score {
          font-weight: 700;
        }

        &.last {
          margin-right: 40px;
        }

        > a {
          cursor: pointer;
        }
      }

      .link-primer-nivel {
        display: block;
        height: 100%;
        color: $terciary-brand-color;
        line-height: 60px;
        position: relative;

        .thumb-username {
          float: left;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding-left: 39px;
          color: $terciary-brand-color;
          font-weight: 300;
          position: relative;
          z-index: 0;

          > .thumb {
              display: block;
              position: absolute;
              left: 0;
              top: 50%;
              width: 30px;
              height: 30px;
              margin-top: -15px;
              overflow: visible;
              z-index: 1;

              > span {
                display: inline-block;
                position: absolute;
                left: 0;
                top: 0;
                width: 30px;
                height: 30px;
                border-radius: 15px;
                behavior: url(../js/vendor/pie/PIE.htc);
              }
          }

          &.no-photo:after {
            content: attr(data-name);
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            width: 30px;
            height: 30px;
            margin-top: -15px;
            @include rem(font-size, 12px);
            color: $terciary-brand-color;
            line-height: 31px;
            text-align: center;
            z-index: 1;
          }

          &.no-photo.ambassador:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            width: 28px;
            height: 28px;
            margin-top: -15px;
            border-radius: 14px;
            behavior: url(../js/vendor/pie/PIE.htc);
            border: 1px solid $primary-brand-color;
            z-index: 0;
          }

          &.ambassador > .thumb > span:after {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: -2px;
                right: -2px;
                z-index: 2;
                @include icono(12px, 12px, -49px, -1494px);
          }

          .username {
            font-weight: 700;
          }
        }

        .notification-badge {
          display: inline-block;
          width: auto;
          padding: 0 3px;
          @include rem(font-size, 11px);
          letter-spacing: -0.6px;
          color: $terciary-brand-color;
          font-weight: 700;
          line-height: 13px;
          height: 13px;
          border-radius: 3px;
          background-color: $secondary-brand-color;
          position: absolute;
          top: 15px;
          right: 5px;
          z-index: 0;
        }
      }

      .drop-menu {
        position: absolute;
        top: 59px;
        z-index: 99;
        background-color: $terciary-brand-color;
        display: none;
        border: 1px solid $background-body;

        &:after {
          position: absolute;
          left: 5px;
          top: -16px;
          margin-right: -8px;
          border: inset 8px;
          border-bottom-style: solid;
          border-color: transparent transparent $terciary-brand-color transparent;
          content: " ";
          z-index: 99;
          display: block;
        }

        li {
          height: 58px;
          line-height: 58px;
        }

        a {
          display: block;
          padding: 0 20px;
          color: $primary-brand-color;
          text-decoration: none;
          font-weight: 700;

          &:hover {
            color: $crono-steps-active-text;
          }
        }
      }

      .navegacion {

        .drop-menu {
          top: 34px;
          right: 0;
          min-width: 150px;
          padding: 10px 0;

          &:after{
            right: 25%;
          }
        }

        .link-menu {

          .drop-menu {
            min-width:220px;
          }

        }
      }
    }
  }

  .search {

    @media (max-width: 1003px) {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      padding: 0 50px 0 60px;

      .search-box {
        width: 35px;
        height: 40px;
        background-color: $primary-brand-color;
        float: right;

        form fieldset {
          .form-group {
            height: 40px;
            margin: 0;

            > div.label {
              width: 35px;
              position: absolute;
            }

            > div.input {
              width: 100%;
              padding-left: 35px;
            }
          }

          i.icono-loop {
            margin-top: 13px;
          }

          label {
            line-height: 40px;
            display: none;
          }

          input.form-control {
            color: $terciary-brand-color;
            border: none;
            background: none;
            padding: 0;
            @include rem( font-size, 14px );
            height: 40px;
            line-height: 40px;

            /* WebKit browsers */
            &::-webkit-input-placeholder {
              color: $terciary-brand-color;
              font-weight: 300;
            }

            /* Mozilla Firefox 4 to 18 */
            &:-moz-placeholder {
              color: $terciary-brand-color;
              font-weight: 300;
            }

            /* Mozilla Firefox 19+ */
            &::-moz-placeholder {
              color: $terciary-brand-color;
              font-weight: 300;
            }

            /* Internet Explorer 10+ */
            &:-ms-input-placeholder {
              color: $terciary-brand-color;
              font-weight: 300;
            }

            &:focus {
              border-color: transparent;
              outline: none; // Eliminem l'efecte hightlight en Focus que fa per defecte el Chrome
            }
          }
        }
      }
    }

    @media (min-width: 1004px) {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;

      .search-box {
        width: 100%;
        height: 60px;
        padding: 14px 0;
        background-color: $primary-brand-color;

        form fieldset {
          .form-group {
            height: 32px;
            overflow: hidden;
          }

          i.icono-loop {
            top: 6px;
          }

          label {
            line-height: 32px;
            display: none;
          }

          input.form-control {
            color: $terciary-brand-color;
            border: none;
            background: none;
            padding: 0;
            margin: 0 0 0 -10px;

            /* WebKit browsers */
            &::-webkit-input-placeholder {
              color: $terciary-brand-color;
              font-weight: 300;
            }

            /* Mozilla Firefox 4 to 18 */
            &:-moz-placeholder {
              color: $terciary-brand-color;
              font-weight: 300;
            }

            /* Mozilla Firefox 19+ */
            &::-moz-placeholder {
              color: $terciary-brand-color;
              font-weight: 300;
            }

            /* Internet Explorer 10+ */
            &:-ms-input-placeholder {
              color: $terciary-brand-color;
              font-weight: 300;
            }

            &:focus {
              border-color: transparent;
              outline: none; // Eliminem l'efecte hightlight en Focus que fa per defecte el Chrome
            }
          }
        }
      }
    }

  }
}

#close-search-label {
  position: absolute;
  z-index: 1000;
  cursor: pointer;
  background-color: $primary-brand-color;

  @media (max-width: 1003px) {
    display: none;
    right: 4px;
    top: 0;
    width: 41px;
    height: 40px;
  }
  @media (min-width: 1004px) {
    display: none;
    left: 50%;
    top: 20px;
    width: 23px;
    height: 19px;
    margin-left: 427px;
  }

  > label {
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;

    @media (max-width: 1003px) {
      display: block;
      position: relative;
      width: 41px;
      height: 40px;
      padding: 12px 11px 13px 11px;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px;
        @include icono2x(16px, 16px, -57px, -742px);
      }
    }

    @media (min-width: 1004px) {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 18px;
      height: 18px;
      margin-left: -9px;
      margin-top: -9px;
      @include icono(18px, 18px, -35px, -1281px);
    }
  }
}
