/* ======================================================================
  Iconos
======================================================================== */

i {
  display: inline-block;
  background-repeat: no-repeat;
  overflow: hidden;

  &.icono-down-open-mini {
    margin-left: 10px;
    @include icono(12px, 8px, -59px, -1162px);
  }

  &.icono-flag {
    @media (max-width: 1003px) {
      position: relative;
      top: 5px;
      width: 18px;
      height: 19px;
      z-index: 0;
      @include icono2x(18px, 19px, -55px, -765px);
    }
    @media (min-width: 1004px) {
      position: relative;
      top: 6px;
      width: 17px;
      height: 19px;
      z-index: -1;
      @include icono(17px, 19px, -56px, -1190px);
    }
  }

  &.icono-star {
    @media (max-width: 1003px) {
      position: relative;
      top: 5px;
      width: 22px;
      height: 22px;
      z-index: 0;
      background-image: url(../img/star-icon@2x.png);
      background-repeat: no-repeat;
      background-size: 22px auto;
    }
    @media (min-width: 1004px) {
      position: relative;
      top: 6px;
      width: 22px;
      height: 22px;
      z-index: -1;
      background-image: url(../img/star-icon.png);
      background-repeat: no-repeat;
    }
  }

  &.icono-location {
    @media (max-width: 1003px) {
      top: 5px;
      width: 7px;
      height: 11px;
      z-index: 0;
      background-image: url(../img/location-icon@2x.png);
      background-repeat: no-repeat;
      background-size: 7px auto;
    }
    @media (min-width: 1004px) {
      top: 6px;
      width: 7px;
      height: 11px;
      z-index: -1;
      background-image: url(../img/location-icon.png);
      background-repeat: no-repeat;
      background-size: 7px auto;
    }
  }

  &.icono-clock {
    @media (max-width: 1003px) {
      top: 5px;
      width: 12px;
      height: 12px;
      z-index: 0;
      background-image: url(../img/clock-icon@2x.png);
      background-repeat: no-repeat;
      background-size: 12px auto;
    }
    @media (min-width: 1004px) {
      top: 6px;
      width: 12px;
      height: 12px;
      z-index: -1;
      background-image: url(../img/clock-icon.png);
      background-repeat: no-repeat;
      background-size: 12px auto;
    }
  }

  &.icono-pencil {
    @media (max-width: 1003px) {
      position: relative;
      top: 5px;
      width: 22px;
      height: 18px;
      z-index: 0;
      @include icono2x(22px, 18px, -54px, -792px);
    }
    @media (min-width: 1004px) {
      position: relative;
      top: 5px;
      width: 25px;
      height: 21px;
      z-index: 0;
      @include icono(25px, 21px, -52px, -1428px);
    }
  }

  &.icono-loop {
    @media (max-width: 1003px) {
      width: 15px;
      height: 15px;
      @include icono2x(15px, 15px, -44px, -849px);
    }
    @media (min-width: 1004px) {
      position: relative;
      top: 5px;
      width: 20px;
      height: 20px;
      z-index: 0;
      @include icono(20px, 20px, -35px, -1215px);
    }
  }

  &.icono-loop-inv {
    @media (max-width: 1003px) {
      width: 15px;
      height: 15px;
      @include icono2x(15px, 15px, -71px, -849px);
    }
    @media (min-width: 1004px) {
      position: absolute;
      top: 50%;
      width: 20px;
      height: 20px;
      margin-top: -10px;
      z-index: 0;
      @include icono(20px, 20px, -75px, -1215px);
    }
  }

  &.icono-user {
    position: absolute;
    left: 0;
    top: 50%;

    @media (max-width: 1003px) {
      width: 24px;
      height: 24px;
      margin-top: -12px;
      background-color: $forms-gray-color;
      border-radius: 12px;
    }
    @media (min-width: 1004px) {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      background-color: $forms-gray-color;
      border-radius: 15px;
      behavior: url(../js/vendor/pie/PIE.htc);
      zoom: 1;
    }
  }

  &.icono-user-big {
    position: absolute;
    left: 0;
    top: 50%;

    @media (max-width: 1003px) {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      background-color: $forms-gray-color;
      border-radius: 20px;
    }
    @media (min-width: 1004px) {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      background-color: $forms-gray-color;
      border-radius: 20px;
      behavior: url(../js/vendor/pie/PIE.htc);
      zoom: 1;
    }
  }

  &.icono-user-extra {
    position: absolute;
    left: 0;
    top: 50%;

    @media (max-width: 1003px) {
      width: 50px;
      height: 50px;
      margin-top: -25px;
      background-color: $forms-gray-color;
      border-radius: 25px;
    }
    @media (min-width: 1004px) {
      width: 50px;
      height: 50px;
      margin-top: -25px;
      background-color: $forms-gray-color;
      border-radius: 25px;
      behavior: url(../js/vendor/pie/PIE.htc);
      zoom: 1;
    }
  }

  &.icono-user-biggest {
    position: absolute;
    left: 50%;
    top: 50%;

    @media (max-width: 1003px) {
      width: 68px;
      height: 68px;
      margin-left: -34px;
      margin-top: -34px;
      background-color: $forms-gray-color;
      border-radius: 34px;
    }
    @media (min-width: 1004px) {
      width: 100px;
      height: 100px;
      margin-left: -50px;
      margin-top: -50px;
      background-color: $forms-gray-color;
      border-radius: 50px;
      behavior: url(../js/vendor/pie/PIE.htc);
      zoom: 1;
    }
  }

  &.icono-user-level {
    position: absolute;
    top: 50%;

    @media (max-width: 1003px) {
      left: 16px;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      background-color: $forms-gray-color;
      border-radius: 12px;
    }
    @media (min-width: 1004px) {
      left: 14px;
      width: 27px;
      height: 27px;
      margin-top: -14px;
      background-color: $forms-gray-color;
      border-radius: 14px;
      behavior: url(../js/vendor/pie/PIE.htc);
      zoom: 1;
    }
  }

  &.icono-user-block {
    position: absolute;
    left: 0;
    top: 50%;

    @media (max-width: 1003px) {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      background-color: $forms-gray-color;
      border-radius: 20px;
    }
    @media (min-width: 1004px) {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      background-color: $forms-gray-color;
      border-radius: 15px;
      behavior: url(../js/vendor/pie/PIE.htc);
      zoom: 1;
    }
  }

  &.icono-cronology-dropdown {
    @media (max-width: 1003px) {
      display: block;
      width: 14px;
      height: 9px;
      margin-left: -7px;
      position: relative;
      left: 50%;
      bottom: 1px;

      &.down {
        @include icono2x(14px, 9px, -59px, -165px);
      }
      &.up {
        @include icono2x(14px, 9px, -59px, -195px);
      }
    }
    @media (min-width: 1004px) {
      display: block;
      width: 12px;
      height: 8px;
      margin-left: -6px;
      position: relative;
      left: 50%;
      bottom: 1px;

      &.down {
        @include icono(12px, 8px, -59px, -326px);
      }
      &.up {
        @include icono(12px, 8px, -59px, -386px);
      }
    }
  }

  &.icono-hide-modal {
    @media (max-width: 1003px) {
      display: block;
      width: 16px;
      height: 9px;
      margin-left: -8px;
      margin-bottom: -4px;
      position: absolute;
      left: 50%;
      bottom: 50%;
      @include icono2x(16px, 9px, -57px, -195px);
    }
  }

  &.icono-filters-dropdown {
    position: absolute;

    @media (max-width: 1003px) {
      display: block;
      width: 14px;
      height: 9px;
      right: 0;
      top: 17px;

      &.down {
        @include icono2x(14px, 9px, -59px, -165px);
      }
      &.up {
        @include icono2x(14px, 9px, -59px, -195px);
      }
    }
    @media (min-width: 1004px) {
      width: 12px;
      height: 8px;
      right: 6px;
      top: 50%;
      margin-top: -4px;

      &.down {
        @include icono(12px, 8px, -59px, -326px);
      }
      &.up {
        @include icono(12px, 8px, -59px, -386px);
      }
    }
  }

  &.icono-swiper-prev {
    @media (max-width: 1003px) {
      @include icono2x(7px, 13px, -53px, -178px);
    }
    @media (min-width: 1004px) {
      @include icono(8px, 14px, -61px, -1559px);
    }
  }

  &.icono-swiper-next {
    @media (max-width: 1003px) {
    }
    @media (min-width: 1004px) {
      @include icono(8px, 14px, -61px, -1531px);
    }
  }

  &.icono-swiper-prev-blue {
    @media (max-width: 1003px) {
    }
    @media (min-width: 1004px) {
      @include icono(8px, 14px, -91px, -1559px);
    }
  }

  &.icono-swiper-next-blue {
    @media (max-width: 1003px) {
      @include icono2x(7px, 13px, -70px, -178px);
    }
    @media (min-width: 1004px) {
      @include icono(8px, 14px, -91px, -1531px);
    }
  }

  &.icono-swiper-next-blue {
    @media (max-width: 1003px) {
      @include icono2x(7px, 13px, -70px, -178px);
    }
  }

  &.icono-ancla {
    position: absolute;
    left: 50%;

    @media (max-width: 1003px) {
      width: 16px;
      height: 10px;
      margin-left: -8px;
      bottom: 17px;
      @include icono2x(16px, 10px, -57px, -220px);
    }
    @media (min-width: 1004px) {
      width: 20px;
      height: 13px;
      margin-left: -10px;
      bottom: 2px;
      @include icono(20px, 13px, -54px, -443px);
    }
  }

  &.icono-ancla-foot {
    position: absolute;
    left: 50%;

    @media (max-width: 1003px) {
      width: 16px;
      height: 10px;
      margin-left: -8px;
      bottom: 10px;
      @include icono2x(16px, 10px, -57px, -230px);
    }
    @media (min-width: 1004px) {
      width: 20px;
      height: 13px;
      margin-left: -10px;
      bottom: 12px;
      @include icono(20px, 13px, -54px, -466px);
    }
  }

  &.icono-ancla-elplan {
    position: absolute;
    left: 50%;

    @media (max-width: 1003px) {
      width: 16px;
      height: 10px;
      margin-left: -8px;
      bottom: 17px;
      @include icono2x(16px, 10px, -57px, -220px);
    }
    @media (min-width: 1004px) {
      width: 20px;
      height: 13px;
      margin-left: -10px;
      bottom: 12px;
      @include icono(20px, 13px, -54px, -407px);
    }
  }

  &.icono-ancla-home {
    position: absolute;
    top: 50%;
    right: 0;

    @media (max-width: 1003px) {
      margin-top: -5px;
      display: block;
      width: 6px;
      height: 10px;
      @include icono(6px, 10px, -62px, -1467px);
    }
  }

  &.icono-ancla-relacionado {
    position: absolute;
    right: 0;
    top: 50%;

    @media (max-width: 1003px) {
      display: block;
      width: 8px;
      height: 13px;
      margin-top: -6px;
      @include icono2x(8px, 13px, -62px, -884px);
    }
    @media (min-width: 1004px) {
      display: block;
      width: 8px;
      height: 14px;
      margin-top: -6px;
      @include icono(8px, 14px, -61px, -1531px);
    }
  }

  &.icono-widget-like {
    position: absolute;
    left: 0;

    @media (max-width: 1003px) {
      top: 9px;
      display: block;
      width: 18px;
      height: 16px;
      @include icono2x(18px, 16px, -44px, -667px);
    }
    @media (min-width: 1004px) {
      top: 8px;
      display: block;
      width: 20px;
      height: 17px;
      @include icono(20px, 17px, -43px, -861px);
    }

    &.active {

      @media (max-width: 1003px) {
        @include icono2x(18px, 16px, -68px, -667px);
      }
      @media (min-width: 1004px) {
        @include icono(20px, 17px, -67px, -861px);
      }

      & + span {
        color: $primary-brand-color;
      }
    }
  }

  &.icono-widget-like-medium {
    position: absolute;
    left: 0;
    top: 50%;

    @media (max-width: 1003px) {
      display: block;
      width: 18px;
      height: 16px;
      margin-top: -9px;
      @include icono2x(18px, 16px, -44px, -667px);
    }
    @media (min-width: 1004px) {
      display: block;
      width: 17px;
      height: 15px;
      margin-top: -8px;
      @include icono(17px, 15px, -46px, -881px);
    }
  }

  &.icono-widget-like-small {
    position: absolute;
    left: 0;

    @media (max-width: 1003px) {
      @include icono2x(11px, 9px, -51px, -651px);
    }
    @media (min-width: 1004px) {
      @include icono(13px, 10px, -49px, -900px);
    }
  }

  &.icono-widget-invited {
    position: absolute;
    left: 0;
    @media (max-width: 1003px) {
        top: 8px;
        display: block;
        width: 28px;
        height: 28px;
        background-image: url(../img/invited-icon@2x.png);
        background-size: 14px 14px;
        background-repeat: no-repeat;
    }
    @media (min-width: 1004px) {
        top: 9px;
        display: block;
        width: 14px;
        height: 14px;
        background-image: url(../img/invited-icon.png);
        background-repeat: no-repeat;
    }
  }

  &.icono-like {
    @media (max-width: 1003px) {
      @include icono2x(18px, 16px, -44px, -667px);
    }
    @media (min-width: 1004px) {
      @include icono(20px, 17px, -43px, -861px);
    }
  }

  &.icono-like-small {
    @media (max-width: 1003px) {
      @include icono2x(11px, 9px, -51px, -651px);
    }
    @media (min-width: 1004px) {
      @include icono(13px, 10px, -49px, -900px);
    }
  }

  &.icono-widget-comment {
    position: absolute;
    left: 0;

    @media (max-width: 1003px) {
      top: 10px;
      display: block;
      width: 16px;
      height: 16px;
      @include icono2x(16px, 16px, -46px, -697px);
    }
    @media (min-width: 1004px) {
      top: 8px;
      display: block;
      width: 20px;
      height: 18px;
      @include icono(20px, 18px, -42px, -921px);
    }
  }

  &.icono-medal {
    position: absolute;
    left: 50%;

    @media (max-width: 1003px) {
      width: 59px;
      height: 87px;
      margin-left: -30px;
      top: 0;
      @include icono(59px, 87px, -35px, -1320px);
    }
    @media (min-width: 1004px) {
      width: 59px;
      height: 87px;
      margin-left: -30px;
      top: 0;
      @include icono(59px, 87px, -35px, -1320px);
    }
  }

  &.icono-empleado-del-mes {
    position: absolute;
    left: 0;
    top: 50%;

    @media (max-width: 1003px) {
      width: 40px;
      height: 40px;
      margin-top: -20px;
      @include icono2x(40px, 40px, -45px, -911px);
    }
    @media (min-width: 1004px) {
      width: 56px;
      height: 56px;
      margin-top: -28px;
      @include icono(56px, 56px, -37px, -1674px);
    }
  }

  &.icono-calendar {
    @media (max-width: 1003px) {
        width: 24px;
        height: 20px;
        margin-top: -10px;
        background-image: url(../img/calendar-icon@2x.png);
        background-repeat: no-repeat;
    }
    @media (min-width: 1004px) {
        width: 12px;
        height: 10px;
        margin-top: -5px;
        background-image: url(../img/calendar-icon.png);
        background-repeat: no-repeat;
    }
  }

  &.icono-remover {
    @media (max-width: 1003px) {
        @include icono2x(10px, 10px, -60px, -1047px);
    }
    @media (min-width: 1004px) {
        @include icono(11px, 11px, -72px, -2144px);
    }
  }

  &.icono-document {
    @media (max-width: 1003px) {
        width: 24px;
        height: 32px;
        background-image: url(../img/document-icon@2x.png);
        background-size: 12px 16px;
        background-repeat: no-repeat;
    }
    @media (min-width: 1004px) {
        width: 12px;
        height: 16px;
        background-image: url(../img/document-icon.png);
        background-repeat: no-repeat;
    }
  }

    &.icono-typeform {
      @media (max-width: 1003px) {
          width: 16px;
          height: 24px;
          background-image: url(../img/typeform-icon@2x.png);
          background-size: 11px 16px;
          background-repeat: no-repeat;
      }
      @media (min-width: 1004px) {
          width: 11px;
          height: 16px;
          background-image: url(../img/typeform-icon.png);
          background-repeat: no-repeat;
      }
    }

    &.icono-check {
      @media (max-width: 1003px) {
          @include icono2x(18px, 14px, -59px, -1065px);
      }
      @media (min-width: 1004px) {
          @include icono(18px, 14px, -59px, -2164px);
      }
    }
}
