.full-img-container {

	ul {
		margin: 0 0 40px 36px;
		padding: 0;
		li {
			padding: 0 0 0 36px;
			position: relative;
			&:before {
				background-color: $primary-color-text;
				content: "";
				display: inline-block;
				height: 1px;
				left: 0;
				position: absolute;
				top: 10px;
				width: 7px;
			}
		}
	}

	@media (max-width: 1003px) {
		margin-left: -15px;
		margin-right: -15px;

		img {
			margin-bottom: 20px;
			width: 100%;
			height: auto;
		}

		h2 {
			margin: 30px 0 5px;
		}

		p {
			@include rem(font-size, 16px);
			//padding: 0 15px;
			//margin: 19px 0;
			margin: 20px;
		}
	}

	@media (min-width: 1004px) { 
		img {
			margin-bottom: 30px;
			width: 100%;
			height: auto;
		}

		h2 {
			margin: 40px 0 10px;
		}

		p {   
			@include rem(font-size, 14px);
			//margin: 10px 0;
			margin: 0 0 20px;
		}
	}
}
