.kaltura-container {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1004px;

    @media (max-width: 1003px) {
        position: relative;
    }    
}

.ie8-player {
    position: relative;
}

.embed-responsive-16by9 {
    display: block;
    width: 100%;
    height: 0;
    /* assuming that the video has a 16:9 ratio */
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
    cursor: hand;
    cursor: pointer;
    display: block;
}

img.kaltura-thumb {
    display: none;
    visibility: hidden;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    @include opacity(0);
    @include css3( transition, all 0.3s linear );

    &.active {
		display: block;
		visibility: visible;
		@include opacity(1);
    }
}

.play-again-panel {
    display: none;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    height: auto;
    visibility: hidden;
    @include opacity(0);    
    @include css3( transition, all 0.3s linear );

    @media (max-width: 1003px) {
        text-align: center;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: $secondary-brand-color;
            @include opacity(0.65);
            z-index: 0;
        }  
    }
    @media (min-width: 1004px) {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: $secondary-brand-color;
            @include opacity(0.65);
            z-index: 0;
        }
    }

    &.active {
		display: block;
		visibility: visible;
		@include opacity(1);
    }

    > * {
    	position: relative;
    	z-index: 1;
    }  
}

#player, #player_mobile {

    @media (max-width: 1003px) {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

    @media (min-width: 1004px) {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
    }

}

.play-again-panel {
    .toggle-button {
        display: none;

        &.current {
            display: block;
        }
    }
}