/* ======================================================================
	Custom Layout
======================================================================== */
.form-row, .items-row {
  margin-left: -10px;
  margin-right: -10px;
  *zoom: 1;
  &:before {
    content: "";
    display: table; 
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }     
}

.col-xs-auto, .col-xs-1000, .col-xs-750, .col-xs-375, .col-xs-600, .col-xs-500, .col-xs-400, .col-xs-333, .col-xs-300, .col-xs-250, .col-xs-166, .col-sm-auto, .col-sm-1000, .col-sm-750, .col-sm-600, .col-sm-500, .col-sm-400, .col-sm-375, .col-sm-333, .col-sm-300, .col-sm-250, .col-sm-166, .col-sxs-auto, .col-sxs-1000, .col-sxs-750, .col-sxs-600, .col-sxs-500, .col-sxs-400, .col-sxs-375, .col-sxs-333, .col-sxs-300, .col-sxs-250, .col-sxs-166 {
  float: left;
  padding: 0 10px;
  position: relative;
  min-height: 1px;
}

.col-xs-auto {
  width: auto;
}

.col-xs-1000 {
  width: 100%;
}

.col-xs-750 {
  width: 75%;
}

.col-xs-600 {
  width: 60%;
}

.col-xs-500 {
  width: 50%;
}

.col-xs-400 {
  width: 40%;
}

.col-xs-375 {
  width: 37.50%;
}

.col-xs-333 {
  width: 33.33%;
}

.col-xs-300 {
  width: 30%;
}

.col-xs-250 {
  width: 25%;
}

.col-xs-166 {
  width: 16.6%;
}

.col-xs-offset-1000 {
  margin-left: 100%;
}

.col-xs-offset-750 {
  margin-left: 75%;
}

.col-xs-offset-600 {
  margin-left: 60%;
}

.col-xs-offset-500 {
  margin-left: 50%;
}

.col-xs-offset-400 {
  margin-left: 40%;
}

.col-xs-offset-375 {
  margin-left: 37.50%;
}

.col-xs-offset-333 {
  margin-left: 33.33%;
}

.col-xs-offset-300 {
  margin-left: 30%;
}

.col-xs-offset-250 {
  margin-left: 25%;
}

.col-xs-offset-166 {
  margin-left: 16.6%;
}

@media (min-width: 480px) {
  .col-sxs-auto {
    width: auto;
  }  
  .col-sxs-1000 {
    width: 100%;
  }
  .col-sxs-750 {
    width: 75%;
  }
  .col-sxs-600 {
    width: 60%;
  }
  .col-sxs-500 {
    width: 50%;
  }
  .col-sxs-400 {
    width: 40%;
  }    
  .col-sxs-375 {
    width: 37.50%;
  }
  .col-sxs-333 {
    width: 33.33%;
  }
  .col-sxs-300 {
    width: 30%;
  }
  .col-sxs-250 {
    width: 25%;
  }
  .col-sxs-166 {
    width: 16.6%;
  }
}

@media (min-width: 1004px) {
  .col-sm-auto {
    width: auto;
  }  
  .col-sm-1000 {
    width: 100%;
  }
  .col-sm-750 {
    width: 75%;
  }
  .col-sm-600 {
    width: 60%;
  }  
  .col-sm-500 {
    width: 50%;
  }
  .col-sm-400 {
    width: 40%;
  }  
  .col-sm-375 {
    width: 37.50%;
  }
  .col-sm-333 {
    width: 33.33%;
  }
  .col-sm-300 {
    width: 30%;
  }
  .col-sm-250 {
    width: 25%;
  }
  .col-sm-166 {
    width: 16.6%;
  }
  .col-sm-offset-1000 {
    margin-left: 100%;
  }
  .col-sm-offset-750 {
    margin-left: 75%;
  }
  .col-sm-offset-666 {
    margin-left: 66.66%;
  }
  .col-sm-offset-600 {
    margin-left: 60%;
  }
  .col-sm-offset-500 {
    margin-left: 50%;
  }    
  .col-sm-offset-400 {
    margin-left: 40%;
  }
  .col-sm-offset-375 {
    margin-left: 37.50%;
  }
  .col-sm-offset-333 {
    margin-left: 33.33%;
  }
  .col-sm-offset-300 {
    margin-left: 30%;
  }
  .col-sm-offset-250 {
    margin-left: 25%;
  }
  .col-sm-offset-166 {
    margin-left: 16.6%;
  }
}

/* Centered Columns */
.row-centered {
    text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}