/* ======================================================================
  Modal
======================================================================== */

.modal {
    display: none;
    z-index: 1000;

    @media (max-width: 1003px) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        visibility: hidden;
        position: fixed;        
        display: block;
        overflow: hidden;

        &.offcanvas-modal {
            @include css3( transform, translate3d(0,100%,0) ); /* shift modal -height to hide it initially */
            @include css3( transition, transform 0.4s linear );
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $terciary-brand-color;
            opacity: 1;
        } 

        &.show {
            visibility: visible;

            &.offcanvas-modal {
                @include css3( transform, translate3d(0,0,0) );
            }
        }
    }

    @media (min-width: 1004px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;        

        &:before {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            background: $secondary-brand-color;
            opacity: 0.85;
        }
    }
}

.modal-dialog, .modal-content, .modal-body {
    @media (max-width: 1003px) {
        height: auto;
    }

    @media (min-width: 1004px) {
        height: 100%;
    }    

    > .container, > .container > .row,  > .container > .row > div {
        height: 100%;
    }
}

.modal.offcanvas-modal .modal-dialog {

    .modal-body {
        @media (max-width: 1003px) {
            padding: 35px 0 0 0;
            position: relative;           
        }

        @media (min-width: 1004px) {
            padding: 60px 0;
        }        
    }

    .add-message-modal {
        @media (max-width: 1003px) {
            padding: 0;
        }

        @media (min-width: 1004px) {            
            max-height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: $terciary-brand-color;
            position: relative;
        }
    }

    .modal-close {
        @media (max-width: 1003px) {
          position: absolute;
          right: 22px;
          top: -20px;          
          width: 20px;
          height: 20px;
          cursor: pointer;

          &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20px;
            height: 20px;
            margin-left: -10px;
            margin-top: -10px;
            @include icono2x(20px, 20px, -55px, -820px);
          }
        }

        @media (min-width: 1004px) {
          position: absolute;
          right: 0;
          top: 0;
          width: 18px;
          height: 18px;
          margin-right: -35px;
          @include icono(18px, 18px, -56px, -1281px);
          cursor: pointer;
        }
    }    

    .post-block {
        border-top: none;

        @media (max-width: 1003px) {
            padding: 0 22px 10px 22px;
        }

        @media (min-width: 1004px) {
            padding: 20px 20px 10px 20px;
        }        

        .perfil-username {

            @media (max-width: 1003px) {
                float: left;
                width: 100%;
                height: 40px;
                margin-left: 0;
                margin-right: 0;

                .thumb-username {
                    height: 40px;
                    @include rem(font-size, 15px);
                    font-weight: 700;
                    line-height: 1.1;

                    .username {
                        padding-left: 13px;                      
                    }

                    .thumb {
                        width: 40px;

                        > span {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    &.photo > .thumb {
                        > span {
                            border-radius: 20px;
                        }
                    }

                    &.photo.ambassador > .thumb > span:before {
                        width: 38px;
                        height: 38px;
                        border-radius: 19px;
                    }

                    &.no-photo:after {
                        width: 40px;
                        height: 40px;
                        @include rem(font-size, 15px);
                        line-height: 41px;
                    }

                    &.no-photo.ambassador:before { /* Blue border over the circle thumb */
                      width: 38px;
                      height: 38px;
                      border-radius: 19px;
                    }
                }
            }

            @media (min-width: 1004px) {
                float: left;
                width: 50%;
                height: 40px;
                margin-left: 0;
                margin-right: 0;

                .thumb-username {
                    height: 40px;
                    @include rem(font-size, 15px);
                    font-weight: 700;
                    line-height: 1.1;

                    .username {
                        padding-left: 14px;                     
                    }

                    .thumb {
                        width: 40px;

                        > span {
                            width: 40px;
                            height: 40px;
                        }
                    }

                    &.photo > .thumb {
                        > span {
                            border-radius: 20px;
                        }
                    }

                    &.photo.ambassador > .thumb > span:before {
                        width: 38px;
                        height: 38px;
                        border-radius: 19px;
                    }

                    &.no-photo:after {
                        width: 40px;
                        height: 40px;
                        @include rem(font-size, 15px);
                        line-height: 41px;
                    }

                    &.no-photo.ambassador:before { /* Blue border over the circle thumb */
                      width: 38px;
                      height: 38px;
                      border-radius: 19px;
                    }
                }
            }
        }

        .follow-button-container {
            @media (max-width: 1003px) {
                display: none;
            }

            @media (min-width: 1004px) {
                position: absolute;
                right: 20px;
                top: 20px;
                height: 40px;
                padding-top: 4px;
                text-align: right;
            }
        }

        .comment {
            display: inline-block;
            padding: 20px 0 0 0;
        }

        .widgets {
            @media (max-width: 1003px) {

            }

            @media (min-width: 1004px) {
                padding: 2px 0 0 0;
            }
        }       
    }

    .comments-full-block {
        background-color: $background-body;

        @media (max-width: 1003px) {
            padding: 21px 22px 35px 22px; 
        }

        @media (min-width: 1004px) {
            padding: 20px;

            .comment-block.add-new {
                padding: 18px 0 0 0;
            }
        }
    }

}

.modal.fixed-modal .modal-dialog {

    .modal-body {
        @media (max-width: 1003px) {
            padding: 0;
        }
    }    

    .alert-modal, .player-modal {
        @media (max-width: 1003px) {
            padding: 0;
        }

        @media (min-width: 1004px) {            
            max-height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            background-color: $terciary-brand-color;
            position: relative;
        }
    }

    .alert-block {
        width: 100%;
        text-align: center;

        @media (max-width: 1003px) {
            h1 {
                @include rem(font-size, 16px);            
                line-height: 1.3;
            }

            .btn {
                margin-top: 22px;
            }
        }
    }

    .player-block {
        width: 100%;
        text-align: center;

        @media (max-width: 1003px) {
            h1 {
                @include rem(font-size, 16px);            
                line-height: 1.3;
            }

            .btn {
                margin-top: 22px;
            }
        }
    }    

}

