/* ======================================================================
	Off Canvas Navigation
======================================================================== */

.site-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  height: auto;

  &.fixed {

    @media (max-width: 479px) {
      height: 1134px !important;
    }

    @media (min-width: 480px) and (max-width: 1003px) {
      height: 1134px !important;
    }

    @media (min-width: 1004px) {
      height: auto;
    }

  }
}

.content-wrap {
  position: relative;
  width: 100%;
  height: 100%;

    @media (max-width: 1003px) {
      display: inline-block;
      //@include css3( transform, translate3d(0,0,0) );
      //@include css3( transition, transform 0.5s linear );
    }

    @media (min-width: 1004px) {
      z-index: 0;
    }

    &.hide {
      overflow: hidden;
    }

}

div#offcanvas-menu {

    @media (max-width: 1003px) {
      width: 100%;
      height: auto;
      padding: 42px 0 23px 0;
      top: 0;
      left: 0;
      visibility: visible; /* this is for browsers that don't support CSS3 translate3d */
      position: absolute;
      @include css3( transform, translate3d(100%,0,0) ); /* shift menu -width to hide it initially */
      display: block;
      overflow: hidden;
      @include css3( transition, transform 0.5s linear );
      z-index: 100;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $secondary-brand-color;
        @include opacity(0.9);
        z-index: 0;
      }

      .navegacion {
        float: left;
        margin-bottom: 22px;

        @media (max-width: 1003px) {

          ul {
            margin: 0;
            padding: 0 25px;
          }

          .primer-nivel {
            float: left;
            display: inline-block;
            height: 40px;
            color: $terciary-brand-color;
            position: relative;
            @include rem(font-size, 16px);
            line-height: 40px;

            &.link-menu {
              width: 100%;
              height: auto;
              margin-bottom: 12px;
            }

            &.score {
              clear: both;
              float: left;
              font-weight: 700;
              padding: 0 23px 0 2px;

              &:before {
                width: 1px;
                height: 24px;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -12px;
                background-color: $terciary-brand-color;
                content: "";
                display: block;
              }
            }

            &.notify {
              padding: 0 23px;

              &:before {
                width: 1px;
                height: 24px;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -12px;
                background-color: $terciary-brand-color;
                content: "";
                display: block;
              }
            }

            &.add-comment {
              padding: 0 0 0 23px;
            }

            &.score, &.notify, &.add-comment {
              margin-top: -16px;
            }

            > a {
              cursor: pointer;
            }

            .username {
              color: $terciary-brand-color;

              span {
                font-weight: 400;
              }
            }
          }

          .link-primer-nivel {
            display: block;
            height: 100%;
            color: $terciary-brand-color;
            position: relative;

            .thumb-username {
              float: left;
              display: inline-block;
              width: auto;
              height: 100%;
              padding-top: 60px;
              font-weight: 300;
              line-height: 1.4;
              position: relative;
              z-index: 1;

              &.no-photo:after {
                  content: attr(data-name);
                  display: inline-block;
                  position: absolute;
                  left: 0;
                  top: 50%;
                  width: 24px;
                  height: 24px;
                  margin-top: -12px;
                  font-size: 11px;
                  line-height: 25px;
                  text-align: center;
                  z-index: 1;
              }

              &.photo > .thumb {
                  display: block;
                  position: absolute;
                  left: 0;
                  top: 0;
                  width: 48px;
                  height: 48px;
                  border-radius: 24px;
                  overflow: hidden;
                  z-index: 1;

                  > span {
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                  }
              }

              .username {
                font-weight: 700;
              }
            }

            .notification-badge {
              display: inline-block;
              width: auto;
              padding: 0 3px;
              @include rem(font-size, 11px);
              letter-spacing: -0.6px;
              color: $terciary-brand-color;
              font-weight: 700;
              line-height: 13px;
              height: 13px;
              border-radius: 3px;
              background-color: $secondary-color-text;
              position: absolute;
              top: 5px;
              right: 6px;
              z-index: 1;
            }
          }
        }

      }
    }

    @media (min-width: 1004px) {
      display: none;
      width: 322px;
      height: auto;
      padding: 75px 0 15px 0;
      margin-left: 240px;
      position: absolute;
      top: 0;
      left: 46%;
      overflow: hidden;
      visibility: visible;
      //@include opacity(0);
      //@include css3( transition, opacity 0.3s linear );
      z-index: 999;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $secondary-brand-color;
        @include opacity(0.9);
        z-index: 0;
      }
    }

}

#trigger-menu-label {
  position: absolute;
  z-index: 1000;
  cursor: pointer;

  @media (max-width: 1003px) {
    display: block;
    right: 4px;
    top: 0;
    width: 41px;
    height: 40px;
  }
  @media (min-width: 1004px) {

    display: block;
    left: 50%;
    top: 20px;
    width: 23px;
    height: 19px;
    margin-left: 427px;
  }

  > label#menu-toggler {
    display: inline-block;
    text-indent: -9999px;
    cursor: pointer;

    @media (max-width: 1003px) {
      display: block;
      position: relative;
      width: 41px;
      height: 40px;
      padding: 12px 11px 13px 11px;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 19px;
        height: 16px;
        margin-left: -9px;
        margin-top: -8px;
        @include icono2x(19px, 16px, -56px, -720px);
      }
    }
    @media (min-width: 1004px) {
      position: absolute;
      left: 0;
      top: 0;
      width: 23px;
      height: 19px;
      @include icono(23px, 19px, -53px, -1241px);
    }
  }
}

ul.user-menu {
  float: left;
  height: auto;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 999;

  li {
    float: left;
    width: 100%;
    padding: 0 52px 0 30px;
    letter-spacing: -0.3px;
    color: $terciary-brand-color;
    background-color: transparent;

    a {
        text-decoration: none;
    }

    &:hover {
      background-color: $secondary-brand-color;
    }

    @media (max-width: 1003px) {
      padding: 0 25px;

      &.service {
        height: 44px;
        @include rem(font-size, 16px);
        line-height: 44px;

        a {
          float: left;
          width: 100%;
          height: 100%;
          font-weight: 300;
          color: $terciary-brand-color;

          &.with-icon {
            position: relative;
            padding-left: 32px;

            &.icon-pulse:before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -18px;
              @include icono2x(18px, 18px, -56px, -1117px);
            }
          }
        }

        &:last-child, &.last-child {
          height: 64px;
          margin-bottom: 18px;

          a {
            border-bottom: 1px solid $terciary-brand-color;
          }
        }
      }

      &.profile {
        @include rem(font-size, 14px);

        a {
          float: left;
          width: 100%;
          height: 48px;
          line-height: 48px;
          font-weight: 300;
          color: $terciary-brand-color;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: $terciary-brand-color;
          }
        }
      }

      &.link {
        @include rem(font-size, 14px);

        a {
          float: left;
          width: 100%;
          height: 43px;
          line-height: 43px;
          font-weight: 300;
          color: $terciary-brand-color;
        }

        &.last-child {
          height: 67px;
          margin-bottom: 18px;

          a {
            height: 64px;
            border-bottom: 1px solid $terciary-brand-color;
          }
        }

        &:first-child {
          margin-top: 20px;
        }
      }

    }

    @media (min-width: 1004px) {

      &.service {
        height: 42px;
        @include rem(font-size, 14px);
        line-height: 42px;

        a {
          float: left;
          width: 100%;
          height: 100%;
          font-weight: 300;
          color: $terciary-brand-color;

          &.with-icon {
            position: relative;
            padding-left: 32px;

            &.icon-pulse:before {
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -17px;
              @include icono(19px, 18px, -55px, -2050px);
            }
          }
        }

        &:last-child, &.last-child {
          height: 58px;
          margin-bottom: 15px;

          a {
            border-bottom: 1px solid $terciary-brand-color;
          }
        }
      }

      &.link {
        height: 40px;
        @include rem(font-size, 12px);
        line-height: 40px;

        a {
          float: left;
          width: 100%;
          height: 100%;
          font-weight: 300;
          color: $terciary-brand-color;
        }
      }

    }

  }
}

input[type=checkbox]#toggle-menu {
  position: absolute;
  visibility: hidden;
}

input[type=checkbox]#toggle-menu:checked ~ div#offcanvas-menu {

    @media (max-width: 1003px) {
      @include css3( transform, translate3d(0,0,0) );
    }

    @media (min-width: 1004px) {
      display: block;
    }

}

input[type=checkbox]#toggle-menu:checked ~ #trigger-menu-label > label#menu-toggler {

    @media (max-width: 1003px) {
      display: block;
      position: relative;
      width: 41px;
      height: 41px;
      padding: 12px 11px 13px 11px;

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 16px;
        height: 16px;
        margin-left: -8px;
        margin-top: -8px;
        @include icono2x(16px, 16px, -57px, -742px);
      }
    }

    @media (min-width: 1004px) {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 18px;
      height: 18px;
      margin-left: -9px;
      margin-top: -9px;
      @include icono(18px, 18px, -35px, -1281px);
    }

}
