.button {
	@media (max-width: 1003px) {
		padding-top: 34px;

		.buttons-group {
			text-align: center;
			margin-top: 20px;
		}
	}

	@media (min-width: 1004px) {
		float: left;
		display: inline-block;
		width: 410px;
	}
}