

.post-block {

	@media (max-width: 1003px) {
		padding-bottom: 14px;
		padding-top: 19px;
		border-top: 1px solid $tabs-border-color;

		&:first-child {
			padding-top: 0;
			border-top: none;
		}

		&:last-child {
			border-bottom: none;
		}

		.comment {
			width: 100%;
			padding: 3px 0 0 0;

			img {
				max-width: 100%;
			}

			p.text {
				@include rem(font-size, 16px);
				line-height: 1.3;
				font-weight: 300;
				margin: 0 0 0.65em 0;

				a {
					font-weight: 300;
				}
			}

			* + p.text {
				margin: 1em 0 0.65em 0;
			}
		}

		.widgets {
			position: static;
			width: 100%;
			padding: 4px 0 0 0;
		}
	}

	@media (min-width: 1004px) {
		padding-bottom: 29px;
		padding-top: 32px;
		border-top: 1px solid $tabs-border-color;

		&:first-child {
			padding-top: 6px;
			border-top: none;
		}

		&:last-child {
			border-bottom: none;
		}

		.comment {
			width: 100%;
			padding: 7px 18px 0 43px;

			img {
				max-width: 100%;
			}

			p.text {
				@include rem(font-size, 14px);
				line-height: 1.3;
				font-weight: 300;
				margin: 0 0 0.65em 0;

				a {
					font-weight: 300;
				}
			}

			* + p.text {
				margin: 0.65em 0;
			}
		}

		.widgets {
			float: none;
			width: 100%;
			padding: 2px 18px 0 51px;

			.widget {
				margin-left: 0;
				margin-right: 12px;
			}
		}
	}

}
