.practicas-grid {
  position: relative;

  &.full-width-content {
  	padding-top: 15px;

    @media(max-width: 1003px) {
      float: left;
      display: inline-block;
      width: 100%;
      padding-top: 0;
      border-top: 1px solid $tabs-border-color;
    }
  }
}

.grid {
  @media (max-width: 1003px) {
    margin: 8px 0 7px 0;
  }
  .grid-item {
    width: 31.3%;
    height: auto;
    margin: 1% 1%;

    @media (max-width: 1003px) {
      width: 100%;
      margin: 7px 0 8px 0;
    }
  }
}
.no-scrollinfinite{
  display: none;
}
.scrollinfinite{
  margin: 0 auto;
  img{
    width: 50%;
  }
}
