section#proyectos-relacionados {
	height: auto;

	.proyectos-relacionados-full-block {
		float: left;
		display: inline-block;
		width: 100%;

		@media (max-width: 1003px) {
		 	margin: 34px 0 39px 0;
		}

		@media (min-width: 1004px) {
		 	margin: 60px 0;
		}			

		> h1 {
			@media (max-width: 1003px) {
			 	@include rem(font-size, 25px);  
			}

			@media (min-width: 1004px) {
			 	@include rem(font-size, 28px);
			}
		}

		ul.relacionados {
			width: 100%;
			padding: 0;

			@media (max-width: 1003px) {
				margin: 24px 0 0 0;
			}

			@media (min-width: 1004px) {
				margin: 18px 0 0 0;
			}

			li {
				position: relative;

				@media (max-width: 1003px) {
					display: table;
					width: 100%;
					height: 50px;
				 	@include rem(font-size, 16px);
				}

				@media (min-width: 1004px) {
				 	@include rem(font-size, 20px);
				 	padding-left: 21px;

				 	&:after {
				 		content: '';
				 		position: absolute;
				 		left: 0;
				 		top: 50%;
				 		margin-top: -4px;
				 		@include icono(8px, 8px, -61px, -1515px);
				 	}					 	
				}

				a {
					color: $crono-steps-active-text;						
					position: relative;

					@media (max-width: 1003px) {
						display: table-cell;
						vertical-align: middle;
						line-height: 1.3;
						padding-right: 26px;
					}

					@media (min-width: 1004px) {
					 	line-height: 44px;
					 	padding-right: 16px;
					}						
				}					
			}
		}
	}
}