.result-block{
  &.ambassador-search{
    .title{
      &::after{
          display: inline-block;
        	z-index: 2;
        	width: 12px;
        	height: 12px;
        	background-image: url(../img/sp-layout.png);
        	background-repeat: no-repeat;
        	background-position: -49px -1494px;
          content: '';
      }
    }
  }
}
