/* ======================================================================
	Scroll infinite
======================================================================== */

.scrollinfinite {
  text-align: center;

  @media (max-width: 1003px) {
    margin-top: 20px;

    &.margin-bottom {
      margin-bottom: 0;
    }
  }

  @media (min-width: 1004px) {
    margin-top: 28px;

    &.margin-bottom {
      margin-bottom: 28px;
    }
  }

  span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 -2px;
    text-align: center;
    line-height: 24px;

    i.icono-slider-dot {
      width: 14px;
      height: 14px;
      background-color: $forms-gray-color;
      border: 1px solid $forms-gray-color;
      border-radius: 7px;
      behavior: url(../js/vendor/pie/PIE.htc);

      &.first {
        background-color: $forms-gray-color;
        border-color: $forms-gray-color;
      }

      &.second {
        background-color: $crono-steps-guide-color;
        border-color: $crono-steps-guide-color;
      }

      &.third {
        background-color: $tabs-border-color;
        border-color: $tabs-border-color;
      }
    }

    &.active {
      i.icono-slider-dot {
        background-color: transparent;
        behavior: url(../js/vendor/pie/PIE.htc);
      }
    }
  }
}