/* ======================================================================
	Contenido Pestañas
======================================================================== */

.tabs {
  position: relative;
  color: $secondary-brand-color;

  @media (max-width: 1003px) {
    .filter-select, .filter-select_combi {
      float: left;
      display: inline-block;
      width: 100%;
      min-height: 40px;
      height: auto;
      overflow: hidden;
      background: $terciary-brand-color;
      border: 1px solid $secondary-brand-color;
      position: relative;
      z-index: 1;

      a.filter-selected {
        float: left;
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        @include rem(font-size, 18px);
        font-weight: 700;
        text-align: center;
        color: $crono-steps-active-text;

        > span {
          display: inline-block;
          width: auto;
          padding-right: 22px;
          position: relative;
        }

        ~ ul {
          float: left;
          display: none;
          width: 100%;
          height: auto;
          margin: 0;
          padding: 0;
          position: relative;
          top: 0;
          left: 0;
          @include css3( transition, opacity 0.3s linear );

          &.folded {
            @include opacity(0);
          }
          &.unfolded {
            @include opacity(1);
          }

          li.option {
            width: 100%;
            height: 40px;
            margin: 0;
            background: $terciary-brand-color;
            border-top: 1px solid $secondary-brand-color;

            a {
              display: inline-block;
              width: 100%;
              height: 100%;
              @include rem(font-size, 18px);
              font-weight: 300;
              text-align: center;
              color: $crono-steps-active-text;
              padding: 8px 20px;
            }
          }
        }
      }
    }

    .tab {
      float: left;
      width: 100%;
      display: none;

      input[type=radio] {
        display: none;
      }

      .tab-label {
        display: none;
      }

      .tab-panel {
        float: left;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        @include opacity(0);
        @include css3( transition, opacity 0.3s linear );

        &.rank, &.tool {
          padding: 0 15px;

          .controls-mobile {
            position: relative;
            width: 100%;
            height: 60px;
            padding: 0 25px;


            > a {
              background-color: $terciary-brand-color;
              display: block;
              height: 100%;
              padding: 10px 0;
              width: 40px;
              position: absolute;
              top: 0;
              z-index: 1;

              &.disabled {
                cursor: default;
                @include opacity(0.2);
              }
            }

            .nav-prev {
              left: 0;
              top: 0;
              margin-left: -15px;

              i {
                margin-left: 15px;
                margin-top: 14px;
              }
            }

            .nav-next {
              right: 0;
              top: 0;
              margin-right: -15px;

              i {
                margin-left: 17px;
                margin-top: 14px;
              }
            }
          }

          .col-sm-6 {
            padding: 0;
            overflow: hidden;
          }
        }
      }

      &.active {
        display: inline-block;

        .tab-panel {
          overflow: visible;
          @include opacity(1);
        }
      }
    }
  }

  @media (min-width: 1004px) {
    min-height: 200px;

    &.participa-grid-filters, &.exclusivo-embajadores-grid-filters {
        border-top: 1px solid $tabs-border-color;
        margin-top: 50px;
    }

    &.participa-grid-filters {
        padding-top: 12px;
    }

    .tab {
      float: left;
      display: inline-block;

      &.rank, &.tool, &.filter {
        width: 100%;
        display: block;
        @include opacity(0);

        &.active {
          @include opacity(1);
        }
      }

      input[type=radio] {
        display: none;
      }

      .tab-label {
        position: relative;
        @include rem(font-size, 15px);
        background: $terciary-brand-color;
        border: 1px solid $tabs-border-color;
        display: inline-block;
        width: 100px;
        height: 34px;
        padding: 0;
        margin-right: 3px;
        text-align: center;
        line-height: 34px;
        vertical-align: bottom;
        cursor: pointer;
      }

      &:first-child, &.first {
        .tab-label {
          width: 101px;
        }
      }

      &:last-child, &.last {
        .tab-label {
          width: 101px;
          margin-right: 0;
        }
      }

      input[type=radio].checked ~ .tab-label {
        background: $tabs-border-color;
        z-index: 2;
      }

      .tab-panel {
        position: absolute;
        top: 33px;
        right: 0;
        left: 0;
        bottom: 0;
        display: inline-block;
        overflow: hidden;
        @include opacity(0);
        visibility: hidden;
        @include css3( transition, opacity 0.3s linear );

        &.rank, &.tool {
          border-left: 1px solid $tabs-border-color;
          border-right: 1px solid $tabs-border-color;
          border-bottom: 1px solid $tabs-border-color;
          width: 100%;
          position: relative;
          top: 0;
          visibility: inherit;

          .controls {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 59px;
            padding: 0 25px;
            vertical-align: bottom;
            @include rem(font-size, 20px);
            font-weight: 700;
            text-align: center;
            line-height: 59px;
            z-index: 9999;

            > a {
              float: left;

              &.disabled {
                cursor: default;
                @include opacity(0.2);
              }
            }

            .nav-prev {
              float: left;
              @include icono(100%, auto, -46px, -1551px);
              height: 30px;
              width: 40px;
              margin-top: 20px;
              margin-left: -17px;
            }

            .nav-next {
              float: right;
              @include icono(100%, auto, -46px, -1523px);
              height: 30px;
              width: 40px;
              margin-top: 20px;
              margin-right: -17px;
            }
          }

          .col-sm-6 {
            padding: 0 10px;
          }
          .tab-content {
            border: 0 !important;

            &.left {
              margin-left: -10px;
            }

            &.right {
              float: right;
              margin-right: -10px;
            }
          }
          tr {
            &.with-border-bottom {
              background-color: transparent !important;

              td {
                position: relative;
                overflow: hidden;

                &:after {
                  content: '';
                  position: absolute;
                  left: 0 ;
                  bottom: 1px;
                  width: 100%;
                  height: 1px;
                  background-color: $tabs-border-color;
                }

                &.order {
                  color: $primary-brand-color;

                  &:after {
                    left: 10px;
                  }
                }

                &.score {
                  &:after {
                    left: auto;
                    right: 10px;
                  }
                }
              }
            }
          }
        }

        &.filter {
          width: 100%;
          position: relative;
          top: 0;
          visibility: inherit;

          .tab-content {
            border: 0 !important;
          }
        }
      }

      input[type=radio].checked ~ .tab-panel {
        z-index: 2;
      }

      &.active {
        .tab-label {
          cursor: default;
        }
        .tab-panel {
          overflow: visible;
          @include opacity(1);
        }
      }
    }
  }

  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

/* Tabs Ranking */
.tabs-menu {
  @media (max-width: 1003px) {
    display: none;
  }

  @media (min-width: 1004px) {
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;

    li {
      display: table-cell;
      height: 36px;
      text-align: center;
      vertical-align: middle;
      border-left: 1px solid $tabs-border-color;
      border-bottom: 1px solid $tabs-border-color;
      border-top: 1px solid $tabs-border-color;
      cursor: pointer;

      &.disabled, &.disabled a {
          cursor: default;
      }

      &.last {
        border-right: 1px solid $tabs-border-color;
      }

      &.current {
        border-bottom: 1px solid $terciary-brand-color;
      }
    }

    a {
      @include rem(font-size, 16px);
      color: $primary-color-text;
      line-height: 1.2;
      display: block;
      padding: 0 18px 18px;
    }
  }

      &.bsproducts {
        width: 100%;
        margin: 0;

        li {
          padding: 0 13px;
          border: none;

          > a {
            @include rem(font-size, 18px);
            font-weight: 400;
          }

          &.current {
            position: relative;

            &:after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              height: 6px;
              background-color: $primary-brand-color;
            }
          }

          &.first-child, &:first-child {
            padding: 0 16px;
          }
        }
      }
    &.exclusive {
        li {
            height: 50px;
            border: none;
            width: 25%;
            padding: 0 40px;
            &.current {
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    left: 40px;
                    right: 40px;
                    bottom: 0;
                    height: 6px;
                    background-color: $primary-brand-color;
                }
                &.disabled {
                    &:after {
                        opacity: 0.2;
                    }
                }
            }
        }
        a {
            font-weight: 400;
            padding: 0;
            &.disabled {
                opacity: 0.2;
            }
        }
    }
}

.inner-nav-tabs {
  @media (max-width: 1003px) {
    display: none;
  }
  @media (min-width: 1004px) {
    float: left;
    width: 100%;
    height: 59px;
    padding: 0 25px;
    vertical-align: bottom;
    @include rem(font-size, 20px);
    font-weight: 700;
    text-align: center;
    line-height: 59px;
    background: $terciary-brand-color;

    .col-left {
      float: left;
      width: 50%;
      height: 100%;
    }

    .col-right {
      float: right;
      width: 50%;
      height: 100%;
    }

    a {
      color: $primary-color-text;
      width: 100% !important;
      display: block;
      position: relative;
    }
  }
}

.ranks-slider {
  @media (max-width: 1003px) {
    ul.bxslider {
      margin: 0;
      padding: 0;
    }

    li {
      display: none;

      &.active {
        display: inline-block;


      }
    }
  }

  @media (min-width: 1004px) {
    width: 100%;
    height: 640px;

    ul.bxslider {
      margin: 0;
      padding: 0;

      li {
        width: 100%;
      }
    }
    .bx-wrapper .bx-viewport {
      height: 620px !important;
    }
  }
}

.tab-panel {
  &.rank {
    .bx-wrapper {
      margin-top: 59px !important;

      .bx-prev {
        @include icono(100%, auto, -48px, -1559px);
      }
      .bx-next {
        @include icono(100%, auto, -48px, -1531px);
      }
    }
    .bx-wrapper .bx-controls-direction a {
      top: -35px;
      height: 25px;
      width: 40px;
      margin-top: 0;
    }
  }
}
