.activity-list {
	@media (max-width: 1003px) {
		padding: 0;
		margin-bottom: 39px;

		&.last {
			margin-bottom: 0;
		}		

		.activity-title {
			@include rem(font-size, 18px);
			font-weight: bold;
			margin: 0 0 16px 0;
		}

		.activities {
			padding-left: 21px;
			margin: 0;
			position: relative;

			> .activity-item {
				position: relative;
				padding-bottom: 33px;
				font-weight: normal;

				&.last, &:last-child {
					padding-bottom: 0;
				}

				> * {
					margin-bottom: 4px;

					&.perfil {
						margin-bottom: 14px;

				        .thumb-username {
							height: 40px;

		                    .username {
		                        > .posted {
		                            display: inline;
		                            @include rem(font-size, 14px);
		                            padding-left: 0;
		                        }                        
		                    }						

							.thumb {
								width: 40px;

								> span {
									width: 40px;
									height: 40px;
									margin-top: 7.5px;
								}         
							}

							&.photo > .thumb {
								> span {
									border-radius: 40px;
								}
							}

							&.photo.ambassador > .thumb > span:before {
								width: 38px;
								height: 38px;
								border-radius: 19px;
							}

							&.ambassador > .thumb {
								> span:after {
									@include icono(16px, 16px, -97px, -1492px);
								}
							}

							&.no-photo:after {
							  width: 40px;
							  height: 40px;
							  margin-top: -20px;
							  @include rem(font-size, 15px);
							  line-height: 41px;
							}

							&.no-photo.ambassador:before {
							  width: 38px;
							  height: 38px;
							  margin-top: -19px;
							  border-radius: 20px;
							}													
				        }			
					}
				}
			}

			> .activity-item:before {
				content: '';
				position: absolute;
				left: -21px;
				top: 6px;
				width: 9px;
				height: 9px;
				border-radius: 4.5px;
				background-color: $forms-gray-color;
			}

			> .activity-item:after {
				position: absolute;
				content: '';
				width: 1px;
				height: 100%;
				border-left: 1px solid $forms-gray-color;
				top: 11px;
				left: -17px;
			}

			> .activity-item:last-child:after {
				display: none;
			}

			p {
				@include rem(font-size, 16px);

				&.colon {
					@include rem(font-size, 12px);
				}			

				&.time {
					@include rem(font-size, 12px);
					padding: 0;
					font-style: italic;
				}

				&.colon:after {
					content: ':';
				}
			}

			a {
				font-weight: normal;
			}

			.username, strong  {
				font-weight: 700;
			}
		}
	}

	@media (min-width: 1004px) {
		padding: 0 25px;

		.activity-title {
			@include rem(font-size, 16px);
			font-weight: bold;
			margin: 25px 0 16px 0;
		}

		.activities {
			padding-left: 25px;
			margin: 0;
			position: relative;

			> .activity-item {
				position: relative;
				padding-bottom: 19px;
				font-weight: normal;

				&.last, &:last-child {
					padding-bottom: 0;
				}

				> * {
					margin-bottom: 4px;

					&.perfil {

				        .thumb-username {
							height: 30px;

		                    .username {
		                        > .posted {
		                            display: inline;
		                            @include rem(font-size, 12px);
		                            padding-left: 0;
		                        }                        
		                    }						

							.thumb {
								> span {
									margin-top: 4px,
								}            
							}

							&.photo > .thumb {
								> span {
									
								}
							}

							&.photo.ambassador > .thumb > span:before {
								width: 28px;
								height: 28px;
								border-radius: 14px;
							}
				        }			
					}
				}
			}

			> .activity-item:before {
				content: '';
				position: absolute;
				left: -24px;
				top: 5px;
				width: 7px;
				height: 7px;
				border-radius: 3.5px;
				background-color: $forms-gray-color;
			}

			> .activity-item:after {
				position: absolute;
				content: '';
				width: 1px;
				height: 100%;
				border-left: 1px solid $forms-gray-color;
				top: 8px;
				left: -21px;
			}

			> .activity-item:last-child:after {
				display: none;
			}

			p {
				@include rem(font-size, 14px);

				&.colon {
					@include rem(font-size, 12px);
				}			

				&.time {
					@include rem(font-size, 11px);
					padding: 0;
					font-style: italic;
				}

				&.colon:after {
					content: ':';
				}
			}

			a {
				font-weight: normal;
			}

			.username, strong  {
				font-weight: bold;
			}
		}
	}

}