/* ======================================================================
  Alert (Success, ...)
======================================================================== */

.alert {
	@media (max-width: 1003px) {
		padding: 55px 25px 20px 25px;
		@include rem(font-size, 14px);
		text-align: center;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 50%;
			top: 20px;
			margin-left: -9px;
			@include icono2x(18px, 14px, -59px, -1065px);
		}		

		&.alert-success { // SUCCESS
			background-color: $alert-success-bg;
			padding-top: 50px;
		}
	}

	@media (min-width: 1004px) {
		border: 1px solid $tabs-border-color;
		padding: 15px 15px 10px 15px;
		@include rem(font-size, 14px);
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 15px;
			top: 15px;
			@include icono(18px, 14px, -59px, -2164px);
		}		

		&.alert-success { // SUCCESS
			background-color: $alert-success-bg;
			padding-left: 50px;
		}
	}
}