.hidden-show-more {
	height: 0;
	overflow: hidden;
}

.ambassador-box {
	position: relative;

	@media (max-width: 1003px) {
		padding: 25px;
		background: $terciary-brand-color;
		border: 1px solid $tabs-border-color;
		height: 608px;
		@include rem(font-size, 16px);

		.ambassador-image {
		    text-align: center;
		    width: 80%;
		    margin: 0 auto 15px auto;
		    overflow: hidden;
			height: 122px;

			.perfil-username {
				display: inline-block;
				width: 100%;
				margin: 0 auto;

		        .thumb-username {
		        	margin: 0 auto 5px auto;
		        }
			}
		}

		.ambassador-name,
		.ambassador-surname {
			@include rem(font-size, 16px);
			font-weight: 700;
			line-height: 1.3;
			font-weight: bold;
			text-align: center;
		}

		.ambassador-position {
			@include rem(font-size, 12px);
			line-height: 16px;
			font-weight: normal;
			text-align: center;
		}

	    .follow-button-container {
			width: 100%;
			margin: 0 auto 22px auto;
	    }	

		.followers-comments {
			@include clearfix();
			text-align: center;
			border-top: 1px solid $tabs-border-color;
			border-bottom: 1px solid $tabs-border-color;
			padding: 15px 0;
			margin: 0;

			.number {
				@include rem(font-size, 25px);
				font-weight: 700;
				line-height: 26px;
			}

			.text {
				@include rem(font-size, 12px);
			}
		}

		.widgets {
			position: relative;
			width: 100%;
			float: none;
			margin-top: 4px;

			.widget-likes {
				margin-left: 0;
			}
		}

		.last-post-title {
			font-weight: bold;
			line-height: 1.3;
			margin: 23px 0 16px 0;
		}

		.last-post-content {
			line-height: 1.3;
			height: 168px;
			overflow: hidden;
		}

		.link {
			display: inline-block;
			width: 100%;
			@include rem(font-size, 12px);
			text-align: center;
			margin-top: 25px;
		}

		&.auto-height {
			height: auto;
		}	

		&.no-border-container {
			border: none;
			height: auto;
			padding: 0;
			margin-top: 20px;
			margin-bottom: 0;

		    .follow-button-container {
				margin: 40px auto 22px auto;
		    }			
		}	

		&.no-margin {
			margin-bottom: 0;
		}
	}

	@media (min-width: 1004px) {
		padding: 22px 16px;
		background: $terciary-brand-color;
		border: 1px solid $tabs-border-color;
		height: 562px;
		max-height: 562px;
		margin-bottom: 63px;
		@include rem(font-size, 14px);

		.ambassador-image {
		    text-align: center;
		    width: 80%;
		    margin: 0 auto 15px auto;
		    overflow: hidden;
			height: 143px;

			.perfil-username {
				display: inline-block;
				width: 100%;
				margin: 0 auto;

		        .thumb-username {
		        	margin: 0 auto;
		        }
			}
		}

		.ambassador-name,
		.ambassador-surname {
			@include rem(font-size, 14.5px);
			font-weight: 700;
			line-height: 1.3;
			font-weight: bold;
			text-align: center;
		}

		.ambassador-position {
			@include rem(font-size, 12px);
			line-height: 16px;
			font-weight: normal;
			text-align: center;
		}

    	.follow-button-container {
			width: 80%;
			margin: 15px auto 23px auto;
	    }	

		.followers-comments {
			@include clearfix();
			text-align: center;
			border-top: 1px solid $tabs-border-color;
			border-bottom: 1px solid $tabs-border-color;
			padding: 17px 0;
			margin: 0;

			.number {
				@include rem(font-size, 18px);
				font-weight: 700;
				line-height: 26px;
			}

			.text {
				@include rem(font-size, 12px);
			}
		}

		.widgets {
			width: 100%;
			float: none;
			margin-top: 8px;

			.widget-likes {
				margin-left: 0;
			}
		}

		.last-post-title {
			font-weight: bold;
			line-height: 1.3;
			margin: 23px 0 16px 0;
		}

		.last-post-content {
			line-height: 1.3;
			height: 128px;
			overflow: hidden;
		}

		.link {
			display: inline-block;
			width: 100%;
			@include rem(font-size, 12px);
			text-align: center;
			margin-top: 25px;
		}

		&.auto-height {
			height: auto;
		}	

		&.no-border-container {
			border: none;
			height: auto;
			padding: 0;
			margin-top: 44px;
			margin-bottom: 0;

		    .follow-button-container {
				width: 80%;
				margin: 15px auto 0 auto;
		    }
		}

		&.no-margin {
			margin-bottom: 0;
		}
	}

	.profile-anchor {
		@extend .box-profile-anchor;
	}
}