/* ======================================================================
  Anchors Page Content
======================================================================== */

.anchors-full-block {
	width: 100%;
	text-align: center;
  
	@media (min-width: 1004px) {
		margin-top: 15px;
	}
}  

.anchors {
	display: table;
	width: 100%;
	table-layout: fixed;
	text-align: center;

	@media (max-width: 1003px) {

	}
	@media (min-width: 1004px) {
		height: 58px;
	}			
	
	.anchor-block {
		display: table-cell;
		width: 33.33%;
		vertical-align: middle;

		a.anchor-label {
			display: inline-block;
			width: 100%;
			height: 42px;
			color: $crono-steps-active-text;
			position: relative;
			cursor: pointer;

			@media (max-width: 1003px) {
				height: auto;
				padding-bottom: 32px;		
			}

			&.active {
				color: $primary-brand-color;

				> i.icono-ancla {
				    @media (min-width: 1004px) {
				      @include icono(20px, 13px, -54px, -407px);
				    }					
				}
			}
		}

		@media (max-width: 1003px) {
			@include rem(font-size, 18px);
		}
		@media (min-width: 1004px) {
			@include rem(font-size, 16px);
		}
	}
}

section.sticky {
	visibility: hidden;
	height: 0;
	@include opacity(0);
	z-index: 9999;
	background-color: $background-body;
	@include css3( transition, all 0.5s ease-in-out );
	border-bottom: 1px solid $terciary-brand-color;
	
	.anchors-full-block {
		margin-top: 0;
		@include opacity(0);
		@include css3( transition, opacity 0.5s ease-in-out );
	}

	&.stick {
		position: fixed;
		left: 0;
		top: 0;		
		visibility: visible;
		height: 58px;
		@include opacity(1);
		

		.anchors-full-block {
			@media (max-width: 1003px) {
				display: none;
			}
			@media (min-width: 1004px) {
				display: block;
				@include opacity(1);
			}
		}
	}

	&.headhesive--unstick {
		.anchors-full-block {
			@media (max-width: 1003px) {
				display: none;
			}
			@media (min-width: 1004px) {

			}		
		}
	}

	
}
