/* ======================================================================
	Carousel	
======================================================================== */

@media (max-width: 1003px) {

  .carousel {
    padding: 0 25px;
    margin-bottom: 55px;
    position: relative;

    > a {
      position: absolute;
      top: 0;     
      display: block;
      width: 40px;
      height: 100%;
      z-index: 1;

      i {
        position: absolute;
        top: 50%;
        margin-top: -7px;
      }      

      &.carousel-nav-prev {
        left: 0;
        margin-left: -15px;

        i {
          margin-left: 15px;
        }
      }

      &.carousel-nav-next {
        right: 0;
        margin-right: -15px;

        i {
          margin-left: 17px;
        }
      }

      &.disabled {
        @include opacity(0.2);
        cursor: default;
      }
    }

    &.vertical {
      padding: 40px 0;
      position: relative;

      & ~ a {
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 40px;
        z-index: 1;

        i {
          position: absolute;
          left: 50%;
        }      

        &.carousel-left-nav-prev, &.carousel-right-nav-prev {
          top: 0;

          i {
            @include css3( transform, rotate(90deg) );
            margin-left: -3px;
            top: 20px;
          }
        }

        &.carousel-left-nav-next, &.carousel-right-nav-next {
          bottom: 0;

          i {
            @include css3( transform, rotate(90deg) );
            margin-left: -3px;
            bottom: 20px;
          }
        }

        &.disabled {
          @include opacity(0.2);
          cursor: default;
        }
      }      
    }
  }
}

