/* ======================================================================
  Column Block
======================================================================== */

.column-block {
	float: left;
	display: inline-block;
	width: 100%;

    @media (max-width: 1003px) {
        margin-top: 16px;		            			
    }

    @media (min-width: 1004px) {
		margin-top: 32px;

		& + .column-block {
			margin-top: 40px;
		} 

		> h1 {
			@include rem(font-size, 13px);
			color: $secondary-brand-color;
			line-height: 1.2;
			margin-bottom: 14px;
		}
    }
}
