/* ======================================================================
  Custom Select
======================================================================== */

form {

	fieldset {

		select.form-control {
			position: absolute;
			visibility: hidden;
		}

		.custom-select {
			@include modular-mq( md ) {
				display: block;
				width: 100%;
				min-height: 32px;
				height: auto;
				position: relative;

				a.option-selected {
					float: left;
					@include rem( font-size, 14px );
					color: $secondary-brand-color;
					font-weight: 300;
					line-height: 32px;
					border: 1px solid $secondary-brand-color;
					background: $terciary-brand-color;
					width: 100%;
					height: 32px;
					margin: 0;
					padding: 0 19px 0 7px;
					background: #fff;
					overflow: hidden;
					display: block;
					position: relative;
					z-index: 1;
				}

				ul {
					position: absolute;
					display: none;
					min-width: 100%;
					width: auto;
					height: auto;
					margin: 32px 0 0 0;
					border: 1px solid $secondary-brand-color;
					border-bottom: none;
					padding: 0;
					top: -1px;
					left: 0;
					@include css3( transition, opacity 0.3s linear );
					z-index: 1;

					&.left {
						left: 0;
					}
					&.center {
						width: 325px;
						left: 50%;
						margin-left: -162px;
					}
					&.right {
						right: 0;
						left: auto;
					}												

					&.folded {
						visibility: hidden;
						@include opacity(0);
					}
					&.unfolded {
						visibility: visible;
						@include opacity(1);
					}

					li.option {
						display: table;
						width: 100%;
						height: 32px;
						background: $terciary-brand-color;
						border-bottom: 1px solid $secondary-brand-color;

						a {
							display: table-cell;
							vertical-align: middle;
							@include rem( font-size, 14px );
							font-weight: 300;
							text-align: left;
							color: $crono-steps-active-text;
							white-space: nowrap;
							padding: 0 7px;

							&.hover, &:hover {
								background-color: $crono-steps-guide-color;
							}
							
						}
					}				
				}
			}

			@include modular-mq( sm ) {
				float: left;
				display: inline-block;
				width: 100%;
				min-height: 40px;
				height: auto;
				margin-bottom: 15px;
				overflow: hidden;

				a.option-selected {
			        float: left;
			        display: inline-block;
			        width: 100%;
			        padding: 0 22px 0 7px;
			        height: 100%;
			        line-height: 40px;
			        @include rem(font-size, 14px);
			        font-weight: 300;
			        color: $secondary-brand-color;
			        border: 1px solid $secondary-brand-color;
			        position: relative;

			        span {
			          display: inline-block;
			          width: auto;
			          position: relative;
			        }

			        .icono-filters-dropdown {
			        	right: 7px;
			        }
				}

				ul {
					float: left;
					display: none;
					width: 100%;
					height: auto;
					margin: 0;
					padding: 0;
					position: relative;
					top: -1px;
					left: 0;
					border: 1px solid $secondary-brand-color;
					@include css3( transition, opacity 0.3s linear );
					z-index: 1;

					&.folded {
						visibility: hidden;
						@include opacity(0);
					}

					&.unfolded {
						visibility: visible;
						@include opacity(1);
					}

					li.option {
						display: table;
						width: 100%;
						height: 40px;
						background: transparent; 
						border-bottom: 1px solid $forms-gray-color;

						a {
							display: table-cell;
							vertical-align: middle;
							@include rem( font-size, 14px );
							font-weight: 300;
							text-align: left;
							color: $crono-steps-active-text;
							white-space: nowrap;
							padding: 0 7px;
							
						}

						&:last-child {
							border-bottom: none;
						}
					}				
				}		
			}
		}
	}
}