@media (max-width: 1003px) {

	.exclusivo-embajadores-slider {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0 0 40px 0;
		border: 1px solid $tabs-border-color;
		position: relative;
		.novedades {
			width: 100%;
			height: 366px;
			overflow: hidden;
			.novedad.table-block {
				display: block;
				width: 100%;
				height: 100%;
				background-color: $terciary-brand-color;
				position: relative;
				> .text-block, > .image-block {
					display: inline-block;
					width: 100%;
					height: 50%;
					overflow: hidden;
					position: absolute;
				}
				> .text-block {
					padding: 20px 25px;
					top: 50%;
					.max-height {
						display: block;
						width: 100%;
						height: 100%;
						overflow: hidden;
					}
					h4, p {
						display: block;
					}
					h4 {
						@include rem(font-size, 24px);
						color: $secondary-brand-color;
						line-height: 1.2;
						margin: 0 0 12px 0;
					}
					p {
						@include rem(font-size, 16px);
					}
				}
				> .image-block {
					top: 0;
					img {
						width: 100%;
					}
				}
			}
			~ .exclusivo-embajadores-nav-pag {
				position: absolute;
				bottom: -40px;
				display: block;
				width: 100%;
				height: 40px;
				text-align: center;
				z-index: 1;
				.swiper-pagination-bullet {
					opacity: 1;
					display: inline-block;
					background: none;
					width: 40px;
					height: 40px;
					margin: 0;
					text-align: center;
					&:after {
						content: '';
						display: inline-block;
						width: 18px;
						height: 18px;
						margin-top: 11px;
						background-color: $tabs-border-color;
						border: 1px solid $tabs-border-color;
						border-radius: 9px;
						box-sizing: border-box;
					}
					&.swiper-pagination-bullet-active:after {
						background-color: transparent;
					}
				}
			}
		}
	}

	h2.title-groups {
		@include rem(font-size, 14px);
		color: $secondary-brand-color;
		font-weight: 400;
		margin: 21px 0 16px 0;
	}

	.mygroups-grid-slider {
		margin-top: 26px;
		margin-bottom: 42px;
		position: relative;
		.mygroups {
			width: 100%;
			height: auto;
			padding-bottom: 30px;
			overflow: hidden;
			.mygroups-nav-next, .mygroups-nav-prev {
				display: none;
			}
			.mygroups-nav-pag {
				position: absolute;
				bottom: 4px;
				display: block;
				width: 100%;
				height: 10px;
				text-align: center;
				z-index: 1;

				.swiper-pagination-bullet {
					display: inline-block;
					width: 10px;
					height: 10px;
					margin-left: 6px;
					margin-right: 6px;
					background-color: $tabs-border-color;
					border: 1px solid $tabs-border-color;
					border-radius: 5px;
					@include opacity(1);

					&.swiper-pagination-bullet-active {
						background-color: transparent;
					}
				}
			}
		}
	}

	section#panel-exclusivo-embajadores {
		.tabs .filter-select, .tabs .filter-select_combi {
			border: none;
			padding: 0 15px;
			a.filter-selected{
				text-align: left;
				color: $primary-brand-color;
				font-weight: 400;
				background: transparent;
				border: 1px solid $tabs-border-color;
				> span {
					padding-left: 15px;
					padding-right: 32px;
					white-space: nowrap;
					position: static;
					i.icono-filters-dropdown.down{
						background-position: -39px -1001px;
						width: 17px;
						right: 30px;
						top: 17px;
					}
					i.icono-filters-dropdown.up{
						width: 17px;
						background-position: -74px -1001px;
						right: 30px;
						top: 17px;
					}
				}
			}
			ul {
				li.option {
					background: transparent;
				}
				&.unfolded{
					border-left: 1px solid $tabs-border-color;
					border-right: 1px solid $tabs-border-color;
					li.option{
						border-top: none;
						border-bottom: 1px solid $tabs-border-color;
						a {
							@include rem(font-size, 18px);
							text-align: left;
							padding: 8px 15px;
						}
					}
				}
			}
		}
		.tabs .filter-select {
			margin-top: 35px;
		}
		.tabs .filter-select_combi {
			background-color: $background-body;
			padding-top: 15px;
			a.filter-selected {
				border-color: $primary-brand-color;
				> span i.icono-filters-dropdown.down, span i.icono-filters-dropdown.up {
					top: 32px;
				}
			}
			ul {
				li.option {
					border-color: $primary-brand-color;
				}
				&.unfolded{
					border-color: $primary-brand-color;
					li.option{
						border-color: $primary-brand-color;
					}
				}
			}
		}
	}
}

@media (min-width: 1004px) {

	.exclusivo-embajadores-slider {
		margin-top: 18px;
		position: relative;
		.novedades {
			width: 100%;
			height: 333px;
			border: 1px solid $tabs-border-color;
			overflow: hidden;
			.novedad.table-block {
				width: 100%;
				height: 100%;
				table-layout: fixed;
				background-color: $terciary-brand-color;
				> .text-block {
					width: auto;
					vertical-align: top;
					position: relative;
					.max-height {
						display: block;
						padding: 35px;
						width: 100%;
						height: 100%;
						overflow: hidden;
					}
					h4, p {
						display: block;
					}
					h4 {
						@include rem(font-size, 24px);
						color: $secondary-brand-color;
						line-height: 1.2;
						margin: 0 0 20px 0;
						height: 85px;
						overflow: hidden;
					}
					p {
						@include rem(font-size, 16px);
						height: 110px;
						overflow: hidden;
					}
					span.comenta {
						float: right;
						margin-top: 16px;
						@include rem(font-size, 16px);
						> i.icono-swiper-next-blue {
						    @include icono(7px, 12px, -62px, -2321px);
							margin-left: 10px;
							position: relative;
							top: 1px;
						}
					}
				}
				> .image-block {
					width: 603px;
					img {
						width: 100%;
					}
				}
			}
			a:hover {
				.novedad.table-block > .text-block span.comenta > i.icono-swiper-next-blue {
					@include icono(7px, 12px, -80px, -2321px);
				}
			}
			~ .exclusivo-embajadores-nav-pag {
				position: absolute;
				z-index: 1;
				left: 29px;
				bottom: 20px;
				height: 10px;
				.swiper-pagination-bullet {
					opacity: 1;
					display: inline-block;
					background: none;
					width: 10px;
					height: 10px;
					margin: 0 6px;
					text-align: center;
					&:after {
						content: '';
						display: inline-block;
						width: 10px;
						height: 10px;
						background-color: $tabs-border-color;
						border: 1px solid $tabs-border-color;
						border-radius: 5px;
						box-sizing: border-box;
						position: relative;
						top: -3px;
					}
					&.swiper-pagination-bullet-active:after {
						background-color: transparent;
					}
				}
			}
		}
	}

	h2.title-groups {
		@include rem(font-size, 14px);
		color: $secondary-brand-color;
		font-weight: 400;
		margin: 21px 10px 16px 10px;
	}

	.mygroups-grid-slider {
		margin-top: 26px;
		margin-bottom: 42px;
		position: relative;
		.mygroups {
			width: 98%;
			height: auto;
			overflow: hidden;
			.mygroups-nav-next, .mygroups-nav-prev {
				position: absolute;
			    top: 0;
			    display: block;
			    width: 25px;
			    height: 100%;
			    z-index: 1;
				i {
					position: absolute;
				    top: 50%;
				    margin-top: -7px;
				    margin-left: 8.5px;
					z-index: 1;
				}
				&:before {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					background-color: $terciary-brand-color;
					opacity: 0.4;
					z-index: 0;
				}
				&.disabled {
				  display: none;
				}				
			}
			.mygroups-nav-next {
				left: auto;
				right: 0;
			}
			.mygroups-nav-prev {
				left: 0;
				right: auto;
			}
		}
	}

	.filter-select_combi {
		display: none;
	}

}
