.exclusive-block.grid-item, .exclusive-block.slide-item {
	background-color: $terciary-brand-color;
	border: 1px solid $tabs-border-color;
	&.event.fancied {
		border-color: $primary-brand-color;
	}

	a {
		color: $secondary-brand-color
	}

	.published-novedad {
		table-layout: fixed;
		height: 59px;
		margin: 5px 0;
		.date {
			width: 59px;
			text-align: center;
			font-weight: 400;
			> span.day-of-week {
				display: block;
				@include rem(font-size, 14px);
				line-height: 1;
			}
			> span.day-of-month {
				display: block;
				@include rem(font-size, 24px);
				line-height: 1.2;
			}
		}
		.title {
			width: auto;
			@include rem(font-size, 16px);
			font-weight: 700;
			line-height: 1.3;
			a {
				display: inline-block;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}

	.published-evento {
		margin: 16px;
		.title {
			display: inline-block;
			width: 100%;
			@include rem(font-size, 16px);
			font-weight: 700;
			line-height: 1.3;
			margin-bottom: 4px;
			a {
				display: inline-block;
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
		.location , .calendar {
			display: block;
			@include rem(font-size, 12px);
			font-weight: 400;
			line-height: 1.3;
			padding-left: 21px;
			margin: 8px 0;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 1px;
			}
		}
		.location {
			&:before {
				width: 7px;
				height: 11px;
				background-image: url(../img/location-icon.png);
	        	background-repeat: no-repeat;
			}
		}
		.calendar {
			&:before {
				width: 12px;
				height: 10px;
				background-image: url(../img/calendar-icon.png);
	        	background-repeat: no-repeat;
			}
		}
	}

	.published-grupo {
		margin: 16px;
		.title {
			display: inline-block;
			width: 100%;
			@include rem(font-size, 16px);
			font-weight: 700;
			line-height: 1.3;
			a {
				display: inline-block;
				width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
			}
		}
	}

	.perfil-username {
		.username {
			white-space: nowrap !important;
		}
	}

	.comment {
		overflow: hidden;
		position: relative;
		z-index: 0;

		p.text {
			color: $secondary-brand-color;

			a {
				font-weight: 300;
			}
		}
	}

	@media (max-width: 1003px) {
		padding: 20px 0 10px 0;

		&.event {
			padding: 0;
		}

		&.group {
			padding: 0 0 10px 0;
		}

		.published-novedad {
			.title {
				padding-right: 20px;
			}
		}

		.perfil-username {
			margin-left: 20px;
			margin-right: 20px;
		}

		.comment p.text {
			margin-left: 73px;
			margin-right: 20px;
		}

		.perfil-username {
			margin-bottom: 32px;
		}

		.comment {
			.img-wrapper {
				max-height: 215px;
				margin-bottom: 2em;
				overflow: hidden;
				img {
					width: 100%;
					display: block;
				}
			}
			p.text {
				@include rem(font-size, 15px);
				margin-bottom: 0.45em;
			}
		}

		.doc-wrapper, .typeform-wrapper {
			margin-left: 73px;
			margin-right: 20px;
			margin-bottom: 0.45em;
			.doc-data {
				display: inline-block;
				padding-top: 1em;
				width: 100%;
				border-top: 1px solid $tabs-border-color;
				position: relative;
				i {
					position: absolute;
					left: 0;
				}
				a {
					float: left;
					padding-left: 24px;
					width: 100%;
					@include rem(font-size, 15px);
					color: $primary-brand-color;
					line-height: 1.1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.widgets {
			position: static;
			margin: 10px 0 0 73px;
		}
	}

	@media (min-width: 1004px) {
		.published-novedad {
			.title {
				padding-right: 16px;
				a {
					width: 210px;
				}
			}
		}
		.perfil-username {
			margin-top: 1.45em;
			margin-left: 16px;
			margin-right: 16px;
		}

		.comment {
			.img-wrapper {
				max-height: 179px;
				margin-bottom: 1.65em;
				overflow: hidden;
				img {
					width: 100%;
					display: block;
				}
			}

			p.text {
				@include rem(font-size, 15px);
				margin-left: 59px;
				margin-right: 16px;
			}
		}

		.doc-wrapper, .typeform-wrapper {
			margin-left: 59px;
			margin-right: 16px;
			.doc-data {
				display: inline-block;
				width: 100%;
				border-top: 1px solid $tabs-border-color;
				position: relative;
				i {
					position: absolute;
					left: 0;
				}
				a {
					float: left;
					padding-left: 24px;
					width: 100%;
					@include rem(font-size, 15px);
					color: $primary-brand-color;
					line-height: 1.1;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		&.novelty, &.faq {
			.comment p.text {
				margin-bottom: 0.45em;
			}
			.doc-wrapper, .typeform-wrapper {
				margin-bottom: 0.45em;
				.doc-data {
					padding-top: 1.25em;
				}
			}
		}

		&.event {
			.comment p.text {
				margin-bottom: 1.45em;
				margin-left: 16px;
			}
			.doc-wrapper, .typeform-wrapper {
				margin-left: 16px;
				margin-bottom: 1.45em;
				.doc-data {
					padding-top: 2.25em;
				}
			}
		}


		.widgets {
			float: none;
			margin: 10px 0 13px 47px;
		}

		&.group {
			.widgets {
				margin: 10px 0 13px 4px;
			}
			.typeform-wrapper {
				margin-bottom: 0.45em;
				.doc-data {
					padding-top: 1.25em;
				}
			}
		}
	}
}

.exclusive-block.slide-item {
	@media (max-width: 1003px) {
		.comment {
			.img-wrapper {
				height: 215px;
				overflow: hidden;
			}
		}
	}
	@media (min-width: 1004px) {
		.published-grupo {
			.title {
				height: 45px;
			}
		}
		.comment {
			.img-wrapper {
				height: 179px;
				overflow: hidden;
			}
		}
	}
}
