@media (max-width: 1003px) {
	.exclusive-detail-image{
		width: 100%;
		background-color: $terciary-brand-color;
		img{
			width: 100%;
			display: block;
		}
	}
	.exclusive-detail-creator{
		background-color: $terciary-brand-color;
		padding: 20px 30px 0 30px;
		margin-bottom: 0px;
		border-width: 0px 1px 0 1px;
		border-style: solid;
		border-color: $tabs-border-color;
		.perfil-username {
			margin-bottom: 0;
		}
	}
	.exclusive-detail-content{
		background-color: $terciary-brand-color;
		padding: 20px 30px;
		margin-bottom: 0px;
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: $tabs-border-color;
		.exclusive-detail-description {
			margin-bottom: 20px;
			.title{
				color: $exclusive-font-title-detail;
				margin-bottom: 10px;
			}
			.text{
				margin-bottom: 5px;
				font-weight: 300;
			}
			&.no-title {
				margin-bottom: 0;
			}
		}
		.exclusive-detail-details{
			margin-bottom: 20px;
			i{
				float: left;
			}
			.icono-location{
				margin: 2px 14px 0 3px;
			}
			.icono-clock{
				margin: 2px 12px 0 0;
			}
		}
		.exclusive-detail-interested{
			display: inline-block;
			width: 100%;
			.title{
				color: $exclusive-font-title-detail;
				margin-bottom: 10px;
			}
			.perfil-username{
				float: left;
				display: inline-block;
				margin-right: 16px;
				margin-bottom: 16px;
				.thumb-username{
					display: table-cell;
				}
			}
			.interested {
				display: none;
				&.expanded {
					display: inline;
				}
			}
			.expand {
				margin-top: 6px;
				display: inline-block;
				width: 100%;
			}
		}
	}
	.exclusive-detail-coments{
		background-color: $exclusive-coments-bg-detail;
		padding: 20px 30px;
		margin-bottom: 50px;
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: $tabs-border-color;
		.username{
			top: -10px;
		}
		.comments-full-block{
			background-color: $exclusive-coments-bg-detail;
			.add-new{
				margin-top: 25px;
			}
		}
	}
}

@media (min-width: 1004px) {
	.exclusive-detail-image{
		background-color: $terciary-brand-color;
		width: 100%;
		max-width: 517px;
		img{
			width: 100%;
			display: block;
		}
	}
	.exclusive-detail-creator{
		background-color: $terciary-brand-color;
		padding: 20px 40px 10px 40px;
		margin-bottom: 0px;
		border-width: 0px 1px 0 1px;
		border-style: solid;
		border-color: $tabs-border-color;
	}
	.exclusive-detail-content{
		background-color: $terciary-brand-color;
		padding: 20px 40px;
		margin-bottom: 0px;
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: $tabs-border-color;
		.exclusive-detail-description {
			margin-bottom: 20px;
			.title{
				color: $exclusive-font-title-detail;
				margin-bottom: 10px;
			}
			.text{
				margin-bottom: 5px;
				font-weight: 300;
			}
			&.no-title {
				margin-bottom: 0;
			}
		}
		.exclusive-detail-details{
			margin-bottom: 20px;
			i{
				float: left;
			}
			.icono-location{
				margin: 2px 14px 0 3px;
			}
			.icono-clock{
				margin: 2px 12px 0 0;
			}
		}
		.exclusive-detail-interested{
			.title{
				color: $exclusive-font-title-detail;
				margin-bottom: 10px;
			}
			.perfil-username{
				display: inline-block;
				margin-right: 14px;
				margin-bottom: 14px;
				.thumb-username{
					display: table-cell;
				}
			}
			.interested {
				display: none;
				&.expanded {
					display: inline-block;
					width: 100%;
				}
			}
			.expand {
				margin-top: 6px;
			}
		}
	}
	.exclusive-detail-coments{
		background-color: $exclusive-coments-bg-detail;
		padding: 20px 40px;
		margin-bottom: 50px;
		border-width: 0px 1px 1px 1px;
		border-style: solid;
		border-color: $tabs-border-color;
		.username{
			top: -10px;
		}
	}
}
