.fancy-box {
	display: table;
	float: right;
	width: 100%;
	height: 46px;

	.fancy-number-display, .fancy-toggle-button {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		width: 50%;
		@include rem(font-size, 13px);
		color: $secondary-color-text;
		line-height: 46px;
	}

	a.btn-fancy {
		@include rem(font-size, 14px);
		font-weight: 400;
		color: $secondary-brand-color;
		display: block;
		width: 100%;
		height: 100%;
		background-color: $terciary-brand-color;
		border-top: 1px solid $tabs-border-color;
		border-left: 1px solid $tabs-border-color;
		@include css3( transition, all 0.3s linear );
		span {
			display: inline-block;
			padding-right: 21px;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				width: 8px;
				height: 8px;
				margin-top: -4px;
				background-image: url(../img/plus-black-icon.png);
				background-repeat: no-repeat;
			}
		}
		&.active {
			color: $terciary-brand-color;
			background-color: $primary-brand-color;
			border-top: 1px solid $tabs-border-color;
			border-left: 1px solid $tabs-border-color;
			span {
				&:after {
					width: 13px;
					height: 10px;
					margin-top: -5px;
					background-image: url(../img/check-white-icon.png);
					background-repeat: no-repeat;
				}
				&.mouseenter {
					padding-right: 0;
					&:after {
						display: none;
					}
				}
			}
		}
	}

	div.btn-iminterested {
		cursor: pointer;
		@include rem(font-size, 14px);
		font-weight: 400;
		color: $secondary-brand-color;
		display: block;
		width: 100%;
		height: 100%;
		background-color: $terciary-brand-color;
		border-top: 1px solid $tabs-border-color;
		border-left: 1px solid $tabs-border-color;
		@include css3( transition, all 0.3s linear );
		span {
			display: inline-block;
			position: relative;
		}
		&.fancied {
			color: $terciary-brand-color;
			background-color: $primary-brand-color;
			border-top: 1px solid $tabs-border-color;
			border-left: 1px solid $tabs-border-color;
			span {
				padding-right: 21px;
				&:after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					width: 13px;
					height: 10px;
					margin-top: -5px;
					background-image: url(../img/check-white-icon.png);
					background-repeat: no-repeat;
				}
			}
			&.mouseenter {
				span {
					padding-right: 0;
					&:after {
						display: none;
					}
				}
			}
		}
	}
}
