.formation-block {
	position: relative;

	@media (max-width: 1003px) {
		padding: 25px;
		background: white;
		border: 1px solid $tabs-border-color;
		//height: 452px;
		@include rem(font-size, 16px);

		h3 {
			@include rem(font-size, 20px);
			line-height: 1.1;
			margin: 0;
		}

		.formation-description {
			@include rem(font-size, 16px);
			margin-top: 24px;
			//height: 298px;
			//overflow: hidden;
			line-height: 1.3;
		}
	}

	@media (min-width: 1004px) {
		padding: 22px 16px;
		background: $terciary-brand-color;
		border: 1px solid $tabs-border-color;
		//height: 380px;
		//max-height: 380px;
		margin-bottom: 50px;

		h3 {
			@include rem(font-size, 20px);
			line-height: 1.1;
			height: 46px;
			margin: 0;
		}

		.formation-description {
			@include rem(font-size, 14px);
			margin-top: 24px;
			//height: 257px;
			//overflow: hidden;
			line-height: 1.3;
		}
	}

	.profile-anchor {
		@extend .box-profile-anchor;
	}	
}
