.swiper-category {
	background: $terciary-brand-color;
	overflow: auto;
	.tabs-menu li{
		height: 36px;
	}
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev, .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		background-color: $terciary-brand-color;
	}
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		right: 0;
	}
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		left: 0;
	}
	.swiper-button-prev, .swiper-button-next{
		height: 24px;
		margin-top: -12px;
		width: 14px;
		background-size: 13px 20px;
		-moz-background-size: 13px 20px;
		-webkit-background-size: 13px 20px;
		top: 30%;
	}
	.bsproducts li {
		a {
			font-size: 16px !important;
			padding: 0 !important;
		}
	}
}

.han-puesto-en-practica-block {
	display: block;
	background-color: $terciary-brand-color;

	.han-puesto-en-practica {
		> .han-puesto-en-practica-heading {
		 	img {

				@media (max-width: 1003px) {
					display: block;
					width: 100%;
				}

				@media (min-width: 1004px) {
					display: inline-block;
					width: 130px;
				}
			}
		}
	}
	@media (max-width: 1003px) {
		float: left;
		width: 100%;
		height: auto;
		padding: 20px 25px;
		margin: 15px 0;

		.han-puesto-en-practica-heading {
			float: left;
			display: block;
			width: 100%;
			position: relative;
			margin-bottom: 22px;

			> .img-wrapper {
				display: block;
				@media (max-width: 480px) {
					max-width: 86%;
				}
				@media (min-width: 481px) {
					max-width: 52%;
				}
			}
		}

		.han-puesto-en-practica-slider {
			float: left;
			width: 100%;
			padding: 20px 0 ;
			position: relative;
			border-top: 1px solid $background-footer;

			.practicas {
				width: 100%;
				height: 176px;
				overflow: hidden;

		 		~ a {
		 			display: inline-block;
		 			width: 40px;
		 			height: 40px;

					i.icono-slider-dot {
						width: 18px;
						height: 18px;
						margin-top: 11px;
						background-color: $tabs-border-color;
						border: 1px solid $tabs-border-color;
						border-radius: 9px;
					}

					&.active {
						i.icono-slider-dot {
						  background-color: transparent;
						}
					}
		 		}

		 		~ a {
		 			display: none;
		 		}

			    ~ .practicas-nav-pag {
					position: absolute;
					bottom: 0;
					display: block;
					width: 100%;
					height: 10px;
					text-align: center;
					z-index: 1;

					.swiper-pagination-bullet {
			 			display: inline-block;
						width: 10px;
						height: 10px;
						margin-left: 6px;
						margin-right: 6px;
						background-color: $tabs-border-color;
						border: 1px solid $tabs-border-color;
						border-radius: 5px;
						@include opacity(1);

						&.swiper-pagination-bullet-active {
							background-color: transparent;
						}
					}
			    }
			}
		}
	}

	@media (min-width: 1004px) {
		.han-puesto-en-practica-heading {
			float: left;
			width: 19%;
			height: 186px;
			border-right: 1px solid $tabs-border-color;
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 14px;
				right: 44px;
				display: block;
				@include icono(127px, 107px, -2px, -2207px);
				z-index: 0;
			}

			> .img-wrapper {
				padding: 20px 23px 0 0;
				text-align: right;
			}

			.link {
				display: block;
				width: 100%;
				@include rem(font-size, 16px);
				color: $primary-brand-color;
				text-align: left;
				padding-left: 5px;
				margin-top: 10px;
			}
		}

		.han-puesto-en-practica-slider {
			float: left;
			width: 81%;
			position: relative;

			.practicas {
				width: 100%;
				height: 186px;
				overflow: hidden;

				.practica-slide {
					&.first-child {
						.practica-block:after {
							@include opacity(0.25);
						}
					}
					&.second-child {
						.practica-block:after {
							@include opacity(0.50);
						}
					}
					&.third-child {
						.practica-block:after {
							@include opacity(0.75);
						}
					}
				}

			    ~ a {
			      position: absolute;
			      top: 0;
			      display: block;
			      width: 25px;
			      height: 100%;
			      z-index: 1;

			      i {
			        position: absolute;
			        top: 50%;
			        margin-top: -7px;
			        margin-left: 8.5px;
			      }

			      &.practicas-nav-next, &.practicas-nav-prev {
			        right: 0;
			      }

			      &.disabled {
			        display: none;
			      }
			    }
			}
		}
	}
}
