.iniciative-block {
	position: relative;
	text-align: center;

	@media (max-width: 1003px) {
		padding-top: 54px;
		margin-top: 24px;

		&.client-exp {
			padding-left: 20px;
			padding-right: 20px;
			height: 212px;
			max-height: 212px;
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: 0 auto;
		}

		&.document:before {
			@include icono(28px, 38px, -51px, -952px);
		}

		&.video:before {
			@include icono(43px, 38px, -43px, -1593px);
		}

		p {
			@include rem(font-size, 16px);
			font-weight: 700;

			& + p {
				@include rem(font-size, 12px);
				margin-top: 2px;
				margin-bottom: 19px;
			}
		}

		.tools {
			display: table;
			width: auto;
			height: 50px;
			margin: 0 auto;

			a.btn-tool-with-icon {
				
			}
		}
	}

	@media (min-width: 1004px) {
		padding-top: 54px;
		margin: 11px 0 40px 0;

		&.client-exp {
			padding-left: 15px;
			padding-right: 15px;
			height: 240px;
			max-height: 240px;
		}

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			margin: 0 auto;
		}

		&.document:before {
			@include icono(28px, 38px, -51px, -952px);
		}

		&.video:before {
			@include icono(43px, 38px, -43px, -1593px);
		}

		p {
			@include rem(font-size, 20px);
			font-weight: 700;

			& + p {
				@include rem(font-size, 14px);
				margin-top: 2px;
				margin-bottom: 19px;
			}
		}

		.tools {
			display: table;
			width: auto;
			height: 32px;
			margin: 0 auto;
		}		
	}
}

.iniciative-box {
	position: relative;

	@media (max-width: 1003px) {
		padding: 25px;
		background: white;
		border: 1px solid $tabs-border-color;
		height: 416px;
		@include rem(font-size, 16px);

		&.no-profile-image {
			height: 382px;
			max-height: 382px;
		}

		h3 {
			@include rem(font-size, 20px);
			line-height: 1.1;
			margin: 0;
		}

		.iniciative-profile {
			margin-top: 20px;
		}

		.iniciative-month {
			@include rem(font-size, 15px);
			font-weight: bold;
			font-style: italic;
			margin-top: 10px;
		}

		.iniciative-description {
			@include rem(font-size, 16px);
			margin-top: 24px;
			height: 168px;
			overflow: hidden;
			line-height: 1.3;
		}

		&.no-profile-image .iniciative-description {
			margin-top: 20px;
		}

		.iniciative-related, .iniciative-projects {
			@include rem(font-size, 16px);
			font-weight: bold;
			margin-top: 20px;
		}
	}

	@media (min-width: 1004px) {
		display: block;
		padding: 22px 16px;
		background: $terciary-brand-color;
		border: 1px solid $tabs-border-color;
		height: 354px;
		max-height: 354px;
		margin-bottom: 50px;

		&.no-profile-image {
			height: 314px;
			max-height: 314px;
		}

		h3 {
			@include rem(font-size, 20px);
			line-height: 1.1;
			height: 46px;
			margin: 0;
		}

		.iniciative-profile {
			margin-top: 20px;
		}

		.iniciative-month {
			@include rem(font-size, 14px);
			font-weight: bold;
			font-style: italic;
			margin-top: 5px;
		}

		.iniciative-description {
			@include rem(font-size, 14px);
			margin-top: 24px;
			height: 128px;
			overflow: hidden;
			line-height: 1.3;
		}

		&.no-profile-image .iniciative-description {
			margin-top: 20px;
		}

		.iniciative-related, .iniciative-projects {
			@include rem(font-size, 14px);
			font-weight: bold;
			margin-top: 20px;
		}

	}

	.profile-anchor {
		@extend .box-profile-anchor;
	}	
}