.login-box {
	position: relative;

	@media (max-width: 1003px) {
		display: block;
		padding: 18px;
		margin-top: 20px;

		p.strong {
			margin: 0.5em 0 1em 0;
			@include rem(font-size, 16px);
			font-weight: 700;
		}

		&:before {
			display: none;
		}

		.btn {
			margin-top: 18px;
			display: table;
    }
	}

	@media (min-width: 1004px) {
		display: block;
		padding: 22px;
		margin-top: 20px;

		p.strong {
			margin: 0.5em 0 1em 0;
			font-size: 16px !important;
			font-weight: 700;
		}

		&:before {
			display: none;
		}

		.btn {
      margin-top: 18px;
			display: table;
    }
	}
}
