.practica-block {
	width: 100%;
	height: 100%;
	background-color: $terciary-brand-color;

	.product-name {
		@include rem(font-size, 12px);
		color: $primary-brand-color;
		line-height: 1;
		font-weight: 600;
		height: 14px;
	}

	.comment {
		overflow: hidden;
		position: relative;
		z-index: 0;

		p.text {
			color: $secondary-brand-color;

			a {
				font-weight: 300;
			}
		}
	}

	&.slide {

		@media (max-width: 1003px) {
			.product-name {
				margin: 0 0 1.45em 0;
			}

			.perfil-username {
				margin-bottom: 18px;
			}

			.comment {
				p.text {
					@include rem(font-size, 16px);
					margin: 0 0 0.45em 0;
				}
			}		
		}

		@media (min-width: 1004px) {
			padding: 16px 20px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				width: 1px;
				height: 100%;
				background-color: $tabs-border-color;
				z-index: 1;
			}

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 5px;
				background-color: $primary-brand-color;
				z-index: 2;
			}

			&:hover {
				cursor: pointer;
				background-color: $primary-brand-color;

				.product-name, .comment p.text, .perfil-username .thumb-username .username {
					color: $terciary-brand-color;
				}
			}

			.product-name {
				margin: 0 0 1.65em 0;
			}

			.comment {
				height: 50px;

				p.text {
					@include rem(font-size, 12px);
					margin: 0 0 0.65em 0;
				}
			}
		}

	}

	&.grid-item {
		border: 1px solid $tabs-border-color;		

		.perfil-username .username{
			white-space: nowrap !important;
		}

		@media (max-width: 1003px) {
			padding: 20px 0 10px 0;

			.product-name, .perfil-username {
				margin-left: 20px;
				margin-right: 20px;
			}

			.comment p.text {
				margin-left: 73px;
				margin-right: 20px;
			}

			.product-name {
				margin-bottom: 1.45em;
			}

			.perfil-username {
				margin-bottom: 32px;
			}

			.comment {
				.img-wrapper {
					margin-bottom: 2em;
					//overflow: hidden;

					img {
						width: 100%;
						display: block;
					}
				}
				p.text {
					@include rem(font-size, 15px);
					margin-bottom: 0.45em;
				}
			}

			.widgets {
				position: static;
				margin: 10px 0 0 73px;
			}			
		}

		@media (min-width: 1004px) {
			padding: 16px 0;

			.product-name, .perfil-username {
				margin-left: 16px;
				margin-right: 16px;
			}

			.comment p.text {
				margin-left: 59px;
				margin-right: 16px;
			}			

			.product-name {
				margin-bottom: 1.45em;
			}

			.comment {
				.img-wrapper {
					//height: 140px;
					margin-bottom: 1.65em;
					//position: relative;
					//overflow: hidden;

					img {
						//position: absolute;
						width: 100%;
						display: block;
					}
				}

				p.text {
					@include rem(font-size, 15px);
					margin-bottom: 0.45em;
				}
			}

			.widgets {
				float: none;
				margin: 10px 0 0 47px;
			}			
		}

	}
}

section#participa-uso{
	.custom-select {
		z-index: 2;
	}	
	@media (max-width: 1003px){
		margin-top: 10px;
		.tabs .filter-select {
			border: none;
			padding: 0 15px;
			a.filter-selected{
				text-align: left;
				color: $primary-brand-color;
				font-weight: 400;
				border: 1px solid $tabs-border-color;
				> span {
					padding-left: 15px;
					padding-right: 32px;
					white-space: nowrap;
					position: static;
					i.icono-filters-dropdown.down{
						background-position: -39px -1001px;
						width: 17px;
						right: 30px;
						top: 17px;
					}
					i.icono-filters-dropdown.up{
						width: 17px;
						background-position: -74px -1001px;
						right: 30px;
						top: 17px;				
					}
				}
			}
			ul.unfolded{
				border-left: 1px solid $tabs-border-color;
				border-right: 1px solid $tabs-border-color;
				li.option{
					border-top: none;
					border-bottom: 1px solid $tabs-border-color;
					a {
						@include rem(font-size, 18px);
						text-align: left;
						padding: 8px 15px;
					}
				}
			}
		}

		.custom-select {
			margin-bottom: 0;
		}		
	}
}
