/* ======================================================================
  Profile Photo & User Name (Posted Time, Name + Surname)
======================================================================== */

.perfil-username { /* Base Profile Photo & Name DIV Element */
	display: block;
	position: relative;
	box-sizing: border-box;

	@media (max-width: 1003px) {

		// SIZE STANDARD 30px
		height: 40px;
		margin-bottom: 22px;

        .thumb-username {
			display: table;
			width: auto;
			height: 40px;
			@include rem(font-size, 15px);
			font-weight: 700;
			line-height: 1.2;
			position: relative;
			z-index: 1;
			cursor: pointer;

			.thumb, .username {
				display: table-cell;
				vertical-align: middle;;
			}

			.username {
				padding-left: 13px;
				white-space: nowrap;
				color: $secondary-brand-color;
				position: relative;

				> .posted-time {
					display: block;
					@include rem(font-size, 11px);
					color: $secondary-color-text;
					font-weight: 300;
					font-style: italic;
					position: absolute;
					bottom: -3px;

					&.you {
						font-style: normal;
					}
				}
			}

			.thumb {
				width: 40px;

				> span {
					display: inline-block;
					width: 40px;
					height: 40px;
					position: relative;
				}
			}

			&.photo > .thumb {
				> span {
					border-radius: 20px;
				}
			}

			&.photo.ambassador > .thumb > span:before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				width: 38px;
				height: 38px;
				border-radius: 19px;
				border: 1px solid $primary-brand-color;
				z-index: 2;
			}

			&.ambassador > .thumb {
				> span:after {
					content: '';
					display: inline-block;
					position: absolute;
					bottom: -2px;
					right: -2px;
					z-index: 2;
					@include icono(16px, 16px, -97px, -1492px);
				}
			}

			&.no-photo:after { /* Name Letters over the circle thumb */
			  content: attr(data-name);
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 40px;
			  height: 40px;
			  @include rem(font-size, 15px);
			  color: $terciary-brand-color;
			  font-weight: 300;
			  line-height: 41px;
			  text-align: center;
			  z-index: 1;
			}

			&.no-photo.ambassador:before { /* Blue border over the circle thumb */
			  content: '';
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 38px;
			  height: 38px;
			  border-radius: 19px;
			  border: 1px solid $primary-brand-color;
			  z-index: 2;
			}

			&.full-width {
				width: 100% !important;

			}
        }

		&.size40 { // SIZE 40px
			height: 40px;

	        .thumb-username {
				display: table;
				width: auto;
				height: 40px;
				@include rem(font-size, 15px);
				font-weight: 700;
				line-height: 1.2;
				position: relative;
				z-index: 1;
				cursor: pointer;

				.thumb, .username {
					display: table-cell;
					vertical-align: middle;
				}

				.username {
					padding-left: 13px;
				}

				.thumb {
					width: 40px;

					> span {
						display: inline-block;
						width: 40px;
						height: 40px;
						position: relative;
					}
				}

				&.photo > .thumb {
					> span {
						border-radius: 20px;
					}
				}

				&.photo.ambassador > .thumb > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					width: 38px;
					height: 38px;
					border-radius: 19px;
					border: 1px solid $primary-brand-color;
					z-index: 2;
				}

				&.ambassador > .thumb {
					> span:after {
						content: '';
						display: inline-block;
						position: absolute;
						bottom: -2px;
						right: -2px;
						z-index: 2;
						@include icono(16px, 16px, -97px, -1492px);
					}
				}

				&.no-photo:after { /* Name Letters over the circle thumb */
				  content: attr(data-name);
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 40px;
				  height: 40px;
				  @include rem(font-size, 15px);
				  color: $terciary-brand-color;
				  font-weight: 300;
				  line-height: 41px;
				  text-align: center;
				  z-index: 1;
				}

				&.no-photo.ambassador:before { /* Blue border over the circle thumb */
				  content: '';
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 38px;
				  height: 38px;
				  border-radius: 19px;
				  border: 1px solid $primary-brand-color;
				  z-index: 2;
				}
	        }
		}

		&.size50 { // SIZE 50px
			height: 50px;

	        .thumb-username {
				display: table;
				width: auto;
				height: 50px;
				@include rem(font-size, 18px);
				font-weight: 300;
				line-height: 1.2;
				position: relative;
				z-index: 1;
				cursor: pointer;

				.thumb, .username {
					display: table-cell;
					vertical-align: middle;
				}

				.username {
					padding-left: 13px;
				}

				.thumb {
					width: 50px;

					> span {
						display: inline-block;
						width: 50px;
						height: 50px;
						position: relative;
					}
				}

				&.photo > .thumb {
					> span {
						border-radius: 25px;
						behavior: url(../js/vendor/pie/PIE.htc);
					}
				}

				&.photo.ambassador > .thumb > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					width: 48px;
					height: 48px;
					border-radius: 24px;
					behavior: url(../js/vendor/pie/PIE.htc);
					border: 1px solid $primary-brand-color;
					z-index: 2;
				}

				&.ambassador > .thumb {
					> span:after {
						content: '';
						display: inline-block;
						position: absolute;
						bottom: -3px;
						right: -3px;
						z-index: 2;
						@include icono(20px, 20px, -69px, -1490px);
					}
				}

				&.no-photo:after { /* Name Letters over the circle thumb */
				  content: attr(data-name);
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 50px;
				  height: 50px;
				  @include rem(font-size, 19px);
				  color: $terciary-brand-color;
				  font-weight: 300;
				  line-height: 51px;
				  text-align: center;
				  z-index: 1;
				}

				&.no-photo.ambassador:before { /* Blue border over the circle thumb */
				  content: '';
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 48px;
				  height: 48px;
				  border-radius: 24px;
				  behavior: url(../js/vendor/pie/PIE.htc);
				  border: 1px solid $primary-brand-color;
				  z-index: 2;
				}
	        }

			&.with-user-level {
				.user-level {
					display: block;
					height: 20px;
					@include rem(font-size, 14px);
					color: $secondary-brand-color;
					line-height: 20px;
					font-weight: 700;
					position: absolute;
					bottom: -20px;
					left: 63px;
				}
			}
		}

		&.size100 { // SIZE 68px
			height: 68px;

	        .thumb-username {
				display: table;
				width: auto;
				height: 68px;
				@include rem(font-size, 19px);
				font-weight: 700;
				line-height: 1.2;
				position: relative;
				z-index: 1;
				cursor: pointer;

				.thumb {
					display: table-cell;
					vertical-align: middle;
				}

				.thumb {
					width: 68px;

					> span {
						display: inline-block;
						width: 68px;
						height: 68px;
						position: relative;
					}
				}

				&.photo > .thumb {
					> span {
						border-radius: 34px;
					}
				}

				&.photo.ambassador > .thumb > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					width: 66px;
					height: 66px;
					border-radius: 33px;
					border: 1px solid $primary-brand-color;
					z-index: 2;
				}

				&.ambassador > .thumb {
					> span:after {
						content: '';
						display: inline-block;
						position: absolute;
						bottom: -3px;
						right: -3px;
						z-index: 2;
						@include icono2x(27px, 27px, -8px, -399px);
					}
				}

				&.no-photo:after { /* Name Letters over the circle thumb */
				  content: attr(data-name);
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 68px;
				  height: 68px;
				  @include rem(font-size, 19px);
				  color: $terciary-brand-color;
				  font-weight: 300;
				  line-height: 69px;
				  text-align: center;
				  z-index: 1;
				}

				&.no-photo.ambassador:before { /* Blue border over the circle thumb */
				  content: '';
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 66px;
				  height: 66px;
				  border-radius: 33px;
				  border: 1px solid $primary-brand-color;
				  z-index: 2;
				}
	        }
		}

		&.with-name-surname {
			.username {
				span {
					display: block;
					// white-space: normal;
					overflow: hidden;
					white-space: nowrap !important;
					text-overflow: ellipsis;
					width: 140px;

					& ~ span {
						position: relative;
						margin-top: 0;
					}
				}

				> .posted-time {
					bottom: -14px;
				}
			}
		}

		&.with-score {
			.username {
				@include rem(font-size, 24px);
				font-weight: 700;

				span {
					@include rem(font-size, 16px);
				}
			}
		}

		&.perfil-menu {
			.username {
				span {
					font-weight: 700;
				}
			}
		}

		&.no-margin-bottom {
			margin-bottom: 22px;
		}
	}

	@media (min-width: 1004px) {

		// SIZE STANDARD 30px
		height: 30px;
		margin-bottom: 34px;

        .thumb-username {
			display: table;
			width: 100%;
			height: 30px;
			@include rem(font-size, 15px);
			font-weight: 700;
			line-height: 1.2;
			position: relative;
			z-index: 1;
			cursor: pointer;

			.thumb, .username {
				display: table-cell;
				vertical-align: top;
			}

			.username {
				padding-left: 13px;
				white-space: nowrap;
				color: $secondary-brand-color;
				position: relative;

				> .posted-time {
					display: block;
					@include rem(font-size, 11px);
					color: $secondary-color-text;
					font-weight: 300;
					font-style: italic;
					position: absolute;
					left: 13px;
					bottom: -3px;

					&.you {
						font-style: normal;
					}
				}
				&.testimoni{
					.usertestimoni {
						overflow: hidden;
						white-space: nowrap !important;
						text-overflow: ellipsis;
						width: 170px;

					}
					.surnametestimoni{
						overflow: hidden;
						white-space: nowrap !important;
						text-overflow: ellipsis;
						width: 170px;

					}
				}
			}

			.thumb {
				width: 30px;

				> span {
					display: inline-block;
					width: 30px;
					height: 30px;
					position: relative;
				}
			}

			&.photo > .thumb {
				> span {
					border-radius: 15px;
					behavior: url(../js/vendor/pie/PIE.htc);
				}
			}

			&.photo.ambassador > .thumb > span:before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				width: 28px;
				height: 28px;
				border-radius: 14px;
				behavior: url(../js/vendor/pie/PIE.htc);
				border: 1px solid $primary-brand-color;
				z-index: 2;
			}

			&.ambassador > .thumb {
				> span:after {
					content: '';
					display: inline-block;
					position: absolute;
					bottom: -2px;
					right: -2px;
					z-index: 2;
					@include icono(12px, 12px, -49px, -1494px);
				}
			}

			&.no-photo:after { /* Name Letters over the circle thumb */
			  content: attr(data-name);
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 30px;
			  height: 30px;
			  @include rem(font-size, 12px);
			  color: $terciary-brand-color;
			  font-weight: 300;
			  line-height: 31px;
			  text-align: center;
			  z-index: 1;
			}

			&.no-photo.ambassador:before { /* Blue border over the circle thumb */
			  content: '';
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 28px;
			  height: 28px;
			  border-radius: 14px;
			  behavior: url(../js/vendor/pie/PIE.htc);
			  border: 1px solid $primary-brand-color;
			  z-index: 2;
			}

			&.full-width {
				width: 100% !important;
			}
        }

		&.size40 { // SIZE 40px
			height: 40px;
			margin-bottom: 44px;

	        .thumb-username {
				display: table;
				width: auto;
				height: 40px;
				@include rem(font-size, 15px);
				font-weight: 700;
				line-height: 1.2;
				position: relative;
				z-index: 1;
				cursor: pointer;

				.thumb, .username {
					display: table-cell;
					vertical-align: middle;
				}

				.username {
					padding-left: 13px;
				}

				.thumb {
					width: 40px;

					> span {
						display: inline-block;
						width: 40px;
						height: 40px;
						position: relative;
					}
				}

				&.photo > .thumb {
					> span {
						border-radius: 20px;
						behavior: url(../js/vendor/pie/PIE.htc);
					}
				}

				&.photo.ambassador > .thumb > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					width: 38px;
					height: 38px;
					border-radius: 19px;
					behavior: url(../js/vendor/pie/PIE.htc);
					border: 1px solid $primary-brand-color;
					z-index: 2;
				}

				&.ambassador > .thumb {
					> span:after {
						content: '';
						display: inline-block;
						position: absolute;
						bottom: -2px;
						right: -2px;
						z-index: 2;
						@include icono(16px, 16px, -97px, -1492px);
					}
				}

				&.no-photo:after { /* Name Letters over the circle thumb */
				  content: attr(data-name);
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 40px;
				  height: 40px;
				  @include rem(font-size, 15px);
				  color: $terciary-brand-color;
				  font-weight: 300;
				  line-height: 41px;
				  text-align: center;
				  z-index: 1;
				}

				&.no-photo.ambassador:before { /* Blue border over the circle thumb */
				  content: '';
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 38px;
				  height: 38px;
				  border-radius: 19px;
				  behavior: url(../js/vendor/pie/PIE.htc);
				  border: 1px solid $primary-brand-color;
				  z-index: 2;
				}
	        }
		}

		&.size50 { // SIZE 50px
			height: 50px;
			margin-bottom: 54px;

	        .thumb-username {
				display: table;
				width: auto;
				height: 50px;
				@include rem(font-size, 18px);
				font-weight: 300;
				line-height: 1.2;
				position: relative;
				z-index: 1;
				cursor: pointer;

				.thumb, .username {
					display: table-cell;
					vertical-align: middle;
				}

				.username {
					padding-left: 13px;
				}

				.thumb {
					width: 50px;

					> span {
						display: inline-block;
						width: 50px;
						height: 50px;
						position: relative;
					}
				}

				&.photo > .thumb {
					> span {
						border-radius: 25px;
						behavior: url(../js/vendor/pie/PIE.htc);
					}
				}

				&.photo.ambassador > .thumb > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					width: 48px;
					height: 48px;
					border-radius: 24px;
					behavior: url(../js/vendor/pie/PIE.htc);
					border: 1px solid $primary-brand-color;
					z-index: 2;
				}

				&.ambassador > .thumb {
					> span:after {
						content: '';
						display: inline-block;
						position: absolute;
						bottom: -3px;
						right: -3px;
						z-index: 2;
						@include icono(20px, 20px, -69px, -1490px);
					}
				}

				&.no-photo:after { /* Name Letters over the circle thumb */
				  content: attr(data-name);
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 50px;
				  height: 50px;
				  @include rem(font-size, 19px);
				  color: $terciary-brand-color;
				  font-weight: 300;
				  line-height: 51px;
				  text-align: center;
				  z-index: 1;
				}

				&.no-photo.ambassador:before { /* Blue border over the circle thumb */
				  content: '';
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 48px;
				  height: 48px;
				  border-radius: 24px;
				  behavior: url(../js/vendor/pie/PIE.htc);
				  border: 1px solid $primary-brand-color;
				  z-index: 2;
				}
	        }

			&.with-user-level {
				.user-level {
					display: block;
					height: 18px;
					@include rem(font-size, 13px);
					color: $secondary-brand-color;
					line-height: 18px;
					font-weight: 700;
					position: absolute;
					bottom: -23px;
					left: 63px;
				}
			}
		}

		&.size100 { // SIZE 100px
			height: 100px;
			margin-bottom: 104px;

	        .thumb-username {
				display: table;
				width: auto;
				height: 100px;
				@include rem(font-size, 18px);
				font-weight: 700;
				line-height: 1.2;
				position: relative;
				z-index: 1;
				cursor: pointer;

				.thumb, .username {
					display: table-cell;
					vertical-align: middle;
				}

				.username {
					padding-left: 13px;
				}

				.thumb {
					width: 100px;

					> span {
						display: inline-block;
						width: 100px;
						height: 100px;
						position: relative;
					}
				}

				&.photo > .thumb {
					> span {
						border-radius: 50px;
						behavior: url(../js/vendor/pie/PIE.htc);
					}
				}

				&.photo.ambassador > .thumb > span:before {
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
					top: 0;
					width: 98px;
					height: 98px;
					border-radius: 49px;
					behavior: url(../js/vendor/pie/PIE.htc);
					border: 1px solid $primary-brand-color;
					z-index: 2;
				}

				&.ambassador > .thumb {
					> span:after {
						content: '';
						display: inline-block;
						position: absolute;
						bottom: -4px;
						right: -4px;
						z-index: 2;
						@include icono(40px, 40px, -3px, -1480px);
					}
				}

				&.no-photo:after { /* Name Letters over the circle thumb */
				  content: attr(data-name);
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 100px;
				  height: 100px;
				  @include rem(font-size, 19px);
				  color: $terciary-brand-color;
				  font-weight: 300;
				  line-height: 101px;
				  text-align: center;
				  z-index: 1;
				}

				&.no-photo.ambassador:before { /* Blue border over the circle thumb */
				  content: '';
				  display: inline-block;
				  position: absolute;
				  left: 0;
				  top: 0;
				  width: 98px;
				  height: 98px;
				  border-radius: 49px;
				  behavior: url(../js/vendor/pie/PIE.htc);
				  border: 1px solid $primary-brand-color;
				  z-index: 2;
				}
	        }
		}

		&.with-name-surname {
			.username {
				span {
					display: block;
					white-space: normal;

					& ~ span {
						position: relative;
						margin-top: -2px;
					}
				}

				> .posted-time {
					bottom: -14px;
				}
			}
		}

		&.with-score {
			.username {
				@include rem(font-size, 24px);
				font-weight: 700;

				span {
					@include rem(font-size, 16px);
				}
			}
		}

		&.no-margin-bottom {
			margin-bottom: 0;
		}

		&.margin-bottom-10 {
			margin-bottom: 10px;
		}

		&.margin-bottom-20 {
			margin-bottom: 20px;
		}

		&.margin-bottom-24 {
			margin-bottom: 24px;
		}

		&.margin-bottom-40 {
			margin-bottom: 40px;
		}
	}
}

.perfil { /* Base Profile Photo & Name TD Element */
	padding: 0;
	position: relative;
	overflow: hidden;

	@media (max-width: 1003px) {
		i {
			display: none;
		}

        .thumb-username {
			display: table;
			width: 100%;
			height: 55px;
			position: relative;
			z-index: 1;
			cursor: pointer;

			.thumb, .username {
				display: table-cell;
				text-align: left;
			}

			.username {
				vertical-align: middle;
				padding-left: 13px;
				color: $secondary-brand-color;
			}

			.thumb {
				vertical-align: top;
				width: 30px;

				> span {
					display: inline-block;
					width: 30px;
					height: 30px;
					position: relative;
					margin-top: 12px;
				}
			}

			&.photo > .thumb {
				> span {
					border-radius: 15px;
					behavior: url(../js/vendor/pie/PIE.htc);
				}
			}

			&.photo.ambassador > .thumb > span:before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				width: 28px;
				height: 28px;
				border-radius: 14px;
				behavior: url(../js/vendor/pie/PIE.htc);
				border: 1px solid $primary-brand-color;
				z-index: 2;
			}

			&.ambassador > .thumb {
				/* HEIGHT 30px */
				> span:after {
					content: '';
					display: inline-block;
					position: absolute;
					bottom: -2px;
					right: -2px;
					z-index: 2;
					@include icono(12px, 12px, -49px, -1494px);
				}
			}

			&.no-photo:after { /* Name Letters over the circle thumb */
			  content: attr(data-name);
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  top: 50%;
			  width: 30px;
			  height: 30px;
			  margin-top: -15px;
			  @include rem(font-size, 12px);
			  color: $terciary-brand-color;
			  font-weight: 300;
			  line-height: 31px;
			  text-align: center;
			  z-index: 1;
			}

			&.no-photo.ambassador:before { /* Blue border over the circle thumb */
			  content: '';
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  top: 50%;
			  width: 28px;
			  height: 28px;
			  margin-top: -14px;
			  border-radius: 14px;
			  behavior: url(../js/vendor/pie/PIE.htc);
			  border: 1px solid $primary-brand-color;
			  z-index: 2;
			}
        }
	}

	@media (min-width: 1004px) {

		// SIZE STANDARD 30px
        .thumb-username {
			display: table;
			width: 100%;
			height: 55px;
			position: relative;
			z-index: 1;
			cursor: pointer;

			.thumb, .username {
				display: table-cell;
				text-align: left;
			}

			.username {
				vertical-align: middle;
				padding-left: 13px;
				color: $secondary-brand-color;
			}

			.thumb {
				vertical-align: top;
				width: 30px;

				> span {
					display: inline-block;
					width: 30px;
					height: 30px;
					position: relative;
					margin-top: 12px;
				}
			}

			&.photo > .thumb {
				> span {
					border-radius: 15px;
					behavior: url(../js/vendor/pie/PIE.htc);
				}
			}

			&.photo.ambassador > .thumb > span:before {
				content: '';
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
				width: 28px;
				height: 28px;
				border-radius: 14px;
				behavior: url(../js/vendor/pie/PIE.htc);
				border: 1px solid $primary-brand-color;
				z-index: 2;
			}

			&.ambassador > .thumb {
				> span:after {
					content: '';
					display: inline-block;
					position: absolute;
					bottom: -2px;
					right: -2px;
					z-index: 2;
					@include icono(12px, 12px, -49px, -1494px);
				}
			}

			&.no-photo:after { /* Name Letters over the circle thumb */
			  content: attr(data-name);
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  top: 50%;
			  width: 30px;
			  height: 30px;
			  margin-top: -15px;
			  @include rem(font-size, 12px);
			  color: $terciary-brand-color;
			  font-weight: 300;
			  line-height: 31px;
			  text-align: center;
			  z-index: 1;
			}

			&.no-photo.ambassador:before { /* Blue border over the circle thumb */
			  content: '';
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  top: 50%;
			  width: 28px;
			  height: 28px;
			  margin-top: -14px;
			  border-radius: 14px;
			  behavior: url(../js/vendor/pie/PIE.htc);
			  border: 1px solid $primary-brand-color;
			  z-index: 2;
			}
        }
	}
}
