.score-actions-block {
	position: relative;

	@media (max-width: 1003px) {
		padding: 0 15px 15px 15px;
		background: $terciary-brand-color;
		border: 1px solid $tabs-border-color;
		margin-bottom: 32px;

		.attr-value {
			display: table;
			height: 74px;
			margin: 0;
			width: 100%;

			.attr, .value {
				display: table-cell;
				vertical-align: middle;
				table-layout: fixed;
			}

			.attr {				
				@include rem(font-size, 20px);
				font-weight: 700;
				line-height: 1.1;
				width: 61%;

				> i {
					position: relative;
					top: 2px;
					margin-right: 4px;
				}
			}

			.value {
				@include rem(font-size, 15px);
				font-weight: 700;
				width: 39%;
				text-align: right;

				.exp {
					@include rem(font-size, 25px);
				}
			}
		}		

		p {
			@include rem(font-size, 16px);
			line-height: 1.3;

			& + p {
				margin-top: 19px;
			}

			i {
				position: relative;
				top: 2px;
			}
		}		

		.score-actions-description {
			line-height: 1.3;
			padding-top: 14px;
			border-top: 1px solid $tabs-border-color;
		}
	}

	@media (min-width: 1004px) {
		padding: 10px 16px 10px 16px;
		background: $terciary-brand-color;
		border: 1px solid $tabs-border-color;
		height: 322px;
		max-height: 322px;
		margin-bottom: 20px;
		overflow: hidden;

		.attr-value {
			display: table;
			height: 46px;
			margin: 0;
			width: 100%;

			.attr, .value {
				display: table-cell;
				vertical-align: middle;
				table-layout: fixed;
			}

			.attr {				
				@include rem(font-size, 18px);
				font-weight: 700;
				line-height: 1.1;
				width: 61%;

				> i {
					position: relative;
					top: 2px;
					margin-right: 4px;
				}
			}

			.value {
				@include rem(font-size, 15px);
				font-weight: 700;
				width: 39%;
				text-align: right;

				.exp {
					@include rem(font-size, 24px);
				}
			}
		}		

		p {
			@include rem(font-size, 14px);
			line-height: 1.3;

			& + p {
				margin-top: 14px;
			}

			i {
				position: relative;
				top: 2px;
			}
		}		

		.score-actions-description {
			height: 242px;
			max-height: 242px;
			line-height: 1.3;
			padding-top: 14px;
			margin-top: 10px;
			overflow: hidden;
			border-top: 1px solid $tabs-border-color;
		}
	}
}