h1 a.trigger-search {
	@media (max-width: 1003px) {
		height: 100%;
	}
	@media (min-width: 1004px) {
		width: 20px;
		height: 100%;
	}
}

.search-tool {

	@media (max-width: 1003px) {
		border-bottom: 1px solid $tabs-border-color;
		float: left;
		display: inline-block;
		width: 100%;
		margin: 0 0 -50px 0;
		background-color: $terciary-brand-color;

		.search-box {

	        form fieldset {
	          .form-group {
	          	float: left;
	          	display: inline-block;
	            margin: 0;
	            width: 100%;

	            > div.label {
	              width: 35px;
	              position: absolute;
	              left: 0;
	              top: 18px;
	            }

	            > div.input {
					width: 100%;
					padding: 0 0 0 35px;
	            }

	            input[type=search] {
					box-sizing: border-box;
					background: transparent;
					border: none;
					color: $secondary-brand-color;

		            /* WebKit browsers */
		            &::-webkit-input-placeholder {
						color: $secondary-brand-color;
						font-weight: 300;
		            }

		            /* Mozilla Firefox 4 to 18 */
		            &:-moz-placeholder {
						color: $secondary-brand-color;
						font-weight: 300;
		            }

		            /* Mozilla Firefox 19+ */
		            &::-moz-placeholder {
						color: $secondary-brand-color;
						font-weight: 300;
		            }

		            /* Internet Explorer 10+ */
		            &:-ms-input-placeholder {
						color: $secondary-brand-color;
						font-weight: 300;
		            }

		            &:focus {
						border-color: transparent;
						outline: none; // Eliminem l'efecte hightlight en Focus que fa per defecte el Chrome
		            }
	           	}
	          }

	          i.icono-loop {
	            margin-top: 13px;
	          }

	          label {
	            display: none;
	          }
	        }
		}
	}

	@media (min-width: 1004px) {
		display: none;

		.search-box {
			width: 100%;
			padding: 14px 0 14px 10px;
			margin: 0 0 42px 0;
			background-color: $background-body;

			form fieldset {
				.form-group {
					width: 100%;
					height: 32px;
					padding-right: 37px;
					overflow: hidden;

					.label {
						width: 39px;
						height: 100%;
					}
				}

				label {
					display: none;
				}

				input.form-control {
					color: $secondary-brand-color;
					border: none;
					padding: 0;
					background: none;
					margin: 0 0 0 -10px;

					/* WebKit browsers */
					&::-webkit-input-placeholder {
						color: $dark-color-text;
						font-weight: 300;
					}

					/* Mozilla Firefox 4 to 18 */
					&:-moz-placeholder {
						color: $dark-color-text;
						font-weight: 300;
					}

					/* Mozilla Firefox 19+ */
					&::-moz-placeholder {
						color: $dark-color-text;
						font-weight: 300;
					}

					/* Internet Explorer 10+ */
					&:-ms-input-placeholder {
						color: $dark-color-text;
						font-weight: 300;
					}

					&:focus {
						border-color: transparent;
						outline: none; // Eliminem l'efecte hightlight en Focus que fa per defecte el Chrome
					}
				}

				#search-glossary-closer {
					position: absolute;
					z-index: 1000;
					cursor: pointer;

					@media (max-width: 1003px) {
						display: none;
						right: 4px;
						top: 0;
						width: 41px;
						height: 40px;
					}
					@media (min-width: 1004px) {
						display: none;
						right: 14px;
						top: 50%;
						width: 23px;
						height: 19px;
						margin-top: -9px;
					}

					> label {
					    display: inline-block;
					    text-indent: -9999px;
					    cursor: pointer;

					    @media (max-width: 1003px) {
					      display: block;
					      position: relative;
					      width: 41px;
					      height: 40px;
					      padding: 12px 11px 13px 11px;

					      &:after {
					        content: '';
					        position: absolute;
					        left: 50%;
					        top: 50%;
					        width: 16px;
					        height: 16px;
					        margin-left: -8px;
					        margin-top: -8px;
					        @include icono2x(16px, 16px, -57px, -742px);
					      }
					    }

					    @media (min-width: 1004px) {
					      position: absolute;
					      left: 50%;
					      top: 50%;
					      width: 18px;
					      height: 18px;
					      margin-left: -9px;
					      margin-top: -9px;
					      @include icono(18px, 18px, -77px, -1281px);
					    }
					}
				}
			}
		}
	}
}
