section#solidaridometro {
 	background-color: $background-body;
}

.solidaridometro-block {
	display: inline-block;
	background-color: $terciary-brand-color;

	.solidaridometro-heading {
		> .img-wrapper {

		 	img {
				display: block;
				width: 100%;
			}
		}		
	}

	@media (max-width: 1003px) {
		padding: 20px 25px 10px 25px;
		margin: 15px 0 8px 0;

		.solidaridometro-heading {
			float: left;
			display: block;
			width: 100%;
			position: relative;
			margin-bottom: 10px;

			> .img-wrapper {
				display: block;
				@media (max-width: 480px) {
					max-width: 69%;
				}
				@media (min-width: 481px) {
					max-width: 32%;
				}				
			}
			.text-wrapper {
				display: block;
				width: 100%;
				margin: 14px 0 0 0;
				@include rem(font-size, 16px);
			}
		}

		.solidaridometro {
			float: left;
			width: 100%;
			height: 66px;
			padding: 22px 0;
			position: relative;

			.loaded-bar {
				width: 100%;
				height: 22px;
				background-color: #ededed;
				box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
				position: relative;
			}

			.progress-bg-wrapper {
				width: 0;
				height: 22px;
				position: absolute;
				overflow: hidden;

				> img.progress-bg {
					position: absolute;
					left: 0;
					top: 0;
					width: 0;
					height: 22px;
				}				
			}

			.progress-bar {
				width: 0;
				height: 22px;
				position: relative;

				&:after {
					content: attr(data-progress);
					position: absolute;
					top: -28px;
					right: 0;
					display: block;
					width: 50px;
					height: 100%;
					margin-right: -25px; 
					@include rem(font-size, 17px);
					text-align: center;
					font-weight: 500;
					z-index: 0;
				}

				> .progress-fill {
					width: 100%;
					height: 22px;
					position: absolute;
					left: 0;
					top: 0;
					background-image: url(../img/loader-progress-pattern.png);
					background-repeat: repeat;
					border-right: 1px solid $secondary-brand-color;

					&:before, &:after {
						content: '';
						position: absolute;
						display: block;
						z-index: 1;
					}					

					&:before {
						top: -5px;
						right: -4px;
						@include icono(7px, 4px, -61px, -1958px);
					}

					&:after {
						bottom: -5px;
						right: -4px;
						@include icono(7px, 4px, -61px, -1980px);
					}					
				}
			}

			.loaded-range {
				width: 100%;
				position: absolute;
				left: 0;
				top: 50px;
				@include rem(font-size, 13px);
			}			
		}		
	}

	@media (min-width: 1004px) {
		padding: 0 20px;
		margin: 0 0 30px 0;	

		.solidaridometro-heading {
			float: left;
			width: 500px;
			height: 81px;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				@include icono(15px, 81px, -57px, -1868px);
				z-index: 0;
			}

			> .img-wrapper {
				width: 18%;
			}
			.text-wrapper {
				width: 82%;
				padding: 0 20px;
				@include rem(font-size, 15px);
			}
		}

		.solidaridometro {
			float: left;
			width: 360px;
			height: 81px;
			padding: 31px 0 32px 20px;
			position: relative;

			.loaded-bar {
				width: 100%;
				height: 18px;
				background-color: #ededed;
				box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
				position: relative;
			}

			.progress-bg-wrapper {
				width: 0;
				height: 18px;
				position: absolute;
				overflow: hidden;

				> img.progress-bg {
					position: absolute;
					left: 0;
					top: 0;
					width: 340px;
					height: 18px;
				}
			}

			.progress-bar {
				width: 0;
				height: 18px;
				position: relative;

				&:after {
					content: attr(data-progress);
					position: absolute;
					top: -21px;
					right: 0;
					display: block;
					width: 40px;
					height: 100%;
					margin-right: -20px; 
					@include rem(font-size, 14px);
					text-align: center;
					font-weight: 500;
					z-index: 0;
				}

				> .progress-fill {
					width: 100%;
					height: 18px;
					position: absolute;
					left: 0;
					top: 0;
					background-image: url(../img/loader-progress-pattern.png);
					background-repeat: repeat;
					border-right: 1px solid $secondary-brand-color;

					&:before, &:after {
						content: '';
						position: absolute;
						display: block;
						z-index: 1;
					}					

					&:before {
						top: -5px;
						right: -4px;
						@include icono(7px, 4px, -61px, -1958px);
					}

					&:after {
						bottom: -5px;
						right: -4px;
						@include icono(7px, 4px, -61px, -1980px);
					}					
				}
			}

			.loaded-range {
				width: 100%;
				padding: 0 0 0 20px;
				position: absolute;
				left: 0;
				top: 54px;
				@include rem(font-size, 10px);
			}			
		}		
	}
}