.test-warning-bottom {
  width: 100%;
  height: 20px;
  background-color: #EB9B9B;
  position: fixed;
  z-index: 900;
  bottom: 0;
  text-align: center;
  font-weight: bold;
}

.test-info-bottom {
  width: 100%;
  height: 20px;
  background-color: #9FDAED;
  position: fixed;
  z-index: 900;
  bottom: 0;
  text-align: center;
  font-weight: bold;
}