.text-list {
	@media (max-width: 1003px) {
		.text-list-title {
			@include rem(font-size, 19px);
			font-weight: 600;
		}

		.text-list-items {
			margin: 0;
			padding: 0;
			position: relative;

			> li.text-list-item {
				position: relative;
				padding-left: 12px;
				margin: 14px 0;
				@include rem(font-size, 16px);
				line-height: 1.3;

				&.last, &:last-child {
					margin-bottom: 0;
				}

			 	&:after {
			 		content: '';
			 		position: absolute;
			 		left: 0;
			 		top: 8px;
			 		@include icono2x(5px, 5px, -63px, -870px);
			 	}			
			}
		}
	}

	@media (min-width: 1004px) {
		.text-list-title {
			@include rem(font-size, 18px);
			font-weight: 600;
		}

		.text-list-items {
			margin: 0;
			padding: 0;
			position: relative;

			> li.text-list-item {
				position: relative;
				padding-left: 16px;
				margin: 21px 0;
				@include rem(font-size, 16px);
				line-height: 1.3;

			 	&:after {
			 		content: '';
			 		position: absolute;
			 		left: 0;
			 		top: 7px;
			 		@include icono(7px, 7px, -76px, -1516px);
			 	}			
			}
		}
	}
}