{% extends 'PtiBundle:Default:framework.html.twig' %}

{% block metatitle %}
    <title>Reto Onficina</title>
{% endblock %}

{% block customHead %}
    {#<link href="bundles/pti/apple-touch-icon.png" rel="apple-touch-icon" />#}
    <link href="{{ asset('bundles/pti/apple-touch-icon-152x152.png') }}" rel="apple-touch-icon" sizes="152x152" />
    <link href="{{ asset('bundles/pti/apple-touch-icon-167x167.png') }}" rel="apple-touch-icon" sizes="167x167" />
    <link href="{{ asset('bundles/pti/apple-touch-icon-180x180.png') }}" rel="apple-touch-icon" sizes="180x180" />
    <link href="{{ asset('bundles/pti/icon-hires.png') }}" rel="icon" sizes="192x192" />
    <link href="{{ asset('bundles/pti/icon-normal.png') }}" rel="icon" sizes="128x128" />
{% endblock %}

{% block content %}

   HOME RETO
    
    <ul>
    <li>Borrar ficheros react.js</li>
    <li>Borrar routing antiguo</li>
    <li>Borrar imágenes antiguas</li>
    </ul>
{% endblock %}
